[2020-07-09 21:17] RayStick commented on #271
Really sorry everyone @physiopy/phys2bids  - I completely missed this call today!

[2020-07-09 21:23] RayStick commented on #271
But thank you for the minutes :)

[2020-07-10 07:13] eurunuela commented on #271
No problem @RayStick !

[2020-07-16 15:56] tsalo commented on #271
Can this be closed?

[2020-07-16 17:25] #272 closed

[2020-07-16 17:26] #271 closed

[2020-07-16 17:30] smoia commented on #24
It definitely is! I'd ask @RayStick and @BrightMG @CesarCaballeroGaudes to answer because they have experience and very specific opinions about it!

[2020-07-16 17:35] smoia commented on #24
What I can say on our side is that, using Biopac and AcqKnowledge, we have a feedback from the MRI that we store in a channel. I think this is a direct feedback, but @CesarCaballeroGaudes knows better the exact setup we use.
I'm quite positive about the fact that we don't use psychopy or any other program to send the MRI trigger to the Biopac.

We also collect and store all the channels in Volts.

[2020-07-20 16:51] RayStick commented on #268
Yes, the M0scan refers to the calibration scan.

 However, there are 3 main approaches to ‘calibrating’ the asl data:
 1. Use a set numerical value  
2. Use an M0 scan (either acquired as a separate file or acquired within the main asl scan, normally the first volume)
3. No M0 scan is acquired. One is constructed by taking an average of all the control images from the main asl scan. This is only v

[2020-07-20 16:55] tsalo commented on #268
Thanks, that clarifies things perfectly.

[2020-07-20 17:38] RayStick commented on #24
I guess this topics relates to [this documentation](https://phys2bids.readthedocs.io/en/latest/bestpractice.html) that we have already, but maybe it would be good to eventually expand on this documentation, to add more specific recommendations for experimental set-up.    

Here are my initial thoughts:  

Our set-up (@BrightMG's lab at Northwestern) involves using AD Instrument’s Power Lab which r

[2020-07-22 22:01] RayStick commented on #268
To add a bit of context to this file (as I just worked it out) - the first trigger corresponds to M0 volume, the second trigger corresponds to a volume I want to ignore, and the rest of the triggers correspond to tag-control images. But these volumes are all contained within the same NIFTI file, so this is a bit complex ...

[2020-07-24 17:11] tsalo opened #277 "Improve documentation of physio setups"
## Detailed Description

Currently, there is some information about common setups in the [Best Practices page](https://phys2bids.readthedocs.io/en/latest/bestpractice.html). However, I think it would be very helpful to (1) get more specific about different overall setups and their strengths/weaknesses, (2) reorganize the documentation to distinguish the general setup and modality-specific hardware

[2020-07-26 15:48] tsalo opened #278 "Calculate and retain "blockified" version of trigger in dedicated property"
## Detailed Description

This issue stems from @smoia's comment in https://github.com/physiopy/phys2bids/pull/219#discussion_r457513658. Essentially, the BIDS-synchronized run labeling and splitting workflow in #219 requires onsets of physio runs _before_ the workflow is called (durations are useful for visualization, but not necessary). General splitting would also benefit from having a binarized

[2020-07-26 15:59] tsalo opened #279 "Handling of noncontiguous segments in BioPac recordings"
## Detailed Description

For multi-run workflows (including the one proposed in #219), the existence of noncontiguous segments (i.e., stopping and starting recording without saving to separate files) can present a problem for identifying runs, as there will be missing time in the overall time series that, at least currently, isn't reflected in the `BlueprintInput` object at all.

## Context / Moti

[2020-07-30 16:39] smoia commented on #232
@sangfrois can we close this issue?

[2020-07-30 17:01] smoia opened #280 "Add support for "configuration" files"
This moves both in favour of an easier management of the CLI and in favour of a quicker reusability of the pipeline,
also letting the centres that are interested (BCBL, NW, FIU, ...) to have a prepared setup to run phys2bids.
The idea is to be able to call phys2bids either with the commands that we know, or with a flag --config followed by a configuration file that gives all the arguments to phys2

[2020-07-30 17:05] smoia commented on #247
Another possible implementation is to add a flag in the parser (`-beh` and others) to tell the program to change the destination folder.
Alternatively, we can use different `-in` flags to indicate the same concept. @tsalo do you know if we can create a parser that has a required [field OR another field]?

[2020-07-30 17:06] smoia commented on #253
I guess optional it is!
I'll close this since it's the current setup.

[2020-07-30 17:06] #253 closed

[2020-07-30 17:08] #263 closed

[2020-07-30 17:09] tsalo commented on #247
[argparse's `add_mutually_exclusive_group()`](https://docs.python.org/3/library/argparse.html#mutual-exclusion) has a `required` argument, so you could specify that users **must** provide one of the arguments in the group, but no others.

[2020-07-30 17:11] smoia commented on #270
@physiopy/all , opinions?

[2020-07-30 17:36] sangfrois commented on #232
@smoia yes absolutely

[2020-07-30 18:26] #232 closed

[2020-07-30 21:35] RayStick commented on #270
I think "scan" makes sense to me. That's what I would use to describe it. And then a run suggests a _repeated_ scan.

[2020-07-31 07:36] dependabot-preview[bot] opened #281 "Dependabot can't evaluate your Python dependency files"
Dependabot can't evaluate your Python dependency files.

As a result, Dependabot couldn't check whether any of your dependencies are out-of-date.

The error Dependabot encountered was:

[code]

[View the update logs](https://app.dependabot.com/accounts/physiopy/update-logs/42117830).

[2020-07-31 09:08] smoia commented on #279
@tsalo do you have a file like the one you're describing to see?
I thought that when stopping and restarting recordings, AcqKnowledge just stitched together the timeseries as if it was a continuous recording.
@sangfrois implementation of multi-runs splits should treat this kind of files without any issue, I don't  know if yours would encounter more problems. If that's the case, we can write in the

[2020-07-31 12:43] tsalo commented on #279
I have a couple, but they all have identifiable timestamps. I can try to see if I can overwrite the timestamps to make the files shareable.

AcqKnowledge does just stitch the time series together, but this hides the missing time. The segments can be accessed, though, in order to see when those breaks occur, although without timestamps there's no way to know how long those breaks are. At least not

[2020-08-05 07:36] vinferrer commented on #274
i can take care of this at some point, it should be quite easy since the trigger is "always" in the greatest frequency

[2020-08-05 07:37] vinferrer commented on #273
Did we stablish a limit on how much time a good first issue can be unresolved?

[2020-08-11 11:22] vinferrer opened #282 "Sampling starting time is different in frequency outputs"
Right now the sampling starting time is different for outputs with different frequencies when the file is multifreq

## Expected Behavior
sampling starting time is the same in all frequency files

## Actual Behavior

the sampling time is different in each file. this is due to the fact that BlueprintOutput.init_from_blueprint is assuming that the time channel is always in the blueprint  input objec

[2020-08-13 14:13] eurunuela opened #287 "Trigger plots won't save when on automatic testing mode"
## Expected Behavior

When running pytest on CircleCI, Travis and Azure, the trigger plots should get saved.

## Actual Behavior

Trigger plots don't get saved when running pytest on CircleCI, Travis and Azure. The `plt.savefig()` function gets stuck.

## Specifications

    - Python version: 3.6 and 3.7
    - phys2bids version: v2.1.0+29.g2007d8b
    - Platform: CircleCI, Travis and Azure Pipelin

[2020-08-19 06:46] #282 closed

[2020-08-19 07:25] #281 closed

[2020-08-19 10:09] eurunuela commented on #230
What do you mean by "new function in `viz.py`?

[2020-08-19 10:11] eurunuela commented on #265
Was this fixed @vinferrer ?

[2020-08-19 10:12] eurunuela commented on #239
Now that we do not use Travis, we should see how auto works with CircleCI.

[2020-08-19 15:52] eurunuela opened #293 "There are linting error that need to be addressed"
## Possible solution

Go one by one and fix them!

[2020-08-19 16:17] #293 closed

[2020-08-19 16:39] tsalo opened #295 "Reorganize I/O functions"
## Summary

I find the `phys2bids.interfaces.[modality].populate_phys_input()` structure unnecessarily confusing. Why not have `phys2bids.io.load_matlab()`, `phys2bids.io.load_text()`, and `phys2bids.io.load_acq()`?

Note: this stems from https://github.com/physiopy/phys2bids/pull/292#issuecomment-676525617.

## Additional detail

I understand the potential benefits to having multiple functions wi

[2020-08-19 16:55] eurunuela opened #296 "Build shield in README is still linked to Travis CI"
## Expected Behavior

Build shield in README should be linked to CircleCI.

## Actual Behavior

Build shield in README is still linked to Travis CI

## Possible solution

Changing [line 12 in README.md](https://github.com/physiopy/phys2bids/blob/master/README.md#L12) to the following:
`[![CircleCI](https://circleci.com/gh/physiopy/phys2bids.svg?style=shield)](https://circleci.com/gh/physiopy/phys2

[2020-08-19 20:35] #296 closed

[2020-08-20 07:42] eurunuela commented on #227
Hey @smoia , I think @tsalo should get the PR review emoji 😉

[2020-08-20 08:37] vinferrer opened #298 "add unit-tests to phys2bids.py inside test_phys2bids.py"
## Summary
Right now phys2bids.py doesn't have a unit test that checks all the if statements

## Additional deta

## Next Steps

Add these test inside test_phys2bids.py

[2020-08-20 14:24] eurunuela opened #299 "Better define exception types"
## Context / Motivation

Some of the Exceptions have no type defined.  Better defining them would make reading exceptions and testing easier. This issue is a follow-up of [a comment in #291](https://github.com/physiopy/phys2bids/pull/291#discussion_r474011685).

[2020-08-20 14:56] #276 closed

[2020-08-23 15:32] tsalo opened #300 "build_docs artifact job points to wrong build"
## Summary

The `build_docs artifact` status check uses [`circleci-artifacts-redirector`](https://github.com/apps/circleci-artifacts-redirector/) to provide an easy link to the CircleCI-built documentation. However, the status check link, across PRs, consistently points to a nonexistent artifact. I haven't seen this problem in other repos I know that use this app, including `NiMARE`, `bids-specifi

[2020-08-24 21:21] tsalo commented on #295
I'm happy to do this once #292 is merged, unless anyone has any issues with the proposed change.

[2020-08-24 21:44] eurunuela commented on #295
I'd appreciate that @tsalo

[2020-09-05 10:40] smoia opened #301 "phys2bids September developer call (10.09.2020 @ 14.30 UTC)"
The call will take place over **Skype** [here](https://join.skype.com/Rm4B7R30TG6g).
We're moving back to Skype from Jitsi.

Find the agenda [here](https://docs.google.com/document/d/1_FlqZermeR_6v18LJ__o2cE3EBssful2YGdDoCLi9uM/edit?usp=sharing) and don't be scared to add/suggest/press for topics!

Old minutes are [here](https://drive.google.com/open?id=1zfc-hgRcU1k2XdqKD8v6TGwQX_jeCUea)

[2020-09-08 12:32] vinferrer commented on #280
- [ ] We could actually put this config file to the folder ``code/conversion`` both when is introduced by the user and when the flags are manually inputted. This way a person can call manually phys2bids flags and then reused the generated config files for other recordings so they only have to change a few parameters

[2020-09-11 08:42] eurunuela opened #303 "Run tests on Windows using CircleCI"
## Detailed Description

Now that we have CircleCI running and is not giving us any problems, we should write some tests on Windows. This would make our testing suite only depend on CircleCI (i.e., we would not need Azure anymore). This way, we avoid having two different setups and two different places to check the logs.

## Possible Implementation

I would only run the integration tests on Window

[2020-09-11 12:10] vinferrer commented on #303
I think this is great to only depend on one platform, however i don't understand the problems with the second part. Are you suggesting to have less test on windows, like only integration tests?

[2020-09-11 12:10] #301 closed

[2020-09-11 12:55] eurunuela commented on #303
Yes, that's my suggestion. I don't think unit tests would be necessary on Windows. If something doesn't work on Windows, I think the integration tests would find it.

[2020-09-14 07:56] vinferrer commented on #303
I completely agree with you

[2020-09-14 12:03] smoia commented on #303
I agree on the fact that we probably don't need to run all the tests in Windows since we run them already in Linux, but we do need to be sure that all the code is run at least once in Windows, especially for those commands that might be affected by the different OS (so far, paths, but maybe something else too). I'm not sure that integrations are the best candidate for that, while maybe one integra

[2020-09-14 15:14] smoia commented on #295
Right, we _could_ do that actually - I don't have a strong opinion against it, as long as the imports are in the function definitions.
Since you're there, actually trying the imports and otherwise break the code with a message that tells the user to install the missing library would be awesome!

[2020-09-16 07:33] vinferrer opened #304 "Tests output files are not deleted"
Some files are not deleted once tests are finished.

## Expected Behavior
Tests should not leave any files or folders.

## Actual Behavior

## Steps to Reproduce the Problem

![image](https://user-images.githubusercontent.com/38909338/93305810-53085e80-f7ff-11ea-8370-68f4e05f4f4c.png)

## Specifications
    - Python version: Python 3.6.9
    - phys2bids version: phys2bids v1.3.0-beta+1033.gc02826e

[2020-09-16 07:40] vinferrer commented on #287
I want to update this. Actually since you added the flag to not execute these test in circleCI, I think they do not execute in local anymore neither:
![image](https://user-images.githubusercontent.com/38909338/93306849-ae871c00-f800-11ea-8533-81863d4f455a.png)

[2020-09-16 08:37] #274 closed

[2020-09-16 08:52] eurunuela commented on #287
Indeed, I added a condition stating that we expect it to fail and that's exactly what you're seeing. We're gonna have to debug that.

[2020-09-16 12:13] vinferrer commented on #257
I think this is a good thing to implement, however we are gonna have to wait for #273. Since it will affect the ``chtrig``.

[2020-09-16 12:15] vinferrer commented on #273
Since This issue is affecting the implementation of #257 we should move to implement this. If someone with less experience in scripting the toolbox wants to try good. If not I am happy to do this quickly

[2020-09-16 12:52] eurunuela commented on #273
I'd say you could start to work on it, it's already been two months.

[2020-09-16 14:43] tsalo commented on #304
I'd recommend using a [`tmp_path_factory`](https://docs.pytest.org/en/stable/tmpdir.html#the-tmp-path-factory-fixture) to handle your testing-related folders.

[2020-09-18 20:41] #273 closed

[2020-10-05 10:49] smoia opened #309 "phys2bids October developer call (08.10.2020 @ 14.30 UTC)"
The call will take place over **Skype** [here](https://join.skype.com/Rm4B7R30TG6g).

Find the agenda [here](https://docs.google.com/document/d/1WJTM0CQc0FKpIZBhU5i8nbUrM_E-_i8BsJRpxCrOz1E/edit?usp=sharing) and don't be scared to add/suggest/press for topics!

Old minutes are [here](https://drive.google.com/open?id=1zfc-hgRcU1k2XdqKD8v6TGwQX_jeCUea)

[2020-10-07 14:11] #192 closed

[2020-10-08 11:26] vinferrer commented on #196
If no one does this, I am gonna opena PR and get one more for my hacktoberfest t-shirt

[2020-10-08 14:18] RayStick commented on #196
Go for it.

[2020-10-08 14:43] RayStick commented on #277
I think this is a great initiative. It will take time to cover all this, and summarize it well, so I won't promise to do that anytime soon, but I've flagged this as something I can contribute to.

[2020-10-08 16:44] yarikoptic opened #311 "strip "v" prefix from phys2bids.__version__, make it semver"
ATM
[code]
which is awesome that it includes git information, but

- not good that has `v` prefix.  `v` in git tags is ok, but undesired for `__version__` which should be just the version .  Check other modules (e.g. numpy etc) -- they all lack any `v` prefix in `__version__`.  Dropping it would make `__version__` immediately a proper semver (although "build" doesn't support sorting, but sorting o

[2020-10-08 16:44] yarikoptic commented on #192
oh, I never commented on, sorry.

semver is applicable regardless of the speed of development IMHO... anyways - I see now all wonderful `v2.1..` tags, so the right decision was made IMHO minor tuneup(s) are due: https://github.com/physiopy/phys2bids/issues/311

[2020-10-08 20:28] smoia commented on #311
@yarikoptic thank you for your suggestion!
We're actually trying to move toward an automatic tag/release pipeline. Do you think (or know if) there is a way to still have annotated tags with automatic release? @hipstersmoothie is `auto` doing this already, or would it be possible to implement this feature?

[2020-10-08 21:05] hipstersmoothie commented on #311
1. The tags `auto` creates are annotated
2. There is a config option for this. it was missing from the docs https://github.com/intuit/auto/pull/1577/files

[2020-10-08 21:31] smoia commented on #311
Oh, that's great news! So we really need to finish implementing auto for this to be solved - @yarikoptic do you think it's necessary to strip the prefix from existing versions too? I would much like to avoid it!

[2020-10-08 21:45] yarikoptic commented on #311
I am "forward looking" -- otherwise we would need to port all bug fixes to all previous releases of everything and have no time for actually going forward ;)

[2020-10-08 22:21] smoia commented on #278
@physiopy/phys2bids does anyone wants to help with this issue in order to unblock #219?

Ideas are welcome!

i think we can apply something similar to `BlueprintInput.check_trigger_amount` - maybe even that same function, expanded a little.

[2020-10-09 21:07] #309 closed

[2020-10-09 21:12] smoia commented on #230
@eurunuela @sangfrois @vinferrer don't we have new tests now? Should we close this issue?

[2020-10-09 21:14] smoia commented on #211
I'm adding GFI label since option 1 (retune threshold) is quite simple.
Basically, it would be about modifying a line in `physio_obj.py`.
If anyone is interested, I can help with the implementation.

[2020-10-10 08:03] eurunuela commented on #230
Yes, I think we can close this.

[2020-10-10 08:03] #230 closed

[2020-10-13 14:15] tsalo opened #314 "BlueprintInput.check_trigger_amount() modifies inputs"
## Expected Behavior

Inputs to `BlueprintInput` should remain unmodified outside of the class (i.e., any changes to its inputs should be done on copies, rather than the original objects).

## Actual Behavior

`BlueprintInput.check_trigger_amount()` modifies the original time series corresponding "time". I have not dug into all of the `BlueprintInput` code looking for this issue specifically, so I

[2020-10-13 16:51] #196 closed

[2020-10-13 17:00] tsalo commented on #314
I think it would be quite uncommon for users to encounter this bug. I'm more worried about leaving it unresolved and then having a function added later on that creates `BlueprintInput` objects from in-memory data, but also uses the original data for something else.

[2020-10-13 18:12] eurunuela commented on #314
The reason I asked is cause if it's not critical, we could add it as a GFI for Brainhack Donostia and make sure this issue is closed by the end of the event.

I think it's a perfect GFI for the event to be honest, and there's no need for a Python ninja to program it 😉

[2020-10-14 16:43] #239 closed

[2020-10-14 16:43] #311 closed

[2020-10-15 12:37] vinferrer opened #319 "WSL windows installation"
## Phys2bids is able to work in ubuntu 20 Windows Subsystem for Linux version in windows 10 1904
    - I have been tweaking with my windows 10 system and I manage to install correctly phys2bids, process files and access them from windows.
    - I believe we could add this installation in the docs for Windows.
    - I would like to bring this to discussion

[2020-10-15 12:40] vinferrer commented on #319
Which leads me to the question, how do you do the test in windows @eurunuela ?

[2020-10-15 12:45] smoia commented on #319
Good point @vinferrer! @physiopy/all, what's your point of view? If this works, we could just drop Windows testing altogether, no?

[2020-10-15 13:14] vinferrer commented on #319
Well, the thing is that WSL is more a developer option, so if we have windows support and we can install it in windows I would put that installation in the docs

[2020-10-15 13:15] vinferrer commented on #319
I did in my computer because now i don't need to change from windows to ubuntu to work in phys2bids but that's all

[2020-10-15 15:49] eurunuela commented on #319
I would need to look into that. @rmarkello prepared the tests for Windows if I'm not wrong.

Anyway, my guess is you can figure it out by looking at the azure pipeline.

[2020-10-15 18:21] rmarkello commented on #319
:wave: there!

I did add the Azure pipelines for testing on Windows, yes! I agree with @vinferrer here: WSL is a great option for developers, but I would absolutely encourage keeping Windows testing to ensure that researchers who use Windows can just run `phys2bids` natively (i.e., without having to set up WSL themselves!).

[2020-10-15 19:12] eurunuela commented on #319
The idea is to move the windows testing to CircleCI so we do all our testing there. We wouldn't use your azure pipeline account either, so win-win.

[2020-10-16 08:10] #304 closed

[2020-10-16 08:13] eurunuela commented on #319
You could try following these steps (they're taken from the Azure pipeline).

![Screen Shot 2020-10-16 at 10 12 06 AM](https://user-images.githubusercontent.com/13706448/96231824-1bc0d500-0f98-11eb-9522-b7d73160b4bd.png)

[2020-10-16 08:32] vinferrer commented on #319
I have check the script, however i do not understand how it is downloading phys2bids, although i suposse it is alreadly in pip, this version of the installation seems to install from the repo

[2020-10-16 09:08] smoia commented on #319
Maybe considering [this file](https://github.com/physiopy/phys2bids/blob/master/azure-pipelines.yml), [this file](https://github.com/physiopy/phys2bids/blob/master/.azure-pipelines/windows.yml), and [the logs](https://dev.azure.com/physiopy/phys2bids/_build/results?buildId=565&view=logs&j=2c855bde-037d-57e7-f7a3-61fc65066dac&t=671556eb-5e24-5ed7-3cee-fd6769c5790e), helps. It seems that Azure clone

[2020-10-16 11:04] vinferrer commented on #319
I have managed to install phys2bids in windows 10 with pip, I think we can just put this installation, It will be much easier for the normal user

[2020-10-16 11:05] vinferrer commented on #319
I may open a PR for this at somepoint

[2020-10-19 09:23] smoia commented on #304
:rocket: Issue was released in [`2.2.1`](https://github.com/physiopy/phys2bids/releases/tag/2.2.1) :rocket:

[2020-10-19 09:23] smoia commented on #311
:rocket: Issue was released in [`2.2.1`](https://github.com/physiopy/phys2bids/releases/tag/2.2.1) :rocket:

[2020-10-19 09:23] smoia commented on #239
:rocket: Issue was released in [`2.2.1`](https://github.com/physiopy/phys2bids/releases/tag/2.2.1) :rocket:

[2020-10-19 16:41] smoia opened #324 "Going black (i.e. adopting an _opinionated_ python code formatter)"
I was already thinking about proposing it, but then @tsalo applied it on his #219 so it's a good moment to propose it.

In the line of automating all that is automatable, there is one more thing we should adopt, a _code formatter_.

Code formatters are scripts that chew our code and our PRs and spit out a standardised formatted version of the code, _as long as the code doesn't contain big mistakes

[2020-10-19 16:45] smoia commented on #324
(Personally, I don't _love_ black because I prefer using `'` over `"` in strings - I find it more readable. However, I can adapt to a life of `"` if we decide we like Black so much).

[2020-10-19 16:55] smoia opened #325 "Brainhack Donostia and Global 2020"
It's Brainhack season again!
From November 9th to November 13th [Brainhack Donostia](https://brainhack-donostia.github.io/) will take place, while between November 30th and December 13th more sites will join the Brainhack global.

We can present projects (that will need a leader) to these events. Any suggestion/volunteer?

[2020-10-19 17:00] smoia commented on #325
The Basque contributors are all members of the organising team of Brainhack Donostia, so we will be there. I was already thinking about proposing a project or two (or three or four or five or ..), but I'd like to hear from you what you think we could propose and where, also because being part of the organising committee means we won't be able to dedicate all of our attention to these projects, so

[2020-10-19 17:01] tsalo commented on #324
I had similar reservations about `black` (and for the same reason), but I've adapted and adopted it for `NiMARE`. It vastly improves readability across programmers (not so much _within_ programmer, but that's going to be the case for any code formatter). I haven't played with YAPF, but I use `black` and vote for it.

I'd also recommend using `isort` to automatically sort imports alphabetically and

[2020-10-19 17:18] eurunuela commented on #325
I think updating the documentation is a big necessity right now, so that could be a project.

I'd like to point out that submitting the projects by November 4th will make them more visible, as they'll be taken into account by the Brainmatch algorithm we're working on. This algorithm will show every attendee their top 3 matching projects. This means we could potentially get new contributors!!! The

[2020-10-19 17:19] eurunuela commented on #324
I'm happy with `black` and `isort` even if I don't like writing my strings with `"` 😅

[2020-10-19 17:37] 62442katieb commented on #324
I feel the same! (both about `"` vs `'` and about `black`)

[2020-10-20 15:13] smoia commented on #324
I thought the `'` vs `"` was an OCD moment of mine, glad to see it's not (or it's a shared OCD moment).
I have three options then:
1. We momentarily run black on the repo, while we dedicate a little part of the brainhack setting up YAPF for our repos, or
2. We set up YAPF ASAP (volunteer needed) so that we don't stall #219 any further and @tsalo can run it before our review.
3. We accept our human

[2020-10-20 15:36] tsalo commented on #324
It's easy enough to just incorporate `black` into your CI. You just need to swap out `flake8` with `flake8-black` in your dependencies, and then calling `flake8` in the CI should use the `black` version automatically. See [here](https://github.com/neurostuff/NiMARE/pull/300).

`isort` does the following:

[code]

I think that fits with what you're saying.

[2020-10-20 17:03] eurunuela commented on #324
I'm happy with @tsalo 's suggestion.

[2020-10-20 19:28] smoia commented on #324
@tsalo would you be able to set up the PR?

[2020-10-20 19:29] tsalo commented on #324
Will do!

[2020-10-20 19:33] smoia commented on #324
Thanks! Once you open it, you can label it _internal_ and assign the PR to me - I'm going to MRev it!

[2020-10-23 15:32] eurunuela commented on #300
My CI is running on my fork independently. That may be the reason but I still do not understand what's wrong. `phys2bids -v` always returns the latest version to me.

[2020-10-23 16:08] tsalo commented on #300
The issue is that the `build_docs_artifact` step isn't resolving a URL to the same place where the actual docs artifacts are (from the `build_docs` step). `build_docs_artifact` _should_ just point to the `index.html` file uploaded to CircleCI's artifacts from `build_docs`, so you can view the RTD site with a single click.

Here are the URLs for the actual index.html files for the `build_docs` step

[2020-10-23 17:29] tsalo commented on #300
@eurunuela If we merge #331 and you can update from `master` to merge those changes into one of your PRs (e.g., #243), we can see if it's a problem that you're running CI as well.

[2020-10-23 17:59] eurunuela commented on #300
I'll have to do that tomorrow. Thank you @tsalo !

[2020-10-23 19:45] RayStick commented on #324
Sorry for the slow response - this all sounds fine to me as long as there is some guidance/documentation on how to incorporate black locally if that's what we go for. :sweat_smile: Not that I am doing that much Python coding but one day  ...

[2020-10-24 07:09] eurunuela commented on #300
Thank you so much for your help @tsalo !

How can we do that? What CircleCI settings do we have to change?

I just merged with the fix in #331 and still see the wrong build number.

[2020-10-25 23:44] tsalo opened #332 "Rename utils.writefile() to utils.write_file()"
## Summary

Most of the functions in `phys2bids.utils` are in PEP8-compatible snake case, but [`phys2bids.utils.writefile()`](https://github.com/physiopy/phys2bids/blob/da3a5306a91a046f3956f1d033b6f86b5c14611b/phys2bids/utils.py#L212) is not. We can rename it to `write_file()` to match convention.

## Next Steps

    * Rename the function
    * Update tests
    * Update all uses of the function th

[2020-10-25 23:46] tsalo opened #333 "Rename utils.writejson() to utils.write_json()"
## Summary

Most of the functions in `phys2bids.utils` are in PEP8-compatible snake case, but [`phys2bids.utils.writejson()`](https://github.com/physiopy/phys2bids/blob/da3a5306a91a046f3956f1d033b6f86b5c14611b/phys2bids/utils.py#L238) is not. We can rename it to `write_json()` to match convention.

## Next Steps

    * Rename the function
    * Update tests
    * Update all uses of the function th

[2020-10-25 23:51] tsalo opened #334 "Replace utils.path_exists_or_make_it() with os.makedirs()"
## Summary

The function [`phys2bids.utils.path_exists_or_make_it()`](https://github.com/physiopy/phys2bids/blob/da3a5306a91a046f3956f1d033b6f86b5c14611b/phys2bids/utils.py#L113) can be replaced with [`os.makedirs(exist_ok=True)`](https://docs.python.org/3/library/os.html#os.makedirs). It also doesn't require the `if` statement that's used to check if the path already exists.

## Next Steps

    *

[2020-10-25 23:54] tsalo commented on #334
Alternatively, we could invest fully in `pathlib` and use that instead, I think.

[2020-10-26 08:33] eurunuela commented on #332
Thank you @tsalo ! I think this can be a good issue for Brainhack Donostia.

[2020-10-26 13:33] eurunuela commented on #300
Okay, I solved it @tsalo . In the _Projects_ page I had to unfollow _phys2bids_. That was making the tests run on my fork instead of the main project.

This said, I will now check which of the open PRs have the wrong build on the tests and ask the contributors to do this.

Thank you for your help once again @tsalo !

[2020-10-26 13:33] #300 closed

[2020-10-27 11:26] smoia commented on #325
@physiopy/all, I'm sorry to keep bothering you but if we want to submit a project to the BHD we need to do so before our next dev call.

Some possible ideas we could propose are:
1. phys2denoise: design reconsideration, script of the skeleton, current PR integration
2. phys2denoise: integration of new measures/regressors
3. physiopy: Improve documentation on physiological acquisition and use-cases

[2020-10-27 11:30] eurunuela commented on #325
I would be great if someone could finish #292 . As the chair of this year's event, I will be very busy during the event but I'll still try to help with any physiopy project.

[2020-10-27 16:28] sangfrois commented on #325
@smoia thanks again for taking the lead Stefano! PLEASE CONTINUE "BOTHERING" US!

I'm quite busy with advancing my master's thesis and preping the neuromod physiological data. Actually, I think my work could fall in the scope of the 3rd point you mentioned (`physiopy: Improve documentation on physiological acquisition and use-cases`).

I'm building a set of tools to deal with 10 hours of data we'v

[2020-10-27 16:48] tsalo opened #335 "Replace utils.check_input_dir() with os.path.abspath() or pathlib Path object"
## Summary

The function [`utils.check_input_dir()`](https://github.com/physiopy/phys2bids/blob/da3a5306a91a046f3956f1d033b6f86b5c14611b/phys2bids/utils.py#L14), which removes trailing `/` characters from paths, could be replaced either with `os.path.abspath()` (or a similar `os.path` function) or by using `pathlib` for paths (in which case, handling of trailing characters and the like is done und

[2020-10-27 16:52] tsalo opened #336 "Replace utils.move_file() with shutil.move()"
## Summary

I think that the function [`utils.move_file()`](https://github.com/physiopy/phys2bids/blob/da3a5306a91a046f3956f1d033b6f86b5c14611b/phys2bids/utils.py#L152) could be replaced with `shutil.move()`, which automatically overwrites existing files, as desired in `utils.move_file()`.

## Next Steps

    * Remove the function and associated tests
    * Remove the item from the API docs page

[2020-10-27 17:11] eurunuela commented on #325
@sangfrois I think that's great! If not phys2bids related, it could be a Brainhack project on its own!

[2020-10-27 22:27] RayStick commented on #325
Hi all, things are pretty busy right now, and I am back in the lab doing some pilot scanning. So I am just about keeping up reviewing PRs now and again (thought I know I am a bit slow with that …)! Brainhack Donostia looks really great but I didn’t sign up because I didn’t think I would have time to lead or be too involved in coding projects. I will remind the rest of the Bright lab about it thoug

[2020-10-28 07:29] jiyoungsin commented on #336
hey would it be cool if i gave this a shot?

[2020-10-28 07:29] jiyoungsin commented on #336
[https://github.com/physiopy/phys2bids/pull/337](https://github.com/physiopy/phys2bids/pull/337)

[2020-10-28 07:55] eurunuela commented on #336
Of course!

Actually, I see we don't use the function anywhere but its own unit test. Shall we just remove the function and unit test? @physiopy/phys2bids

[2020-10-30 11:43] smoia opened #338 "phys2bids November developer call (05.11.2020 @ 15.30 UTC)"
The call will take place over **Skype** [here](https://join.skype.com/Rm4B7R30TG6g).

Find the agenda [here](https://docs.google.com/document/d/1jHK96_3a-fnx3wJXgBmZAvws0PBWZtCUftyY8qDIZ8I/edit?usp=sharing) and don't be scared to add/suggest/press for topics!

Old minutes are [here](https://drive.google.com/open?id=1zfc-hgRcU1k2XdqKD8v6TGwQX_jeCUea)

*This is an exception to the meeting dates, sin

[2020-10-30 13:17] 62442katieb commented on #325
I agree with @sangfrois, please keep bothering us, @smoia!

I'm also willing to help with documentation (i.e., 3 and 4, above). I'm not sure I know enough about physio-based denoising to be much help with phys2denoise, but I'm happy to contribute wherever there's a need!

[2020-10-30 14:16] smoia commented on #325
Alright!
So, should we open three projects? One can be phys2denoise (me), one documentation (@sangfrois), and @62442katieb, if you don't mind, you could open a phys2bids to follow the good first issues and contribute wherever you want (documentation, phys2denoise, phys2bids, ...), helping in planning phys2denoise, helping with documentation updates, and seing if you want to close some PRs around f

[2020-10-30 14:24] sangfrois commented on #325
That sounds like a good plan to me @smoia ! 👍

[2020-10-30 14:31] eurunuela commented on #325
I think there will be time.

[2020-10-30 14:32] smoia opened #339 "Add support for Siemens physiological recordings"
Long story short, there is the possibility of acquiring physiological files with the MRI scanners. All the Siemens physiological converters I found are not being currently maintained (not a problem), and the files might be more straightforward to work with than expected (in the end, they are text files).

The two solutions I found are [ostanley/physio2bids](https://github.com/ostanley/physio2bids)

[2020-10-30 14:33] smoia commented on #325
Ok, let's tag the three of us in each project anyway, so that we can help each other in their completion!

[2020-10-30 14:35] tsalo commented on #339
Doesn't [`cbinyu/bidsphysio`](https://github.com/cbinyu/bidsphysio) support Siemens data? They have an MIT license.

[2020-10-30 14:35] eurunuela commented on #325
Please submit the project by Monday!

[2020-10-30 14:39] smoia commented on #339
Ah, that is true! It can be another implementation then - if anyone wants to dig their code for it!

[2020-10-30 15:20] 62442katieb commented on #325
Works for me! I'll go ahead and propose a general phys2bids upkeep/documentation project later today.

[2020-11-02 07:36] #319 closed

[2020-11-02 08:03] smoia commented on #325
How is the submission going?

I saw that we opened brainhackorg/global2020#39, brainhackorg/global2020#40, and brainhackorg/global2020#46.

Let's check that there is everything and the projects are not overlapping!

We can also add a picture to the issue first message to have it displayed in the website. phys2bids has its own image [here](https://github.com/physiopy/phys2bids/blob/master/docs/_sta

[2020-11-02 15:01] smoia commented on #319
:rocket: Issue was released in [`2.2.4`](https://github.com/physiopy/phys2bids/releases/tag/2.2.4) :rocket:

[2020-11-03 10:54] smoia commented on #325
@sangfrois @62442katieb [here](https://slides.com/ephraim24/physiopy-open-development-solutions-for-physiology-in-mri-e8a4a1)'s the presentation I used during the OHBM hackathon (proposal and wrap up). If you want to have a look at it, the one I'm going to prepare for Monday is going to be very similar.

BTW, are you going to present on Monday? I know 8 AM might be a bit early...

[2020-11-03 11:58] sangfrois commented on #325
Cool, thanks for sharing your slides, I'll surely have a look at them.

I guess it wouldn't have been a problem for the early morning presentation. Though, I'm busy scanning for neuromod in that time slot. I'll be able to join in, but won't be able to interact.

[2020-11-05 01:49] jiyoungsin commented on #336
Hey @smoia thanks for the assign, however, I am currently working on another project. Would it be cool if @eurunuela got the role?

[2020-11-05 02:05] 62442katieb commented on #325
Yes, thanks for sharing the slides! I will be able to present on Monday (with the help of a sizeable mug of coffee), so I'll whip up a similar slide deck and share.

[2020-11-05 08:20] smoia commented on #336
Hey @jiyoungsin !
I saw that you already have an open PR in review for this issue. That's why I assigned it, nothing major. Check the PR out!

[2020-11-05 18:20] RayStick opened #340 "Submissions to journals"
At a point in the project that seems sensible, we should consider submitting to journals that allow code/tutorial/data submissions, for example:

[Aperture](https://www.humanbrainmapping.org/i4a/pages/index.cfm?pageID=4009&activateFull=true)
[JOSS (Journal of Open Source Software)](https://joss.theoj.org/)

Relevant for @physiopy/all to give opinions on, but specifically:

@62442katieb may have in

[2020-11-05 19:15] 62442katieb opened #341 "ISMRM Abstract"
I'm opening this discussion because we would like to submit an abstract to ISMRM (due Dec. 16, [abstract call here](https://www.ismrm.org/21m/call/)). I have volunteered to take the lead writing it (with input from @smoia and @RayStick, among others - everyone is welcome and invited to weigh in). Will begin a GDoc shortly.

## Outstanding questions
    - What points would we like to highlight in t

[2020-11-08 22:59] smoia commented on #325
I updated the slides for this event - @62442katieb I was thinking that maybe I can present phys2denoise first, then pass the line to you for phys2bids, then take it back to explain what @sangfrois is going to do! Does it make sense?
If you guys have slides already/ready, let me know!

[2020-11-08 23:59] sangfrois commented on #325
[HERE ARE MY SLIDES](https://docs.google.com/presentation/d/1nEmUgnB1e0I0I-szQIJ4VQjFrROn9hfhMfJ-mBzGLjA/edit?usp=sharing), thanks for the reminder, Stefano!

Hope everything looks fine to you !

[2020-11-09 00:47] 62442katieb commented on #325
[Here are my slides!](https://docs.google.com/presentation/d/1zlgwpQ3tskJQYyiC9uEw0FX146I6acp38SWiqGZ9n0M/edit?usp=sharing) Did you want to do a mega presentation of the three projects under the physiopy umbrella or as three separate presentations in a row? Either way, my slides probably have a good bit of overlap with what you've got.

[2020-11-09 07:38] smoia commented on #325
Ok, thank you guys!
@62442katieb the idea is to make three separate presentations, but one after the other. I'll integrate @sangfrois

[2020-11-11 10:19] #336 closed

[2020-11-11 10:54] #332 closed

[2020-11-12 15:03] vinferrer commented on #295
What if we just do this and then add the matlab thing. I have been working in it with eneko and we arrived to the conclusion that we are gonna duplicate code

[2020-11-12 15:29] eurunuela commented on #295
I think it makes more sense to do the refactoring first. We have realized that adding support for Matlab requires using code that has already been written for acq files.

[2020-11-12 15:32] tsalo commented on #295
I know I agreed to take this on (and would be happy to if this was happening next week or something), but I'm pretty buried. Would someone else be willing to do the refactor? I'm happy to review.

[2020-11-12 16:16] vinferrer commented on #295
I can do it, most of the funtions are mine actually

[2020-11-12 16:17] vinferrer commented on #295
but for sure not during the brainhack, this requires deep reorganization

[2020-11-12 16:49] vinferrer commented on #295
So We can to 2 things:
1. Do a tiny PR that Move the relevant functions to the same submodule (`phys2bids.io`). Rename the functions from populate_phys_info() to load_matlab(), load_acq(), and load_text() (or similar). Update tests and API documentation.
2. A bigger PR after 1 that reorganizes this and avoids duplicated code. specially for the load_txt part.
What do you think?

[2020-11-12 16:50] smoia commented on #295
Wait, are you thinking about creating a submodule?

[2020-11-12 16:58] vinferrer commented on #295
I am thinking about putting together phys2bids.interfaces.acq and phys2bids.interfaces.txt into phys2bids.interfaces.io

[2020-11-12 17:02] vinferrer commented on #295
The second PR would be about changing that `txt.py` code so there is no so many duplicities

[2020-11-12 17:50] eurunuela commented on #295
Sounds good to me! Thank you Vicente.

[2020-11-12 22:09] merelvdthiel commented on #334
Hey, I would like to make this my first GFI, would that be ok?

[2020-11-12 22:10] merelvdthiel commented on #333
Hey, could I work on this issue?

[2020-11-12 22:55] 62442katieb commented on #335
I'm on it!

[2020-11-12 23:57] #334 closed

[2020-11-13 08:44] vinferrer commented on #314
Guys, I just tried the code in my computer and the output doesn't get modified. Did someone address this without closing the issue?
[code]

[2020-11-13 08:58] vinferrer commented on #314
If not. Could someone tests this?

[2020-11-13 08:59] vinferrer commented on #314
[code]

[2020-11-13 09:00] #333 closed

[2020-11-13 09:03] vinferrer commented on #314
i have been checking and the last line should be:
`assert np.array_equal(blueprint_in.timeseries[0], test_time_backup), "Array has been modified" `

[2020-11-13 09:06] vinferrer commented on #314
[code]
I think these are the lines that produces this change in `blueprint_in.timeseries[0]`

[2020-11-13 09:10] vinferrer commented on #314
So which of these outputs do we want that change when executing `blueprint_in.check_trigger_amount`?

[2020-11-13 09:21] vinferrer commented on #314
[code]
I have been doing trials, the thr does not appear in `blueprint_in` until the `check_trigger_amount` gets executed,
timeseries[0] gets modified and  time_offset is also modified

[2020-11-13 09:28] vinferrer commented on #314
[code]
I propose all these become outputs to the function and we assign them outside the method

[2020-11-13 10:26] smoia opened #348 "Add badges instead of labels name in the contribution guidelines"
Following a comment from @tsalo in #315 , it's much much better to put badges for labels instead of their names in the contribution guideline.

## Possible Implementation

- Look at the labels page in GitHub (e.g. [here](https://github.com/physiopy/phys2bids/labels))
- Go to [shields.io](https://shields.io/)
- Create a badge for each label with the right colours and a flat style (the closest to th

[2020-11-13 10:27] merelvdthiel commented on #348
Hey, would it be ok if i work on this issue?

[2020-11-13 10:43] #295 closed

[2020-11-13 20:47] sangfrois opened #351 "Remove redundant files in docs and discuss general reconfiguration"
## Reorganization of physiopy's documentation -> Removal of files in `` phys2bids``
I have pushed a few changes on ``physiopy.github.io`` [PR#2](https://github.com/physiopy/physiopy.github.io/pull/2).  Essentially, we want to have a main website for the community that redirects the users to each package's `readthedocs` page.

We don't want to be redundant, so *THESE FILES HAVE TO BE DELETED* from

[2020-11-17 11:09] eurunuela commented on #351
What about `phys2bids/docs/contributing.rsr` ?

Maybe the "why use BIDS?" one too?

What do you think @RayStick @smoia ?

[2020-11-17 12:13] smoia commented on #351
Definitely contributing.rst, but I would keep "why use BIDS" here for the moment. If/when we expand it, we can change it.

[2020-11-17 18:57] sangfrois commented on #351
@smoia definitely would keep `controbuting.rst` ?

There were parts that seemed to be phys2bids specific... Am I correct in assuming this would have to be adapted if moved?

[2020-11-17 19:07] smoia commented on #351
Ah, I see why you say so.

The only `phys2bids` specific part I see is in the section [`Contributing with test files`](https://phys2bids.readthedocs.io/en/latest/contributorfile.html#testfile) - but it's actually not `phys2bids` specific - we can change the sentence from:

To

Is there anything else I'm missing?

[2020-11-17 19:09] smoia commented on #351
For the rest, that's our general contribution guidelines, so it should be very much package _unspecific_ and in `physiopy.github.io`!

[2020-11-20 10:42] smoia opened #355 "Add test to pass a BIDS validator"
## Detailed Description

I run a BIDS validator on a dataset that I BIDSified with an older version of phys2bids. Fun fact, after a while that the validator worked out fine, now it returns an error on the (old) way to express frequencies.
I realised that we are not testing whether we make output BIDS compatible or not - I know we are, but it is risky. We should check it AT LEAST on one output.
We

[2020-11-23 12:49] vinferrer opened #356 "Change master branch to main branch"
I'm opening this discussion because I think that there are several reasons to do this change:
1. Avoid racists and discriminative language implied in the ``master/slave`` words.
2. Since ``main`` is becoming a default in new repos, we should adopt it.

## Outstanding questions

    - I found a tutorial on how to do it, thought i don't have privileges. Who wanna take care of it:
    - https://steve

[2020-11-23 13:03] eurunuela commented on #356
Well, I'd say it's more about when we want to make the change.

As you say, it's a simple change to make but every phys2bids developer should be noticed first.

I think the best we can do is set a date and announce in a couple of weeks time to make sure we all know about the transition.

[2020-11-23 13:07] vinferrer commented on #356
Sure, that's why i oppened an issue

[2020-11-23 14:58] tsalo commented on #356
This came up in `tedana` as well (see https://github.com/ME-ICA/tedana/issues/619). Based on [this post](https://github.com/github/renaming/tree/4c8e50916922d98617e1c306afc8a8fcbf036a52#later-this-year-seamless-move-for-existing-repositories-), I think that GitHub will roll out changes before year's end to make the transfer easier. I would wait until GitHub announces those changes.

[2020-11-23 18:28] vinferrer commented on #356
oh, fair enough

[2020-11-25 20:49] 62442katieb commented on #341
Does anyone @physiopy/all have an ISMRM abstract they've previously submitted that I can take a look at in preparing this abstract?

[2020-11-25 21:50] RayStick commented on #341
I can try to dig up an abstract example that might be helpful!
And @kristinazvolanek has a very useful document (how to write an ISMRM abstract) that she might not mind sharing? :)

[2020-11-25 21:56] 62442katieb commented on #341
Thanks so much! Either/both of those would be so helpful!

[2020-11-25 21:59] kristinazvolanek commented on #341
Yes, happy to share! [Here](https://drive.google.com/file/d/1zVeBS78Deh51oVEk3D5LSUg_XbINRXJe/view?usp=sharing) is the link.

[2020-11-26 00:58] RayStick commented on #341
[phys2bids.pdf](https://github.com/physiopy/phys2bids/files/5599850/phys2bids.pdf)
[phys2bids_OHBM.pdf](https://github.com/physiopy/phys2bids/files/5599851/phys2bids_OHBM.pdf)
These were for OHBM but still might help. I guess it's a bit different for ISMRM as they don't have a 'software' category, I don't think?

[2020-11-26 01:00] RayStick commented on #356
Yes I am in full support of changing this but happy to wait a short while if that is sensible for logistics.

[2020-11-26 08:07] vinferrer commented on #355
In my txt functions yes we always transform the frequency to Hz

[2020-11-26 08:13] vinferrer commented on #355
io.py [#L117-L158](https://github.com/vinferrer/phys2bids/blob/io_txt/phys2bids/io.py#L117-L158)

[2020-11-26 08:22] vinferrer commented on #355
They seem to have a BIDS-validator library for python

[2020-11-26 13:44] vinferrer commented on #314
Has I explained in #357,  I couldn't reproduce the problem, if ``.copy()``  was removed  from the test_lines, (#358) tests still pass. I talked to @smoia  and now he cannot reproduce the bug in his computer and test pass also. Therefore I propose to remove the ``.copy`` as is done in #358 and be done with this issue

[2020-11-29 19:13] #25 closed

[2020-11-29 19:15] smoia commented on #25
:rocket: Issue was released in [`2.3.0`](https://github.com/physiopy/phys2bids/releases/tag/2.3.0) :rocket:

[2020-11-29 19:15] smoia commented on #42
:rocket: Issue was released in [`2.3.0`](https://github.com/physiopy/phys2bids/releases/tag/2.3.0) :rocket:

[2020-11-29 19:15] smoia commented on #314
:rocket: Issue was released in [`2.3.0`](https://github.com/physiopy/phys2bids/releases/tag/2.3.0) :rocket:

[2020-11-29 19:15] smoia commented on #42
:rocket: Issue was released in [`2.3.0`](https://github.com/physiopy/phys2bids/releases/tag/2.3.0) :rocket:

[2020-11-29 19:15] smoia commented on #334
:rocket: Issue was released in [`2.3.0`](https://github.com/physiopy/phys2bids/releases/tag/2.3.0) :rocket:

[2020-11-29 19:15] smoia commented on #314
:rocket: Issue was released in [`2.3.0`](https://github.com/physiopy/phys2bids/releases/tag/2.3.0) :rocket:

[2020-11-29 19:16] smoia commented on #42
:rocket: Issue was released in [`2.3.0`](https://github.com/physiopy/phys2bids/releases/tag/2.3.0) :rocket:

[2020-11-29 19:16] smoia commented on #314
:rocket: Issue was released in [`2.3.0`](https://github.com/physiopy/phys2bids/releases/tag/2.3.0) :rocket:

[2020-11-29 19:16] smoia commented on #42
:rocket: Issue was released in [`2.3.0`](https://github.com/physiopy/phys2bids/releases/tag/2.3.0) :rocket:

[2020-11-29 19:16] smoia commented on #314
:rocket: Issue was released in [`2.3.0`](https://github.com/physiopy/phys2bids/releases/tag/2.3.0) :rocket:

[2020-11-29 19:16] smoia commented on #332
:rocket: Issue was released in [`2.3.0`](https://github.com/physiopy/phys2bids/releases/tag/2.3.0) :rocket:

[2020-11-29 19:16] smoia commented on #336
:rocket: Issue was released in [`2.3.0`](https://github.com/physiopy/phys2bids/releases/tag/2.3.0) :rocket:

[2020-11-29 19:16] smoia commented on #42
:rocket: Issue was released in [`2.3.0`](https://github.com/physiopy/phys2bids/releases/tag/2.3.0) :rocket:

[2020-11-29 19:16] smoia commented on #314
:rocket: Issue was released in [`2.3.0`](https://github.com/physiopy/phys2bids/releases/tag/2.3.0) :rocket:

[2020-11-29 19:16] smoia commented on #295
:rocket: Issue was released in [`2.3.0`](https://github.com/physiopy/phys2bids/releases/tag/2.3.0) :rocket:

[2020-11-29 19:16] smoia commented on #42
:rocket: Issue was released in [`2.3.0`](https://github.com/physiopy/phys2bids/releases/tag/2.3.0) :rocket:

[2020-11-29 19:16] smoia commented on #333
:rocket: Issue was released in [`2.3.0`](https://github.com/physiopy/phys2bids/releases/tag/2.3.0) :rocket:

[2020-11-29 19:16] smoia commented on #314
:rocket: Issue was released in [`2.3.0`](https://github.com/physiopy/phys2bids/releases/tag/2.3.0) :rocket:

[2020-11-29 19:16] smoia commented on #319
:rocket: Issue was released in [`2.3.0`](https://github.com/physiopy/phys2bids/releases/tag/2.3.0) :rocket:

[2020-11-30 15:13] #314 closed

[2020-12-01 07:56] vinferrer commented on #355
I think that the docker solution is the easiest one probably.

[2020-12-01 09:04] vinferrer commented on #355
Do you think we need a docker account?
https://circleci.com/docs/2.0/building-docker-images/

[2020-12-02 19:15] yarikoptic opened #361 "Q: is there a phys2bids overview slide to (re)use?"
I would like to introduce audience to phys2bids in an upcoming webinar, and thought to add some informational slide.  So decided to ask: if there some "ultimate" figure/slide to highlight what phys2bids for and its features in one figure/slide?

if not, that is ok, webshot of https://phys2bids.readthedocs.io/en/latest/ I think is already quite good ;)

[2020-12-02 22:05] smoia commented on #361
Hey @yarikoptic!
We don't have one yet, but we might come up with something. When is the webinar?

Tagging @62442katieb and @RayStick to start with and see if we have something somewhere.

BTW: Thank you very, very much for the exposure. I hope we'll get new contributors!

[2020-12-02 22:05] smoia commented on #361
Oh, and @danalclop !

[2020-12-02 22:08] RayStick commented on #361
I can't think of something like that existing. I think we only have the OHBM related files that I dropped in Issue #341

[2020-12-02 22:09] RayStick commented on #361
So the [readthedocs]( https://phys2bids.readthedocs.io/en/latest/ ) page might be best for now :)

[2020-12-02 22:33] yarikoptic commented on #361
@RayStick THANK YOU for the OHBM poster PDF - it is very nice and informative.  Silly me should have just searched on https://datalad-datasets.github.io/ohbm2020-posters/#/ ;)  I will take RTD screenshot and add URLs to docs and the poster.

@smoia exposure -- the least I could do!  contributors -- cannot guarantee, but may be at least some ~~whiners~~ test/interested users like yours truly would

[2020-12-02 22:37] smoia commented on #356
Hi all,
I fully support the change only if we use the name _maegister_ or _magister_ (how cool is to bring back some Latin here and there).
Jokes aside, I'm sorry to be the voice out of the choir, but my support of changing names comes with some conditions.
I definitely won't be against this process (after all, it's not a bad process), but I would like to invite you to think about what we're doing

[2020-12-02 22:43] RayStick commented on #356
Thanks for your thoughts Stefano. I will have a think about them, and bring thoughts to the next meeting, which might be an easier/better forum to discuss.

[2020-12-02 22:48] smoia commented on #361
@yarikoptic (some) whiners are always appreciated.
Yes, I remember we were discussing about such an implementation last year in DC. I think that once #219 is merged, working on videos should become quite easy. We can discuss an implementation and join forces on this!

In any case, there's also some showcase of the report @62442katieb and @eurunuela are putting together that might be visually appea

[2020-12-03 07:46] eurunuela commented on #361
As @smoia said, the report can be great for showcasing. It's currently on [PR #243](https://github.com/physiopy/phys2bids/pull/243) waiting for a fix on Windows machines. Anyway, you can see the report generated by the tests [here](https://1489-208861898-gh.circle-artifacts.com/0/tmp/src/phys2bids/phys2bids/reporting/phys2bids_report.html).

I hope that helps! And thank you for introducing us to t

[2020-12-04 09:22] #355 closed

[2020-12-04 09:24] vinferrer commented on #339
Do we have a data example?

[2020-12-04 09:31] vinferrer commented on #303
Question. Can we have a different config.yml for the windows tests?

[2020-12-04 09:33] eurunuela commented on #303
I believe it must be the same.

[2020-12-04 09:35] vinferrer commented on #303
well, then I would propose to have to jobs: One that runs only one integration test and another that runs the unit tests

[2020-12-04 09:40] eurunuela commented on #303
What do you mean?

[2020-12-04 09:41] vinferrer commented on #303
Two windows jobs

[2020-12-04 09:55] eurunuela commented on #303
Sure. I think those would be sufficient.

[2020-12-04 10:32] vinferrer commented on #303
really,

I think that's exactly what he says here

[2020-12-04 19:29] #338 closed

[2020-12-04 19:33] smoia opened #367 "phys2bids December developer call (10.12.2020 @ 15.30 UTC)"
The call will take place over **Skype** [here](https://join.skype.com/Rm4B7R30TG6g).

Find the agenda [here](https://docs.google.com/document/d/1AJ-APSII_OT588SvYeJSeYRPA1nFfVQZ2uEUgXIcioU/edit?usp=sharing) and don't be scared to add/suggest/press for topics!

Old minutes are [here](https://drive.google.com/open?id=1zfc-hgRcU1k2XdqKD8v6TGwQX_jeCUea)

Contributors old and new, please join!

[2020-12-09 08:11] vinferrer commented on #265
I think is the first time i see this issue so i don't think so

[2020-12-09 08:50] #265 closed

[2020-12-09 08:51] smoia commented on #265
:rocket: Issue was released in [`2.3.2`](https://github.com/physiopy/phys2bids/releases/tag/2.3.2) :rocket:

[2020-12-09 08:51] smoia commented on #42
:rocket: Issue was released in [`2.3.2`](https://github.com/physiopy/phys2bids/releases/tag/2.3.2) :rocket:

[2020-12-09 11:03] #303 closed

[2020-12-10 08:25] vinferrer commented on #325
Should we close this issue?

[2020-12-10 14:33] RayStick commented on #367
I'll join today, but have to leave at 10 past the hour.

[2020-12-10 15:25] #335 closed

[2020-12-10 15:30] 62442katieb commented on #341
[Here's the current working draft of the ISMRM abstract.](https://docs.google.com/document/d/1F0S_nqbyNUQ4rqbUUsreD9DZCSX1oaWW9ll0DxsMsFA/edit?usp=sharing) I'm still working on fine-tuning the figures and have decided to delay the "Synopsis" writing until after everyone's weighed in on the abstract. Please let me know what you think!

[2020-12-10 15:42] 62442katieb commented on #341
Pinging @physiopy/all

[2020-12-12 17:24] RayStick commented on #341
Looking good! I had an initial read through today (which was not Friday, sorry!) and added some suggested changes/comments.

[2020-12-12 17:33] BrightMG commented on #341
Hi all - I haven't been able to contribute throughout the recent flurry of
activity, having gone on mat leave, but if you would like my efforts on the
abstract let me know. -Molly

On Sat, Dec 12, 2020 at 11:25 AM Rachael Stickland <notifications@github.com>
wrote:

--
--
Molly Bright, D.Phil.
Assistant Professor
Northwestern University

[2020-12-13 10:50] eurunuela commented on #341
The abstract looks good to me!

[2020-12-13 23:02] #227 closed

[2020-12-13 23:06] smoia commented on #325
BHG season's over (:cry:). Closing the issue too!

[2020-12-13 23:06] #325 closed

[2020-12-13 23:06] smoia commented on #361
Hey @yarikoptic ! Can we close this issue?

[2020-12-14 00:44] yarikoptic commented on #361
Oh sure!

[2020-12-14 00:44] #361 closed

[2020-12-14 00:44] yarikoptic commented on #361
Thank you

[2020-12-14 16:05] sangfrois commented on #341
@62442katieb let me know if you need any more feedback from me. I think I have buttered it more than a lot.

Do you think my suggested rephrasing are relevant ?

All in all : this is excellent work!

[2020-12-14 18:36] 62442katieb commented on #341
Thanks @sangfrois ! I'll look through your phrasing suggestions later today. 👍

[2020-12-14 18:39] 62442katieb commented on #341
@physiopy/phys2bids I'm having trouble making a report with the tutorial files. If someone already has one made (@eurunuela ?), would you send it to me ASAP so I can make Figure 3 from it? 😅 thanks!

[2020-12-14 18:45] eurunuela commented on #341
Well that's weird... I'll do it right now.

[2020-12-14 19:08] 62442katieb commented on #341
Problem solved! Thanks a bunch!

[2020-12-14 19:09] eurunuela commented on #341
Happy to help!

[2020-12-15 13:02] vinferrer opened #373 "Circle CI Credits"
As you may have notice last week we used all the free credits in our Circle CI plan, and this wee we are on the same track with much less PRs:
![image](https://user-images.githubusercontent.com/38909338/102217372-c728d000-3edc-11eb-918f-767ad0b4c63f.png)

This sudden change is due mainly because we started using the windows build in Circle ci for the windows testing. Here you have some info on how

[2020-12-15 16:13] tsalo commented on #373
@vinferrer thank you for looking into this. I agree with you- it sounds like getting free credits would be preferable, so I think we should look into that before switching back to Azure.

[2020-12-15 16:15] eurunuela commented on #373
I agree with both of you. Do you want to take the lead on this @vinferrer ?

[2020-12-16 08:28] vinferrer commented on #373
Actually since @smoia  has his account linked to the physiopy repo, he should send the email, but I can make a draft

[2020-12-16 09:04] #367 closed

[2020-12-16 09:23] vinferrer commented on #373
​​​​​Dear Circle CI Billing Team,

My name is Stefano Moia, one of the colaborators of physiopy (https://github.com/physiopy). We are an open source collaborative project focused on operate physiological files in MRI setups. We started using your CI platform this year and we would like to continue to do so. I understand we already have the 400.000 open source credits for linux since our repository

[2020-12-16 09:23] vinferrer commented on #373
Feel free to edit

[2020-12-16 17:24] 62442katieb commented on #341
Hi @physiopy/all,

I'm submitting the abstract as we speak and just noticed that the Results references a trigger detection figure that I hadn't included. I added [this figure](https://phys2bids.readthedocs.io/en/latest/_images/tutorial_file_trigger_time.png) and updated the text.

If you want to take a last look at the [abstract](https://docs.google.com/document/d/1F0S_nqbyNUQ4rqbUUsreD9DZCSX1oaW

[2020-12-16 21:30] 62442katieb commented on #341
And we are ready for submission! 🥳If you are so inclined, you can [view the PDF of the submission here](https://drive.google.com/file/d/1fM6MMCmaP9IWvEN1pCOA7gu0OBh3nHYQ/view?usp=sharing). I'm planning to submit in about an hour, so speak before then or forever hold your peace. 😂

[2020-12-16 22:27] sangfrois commented on #341
Thank you so much for everything @62442katieb you rock!!!

[2020-12-17 08:58] eurunuela commented on #341
Thank you so much @62442katieb , that was some great work! Thank you everyone else who got involved too!

[2021-01-04 13:27] vinferrer commented on #373
We could go for an alternative called cirrus CI https://cirrus-ci.org/. Supports Windows and linux  and there isn't credit limits for open source projects. Though I would need help with the migration specially for the codecov part

[2021-01-04 13:51] eurunuela commented on #373
Could you please open a PR @vinferrer ? I'll be happy to help but first I'd like to see how big of a change it would be.

[2021-01-09 12:08] smoia opened #376 "phys2bids January developer call (14.01.2021 @ 14.30 UTC)"
The call will take place over **Skype** [here](https://join.skype.com/Rm4B7R30TG6g).

Find the agenda [here](https://docs.google.com/document/d/17W7LKADUJI7iP1myvAdWjKJlvewt5KugpX2qHxIBSt8/edit?usp=sharing) and don't be scared to add/suggest/press for topics!

Old minutes are [here](https://drive.google.com/open?id=1zfc-hgRcU1k2XdqKD8v6TGwQX_jeCUea)

[2021-01-18 13:57] #376 closed

[2021-01-19 14:41] #373 closed

[2021-01-24 12:49] smoia opened #380 "OHBM 2021 abstract(s) submission"
Apologies for the incredible delay I write this issue with.

OHBM abstract submission deadline is close, and it would be great to submit _at least_ one abstract about `physiopy`.
Even better, we could submit two abstracts, one for `phys2bids` and one for `phys2denoise`.
In that case, I think I could take care of one, I can pay for both, and we can adapt the ISMRM submission!

What do you think, @p

[2021-01-25 16:28] 62442katieb commented on #380
I'm happy to adapt the ISMRM abstract for the OHBM phys2bids abstract.

[2021-01-25 18:46] RayStick commented on #380
I am afraid I am swamped with other work this week, but I can do a final proof read.

[2021-01-25 21:35] sangfrois commented on #380
@62442katieb I had fun re-interpreting your first gists on the ISMRM abstract. Do you think ?

@smoia I would feel more comfortable summing up the efforts of physiopy community as a whole. Do you still think it's a good idea or should we really aim for two abstracts ?

I too already have a submission to deal with, plus the deadline for my PhD application is also feb 1st. So I'll go over our previo

[2021-01-25 22:30] 62442katieb commented on #380
@sangfrois if you've got the bandwidth, go for it!

[2021-01-26 00:33] sangfrois commented on #380
Here's a [first draft](https://docs.google.com/document/d/16_pt3YZUrvmcaXnuJXErj3Cvd6DUfIGf5rYIaTgki5A/edit?usp=sharing) 👍

[2021-01-27 14:25] smoia commented on #380
Thank you @sangfrois ! I have a quick comment and then a longer discussion to introduce.

Quick comment: OHBM accepts only 2 figures. Given that the contributors should be one, I would merge 2, 3, and 4 into the second figure and go with that.

Longer discussion: For me, this is a very nice presentation of physiopy as a whole, that would be great for the physiopy website (physiopy/physiopy.github.

[2021-01-27 17:34] sangfrois commented on #380
Right, @smoia I totally agree with your second point. I'll make a second attempt to focus on :

That's the kind of substance I was missing. I tried to tailor the abstract on the one we made for ISMRM, though, it's true that we have a "software demo" angle this time with HBM.

[2021-01-27 17:36] smoia commented on #380
Cool! Don't worry about phys2denoise - if I manage to write another abstract during the weekend, great, otherwise we let this slide (or we integrate it in a sentence in this one).

[2021-01-27 17:38] smoia commented on #380
You can also have a look at the abstract we wrote for OHBM 2020 (it's in a previous issue labelled "outreach")

[2021-01-29 19:36] tsalo commented on #356
I can't speak to the larger proposed changes, but it looks like the steps for renaming the `master` branch have recently been improved (see [this post](https://github.com/github/renaming/tree/040636ea50e945875c70cc964d586f645e9bd810#renaming-existing-branches)), so it should be much easier to do now.

[2021-01-29 20:38] sangfrois commented on #380
Ok. Let's try again : here's a "second-first draft" based on your recommendations @smoia

https://docs.google.com/document/d/1u04a0FbpbCMfMpsDZDzfotgA-wkQEuyqFcxizcEve3o/edit?usp=sharing

sorry for last being last minute ; I forgot to send my comment and kept my browser tab opened since yesterday. I think I'm tired

[2021-02-08 14:29] smoia opened #383 "physiopy February developer call (11.02.2021 @ 14.30 UTC)"
The call will take place over **Skype** [here](https://join.skype.com/Rm4B7R30TG6g).

Find the agenda [here](https://docs.google.com/document/d/1_No5qHteLRMuBkyHP1rKKcjA8uonCv2q8J2SR9_vB1k/edit?usp=sharing) and don't be scared to add/suggest/press for topics!

Old minutes are [here](https://drive.google.com/open?id=1zfc-hgRcU1k2XdqKD8v6TGwQX_jeCUea)

[2021-02-09 14:27] drombas commented on #204
Hi, hoping this issue is still of interest!

I have done a quick frequency analysis. What I did to each signal:
1. Subtract the mean (remove DC component)
2. Compute the Fourier transform
3. Take the square of the module (get power)
4. Divide it by its sum (to get power density function)
5. Calculate the frequency for the 95 power percentile  (plotted in red)

Some ideas about the results:
- Signa

[2021-02-09 14:45] eurunuela commented on #204
Thank you @drombas ! Those are great ideas we can build up on.

We already know where the power of the cardiac and respiratory spectra should fall. Those would be the easiest to find by just looking at the spectra. Also, between O2 and CO2, the former has a higher amplitude.

So, I would calculate the PSD of all the channels, then find the one with cardiac frequency (there goes one channel) and an

[2021-02-11 15:34] smoia commented on #383
@physiopy/all apologies, I got the time wrong. It's not 14.30 but 15.30 UTC!

I'll be online for this hour if anyone wants to join!

[2021-02-16 08:52] #383 closed

[2021-02-17 17:41] #257 closed

[2021-02-17 17:41] smoia commented on #42
:rocket: Issue was released in [`2.4.0`](https://github.com/physiopy/phys2bids/releases/tag/2.4.0) :rocket:

[2021-02-17 17:41] smoia commented on #314
:rocket: Issue was released in [`2.4.0`](https://github.com/physiopy/phys2bids/releases/tag/2.4.0) :rocket:

[2021-02-17 17:41] smoia commented on #257
:rocket: Issue was released in [`2.4.0`](https://github.com/physiopy/phys2bids/releases/tag/2.4.0) :rocket:

[2021-02-19 16:34] drombas commented on #204
I can't find the option to self-assign this issue but just to let you know I'm actively working on it.

Thanks @eurunuela for the suggestions! As you said I will probably go for a time-domain detection of the trigger based on its binary nature and a spectral-domain classification between cardiac and respiratory signals.

[2021-02-24 09:37] #341 closed

[2021-02-24 09:37] #380 closed

[2021-02-24 09:55] smoia opened #385 "phys2denoise noncompetitive code sprint"
This is a reminder for the code sprint we discussed during the [last community meeting](https://docs.google.com/document/d/1_No5qHteLRMuBkyHP1rKKcjA8uonCv2q8J2SR9_vB1k/edit?usp=sharing), taking place on the 25th and 26th of February from 9AM EST / 15.00 CET to 13AM EST / 19.00 CET.

We'll meet in GatherTown, [here](https://gather.town/app/OLwvoYSpnJqT6OjG/physiopy). The password to enter the space

[2021-03-09 14:05] #385 closed

[2021-03-09 14:09] smoia opened #386 "Add name matching to individuate which kind of data there is in each channel"
As a step forward toward automatic content recognition, we could add a name matching algorithm to capture the content of a channel.
Such algorithm can be heavily inspired by the trigger channel detection @vinferrer merged not so long ago.

[2021-03-09 14:16] smoia opened #387 "Add check on objects' internal shapes"
ATM, our main objects (Blueprint Input/Output) do not check that all properties (lists) have the same amount of entries.
For example, the data could feature only 3 channels, but the names and units list might contain 100 entries.

We could add a small check on initialisation: all properties should have the same length (that of the data, to be precise).

[2021-03-09 14:20] smoia opened #388 "physiopy March developer call (11.03.2021 @ 15.30 UTC)"
The call will take place over **Skype** [here](https://join.skype.com/Rm4B7R30TG6g).

Find the agenda [here](https://docs.google.com/document/d/1VXc4Y4OfA4NVRw7dafgt6RuCx7I9F48eue8h6RFmyeA/edit?usp=sharing) and don't be scared to add/suggest/press for topics!

Old minutes are [here](https://drive.google.com/open?id=1zfc-hgRcU1k2XdqKD8v6TGwQX_jeCUea)

[2021-03-10 09:39] drombas opened #389 "phys2bids not working with chtrig=0"
While  working on automatic channel detection I came across the following problem.
## Expected Behavior

When chtrig is set to 0 or no value is entered by the user phys2bids should run anyway and try to detect the trigger automatically.
## Actual Behavior

What happens in phys2bids.py:

By default chtrig is set to 0
![image](https://user-images.githubusercontent.com/50577357/110607719-c4f8a980-818

[2021-03-10 09:42] smoia commented on #389
(Just set chtrig < 0 in 195 and 196)

[2021-03-10 09:44] drombas commented on #389
sure, I will check it and open a PR

[2021-03-30 15:12] 62442katieb opened #392 "ISMRM Oral Presentation"
Hi @physiopy/all !

ISMRM is coming up and our abstract has been accepted for an oral scientific session! 🎉It's not due for a few weeks, but I figured we should get the discussion going here. The text of the email regarding this session and the process of preparing / presenting is copied below (with important points in bold):

**TL;DR:** We / I need to prepare a 5-minute oral presentation on physi

[2021-03-30 15:29] eurunuela commented on #392
Thanks @62442katieb !

Given that it's a 5-minute talk, I wonder if we should emphasize one of the 5 points more than the others; i.e., what would be the most interesting for the ISMRM public? Would it make sense to emphasize on the need for the physiopy community to grow? Maybe we want to showcase the tools mostly?

What do you think?

[2021-04-05 19:25] RayStick commented on #392
Thanks @62442katieb - great that you've got this started. Happy to review slides/presentations, as needed!
I agree with @eurunuela that with a 5 minute talk you may want to focus in on a few points, and only briefly mention others. Would there be enough time for a software demo in 5 mins? If not, I guess more of these points can be covered

[2021-04-06 08:46] #388 closed

[2021-04-06 08:49] smoia opened #393 "physiopy April developer call (15.04.2021 @ 14.30 UTC)"
The call will take place over **Skype** [here](https://join.skype.com/Rm4B7R30TG6g).

Find the agenda [here](https://docs.google.com/document/d/13KmdpjIxkWMiVkduiHaTaBvNj4Rs_9nDZiLLZ4KQhTw/edit?usp=sharing) and don't be scared to add/suggest/press for topics!

Old minutes are [here](https://drive.google.com/open?id=1zfc-hgRcU1k2XdqKD8v6TGwQX_jeCUea).

Find the calendar with all meetings [here](htt

[2021-04-11 08:29] #210 closed

[2021-04-11 08:43] #389 closed

[2021-04-11 08:44] smoia commented on #42
:rocket: Issue was released in [`2.4.1`](https://github.com/physiopy/phys2bids/releases/tag/2.4.1) :rocket:

[2021-04-11 08:44] smoia commented on #314
:rocket: Issue was released in [`2.4.1`](https://github.com/physiopy/phys2bids/releases/tag/2.4.1) :rocket:

[2021-04-11 08:44] smoia commented on #389
:rocket: Issue was released in [`2.4.1`](https://github.com/physiopy/phys2bids/releases/tag/2.4.1) :rocket:

[2021-04-11 08:44] smoia commented on #42
:rocket: Issue was released in [`2.4.1`](https://github.com/physiopy/phys2bids/releases/tag/2.4.1) :rocket:

[2021-04-11 08:44] smoia commented on #314
:rocket: Issue was released in [`2.4.1`](https://github.com/physiopy/phys2bids/releases/tag/2.4.1) :rocket:

[2021-04-11 08:44] smoia commented on #314
:rocket: Issue was released in [`2.4.1`](https://github.com/physiopy/phys2bids/releases/tag/2.4.1) :rocket:

[2021-04-11 08:44] smoia commented on #42
:rocket: Issue was released in [`2.4.1`](https://github.com/physiopy/phys2bids/releases/tag/2.4.1) :rocket:

[2021-04-16 16:54] smoia opened #394 "Update phys2bids contributors and contributions"
@physiopy/all if there is any contributions or contributor we're not recognising, please let me know before this upcoming Sunday so that we can feature it in the ISMRM presentation. You can check again the emoji table here:
https://allcontributors.org/docs/en/emoji-key

[2021-04-20 01:58] 62442katieb commented on #392
The video has been submitted! 🎉

[2021-05-06 21:46] RayStick commented on #340
This is covered [here](https://github.com/physiopy/physiopy/issues/1) so I am closing this, as it is an issue related to physiopy in general not phys2bids

[2021-05-06 21:46] #340 closed

[2021-05-06 22:17] RayStick commented on #356
As per[ this post ](https://github.com/github/renaming/tree/040636ea50e945875c70cc964d586f645e9bd810#renaming-existing-branches)(updated since Taylor shared it I think) it seems you can now simply rename the branch from master to main. I did that for one of my own repos on GitHub, and this popped up:

<img width="454" alt="Screen Shot 2021-05-06 at 5 13 03 PM" src="https://user-images.githubuserco

[2021-05-07 06:56] eurunuela commented on #356
We will have to make sure that the CI and docs point to `main` rather than `master`. Other than that, I can't think of any other issue we could face when changing.

[2021-05-11 15:22] #393 closed

[2021-05-11 15:27] smoia opened #396 "phys2bids May developer call (13.05.2021 @ 14.30 UTC)"
The call will take place over **Skype** [here](https://join.skype.com/Rm4B7R30TG6g).

Find the agenda [here](https://docs.google.com/document/d/1YUhVlHE4Bq1U4U8Z3Y5SWTERS9kr2Xiflwa-rtp8gPE/edit?usp=sharing) and don't be scared to add/suggest/press for topics!

Old minutes are [here](https://drive.google.com/open?id=1zfc-hgRcU1k2XdqKD8v6TGwQX_jeCUea)

[2021-05-12 15:18] smoia commented on #42
:rocket: Issue was released in [`2.5.0`](https://github.com/physiopy/phys2bids/releases/tag/2.5.0) :rocket:

[2021-05-12 15:18] smoia commented on #314
:rocket: Issue was released in [`2.5.0`](https://github.com/physiopy/phys2bids/releases/tag/2.5.0) :rocket:

[2021-05-13 14:27] RayStick commented on #339
In my current study, I am collecting Siemens data physiological data (respiration and pulse) during BOLD and ASL scans, so will have data examples, and would like to see if I can start using phys2bids properly for the preprocessing of these recordings.

[2021-05-13 16:03] CesarCaballeroGaudes commented on #339
@vinferrer there are also physio recordings available in BCBL based on the CMRR sequence, which follows the Siemens structure for physio files. You can also check this repo https://github.com/CMRR-C2P/MB

[2021-05-14 13:55] eurunuela opened #397 "Docs won't build"
## Expected Behavior

The docs should be built with no errors.

## Actual Behavior

We get an error saying the function `add_stylesheet` does not exist.

## Steps to Reproduce the Problem

    1.  `make -C docs html`

[2021-05-14 14:53] #397 closed

[2021-05-14 18:59] sangfrois opened #400 "OHBM2021 - Poster session"
Hi @physiopy/all
Our abstract was considered exceptional by the jury !!
![image](https://user-images.githubusercontent.com/38385719/118315763-e8a9da00-b4c3-11eb-8779-87928868fc2a.png)

## OHBM2021 - Poster
Poster sessions at OHBM 2021 are coming fast and I would need your feedback on [the poster I drafted](https://docs.google.com/presentation/d/1ww4W3nKV464FGlmtezy3l-mfPdA8VtIgM1sJ43LTkoo/edit?usp

[2021-05-18 12:34] smoia commented on #400
I just added a couple of comments - sorry for the delay!

[2021-05-20 18:21] sangfrois commented on #400
@physiopy/all

here's a [link to the video](https://drive.google.com/file/d/1sxnAIXTefLUz1H3Yq3LXr7CzjYARARRp/view?usp=sharing)

it's a draft. I can record another take if you have any comments

[2021-06-05 07:55] smoia opened #401 "OHBM Hackathon 2021"
In a couple of weeks the OHBM Hackathon will take place (:tada: :tada: :tada:)!
See the [event webpage](https://ohbm.github.io/hackathon2021/).

We can be present with `physiopy`, and bring a project or two to further our development.

@physiopy/all, do you want to partake to the event? Do you have in mind a project for it?
Even if you don't have a project in mind, you can propose a topic or two o

[2021-06-05 07:58] #396 closed

[2021-06-05 08:04] smoia opened #402 "phys2bids 3.0"
We've been working for a while on phys2bids v2, but it might be time to move further and get a breaking improvement.
For instance, we could simplify and adjust the system call, and refactor some points in the code to get a better workflow, without being worried of backward compatibility.

I opened a [project](https://github.com/physiopy/phys2bids/projects/2) to keep track of the changes we want to

[2021-06-05 08:05] smoia opened #403 "phys2bids June developer call (10.06.2021 @ 14.30 UTC)"
The call will take place over **Skype** [here](https://join.skype.com/Rm4B7R30TG6g).

Find the agenda [here](https://docs.google.com/document/d/130JJZoJAw2Yvp-bEgcw8n1ZBkS0GopLbfzvcAUsN7_M/edit?usp=sharing) and don't be scared to add/suggest/press for topics!

Old minutes are [here](https://drive.google.com/open?id=1zfc-hgRcU1k2XdqKD8v6TGwQX_jeCUea)

[2021-06-11 20:07] marcelzwiers commented on #199
For follow up, see:
- https://github.com/ohbm/hackathon2021/issues/12
- https://github.com/Donders-Institute/bidscoin/issues/77 (to some extent)

[2021-06-12 07:56] drombas opened #404 "Physiological signal classification (Brainhack project)"
### Project goal

- Build a physiological signal classification algorithm

### Important details
- The goal of the project is only to generate ideas and make them work. We do not expect to merge this into the main branch during hackaton (that would come later)
- Although challenging we are aiming for a 100% accuracy as misclassification can be highly problematic
- To maximize generalization and ro

[2021-06-17 10:24] smoia opened #405 "Implement new interfaces for other non-MRI recorded file formats"
During OHBMH @htwangtw showed me [neo](https://github.com/NeuralEnsemble/python-neo/tree/master), a python package that can read a lot of different physiological file formats (see the list [here](https://neo.readthedocs.io/en/stable/io.html#module-neo.io)), like [Spike2](http://ced.co.uk/products/spkovin) as implemented [here](https://github.com/NeuralEnsemble/python-neo/blob/master/neo/rawio/spik

[2021-06-18 10:48] htwangtw commented on #405
A few things I found while working on this issue:

For Spike2 file, CED has two kinds of files, `.smr` and `.smrx`. The latter is a 64-bits version and going to replace to former. It will be a few release cycle before `.smrx` is supported. (See this [issue](https://github.com/NeuralEnsemble/python-neo/issues/424))
Another news is CED released a [pip-installable API](https://pypi.org/project/sonpy/

[2021-06-18 13:05] smoia commented on #397
:rocket: Issue was released in [`2.6.0`](https://github.com/physiopy/phys2bids/releases/tag/2.6.0) :rocket:

[2021-06-18 13:05] smoia commented on #42
:rocket: Issue was released in [`2.6.0`](https://github.com/physiopy/phys2bids/releases/tag/2.6.0) :rocket:

[2021-06-18 13:05] smoia commented on #314
:rocket: Issue was released in [`2.6.0`](https://github.com/physiopy/phys2bids/releases/tag/2.6.0) :rocket:

[2021-06-24 08:44] smoia commented on #405
Sorry for the late reply - I didn't see this comment!

I'd start with `.smr` support through `neo` (also because I can't find the documentation of `sonpy`), and add `.smrx` support in the future. I wouldn't drop `.smr` support unless we're 100% sure that it's not used any more by the users.
If `sonpy` supports both formats, we could use that API instead.

Does it make sense?

[2021-06-24 09:13] htwangtw commented on #405
I had a closer look - `neo` is using `sonpy` under the hood.
The part of `neo` that broke the loading function of `.smrx` is just missing the header loading info in the 64-bit format.
I can attempt to fix the upstream dependency so we can just use `neo`

[2021-06-24 09:50] smoia commented on #405
Oh wow, that sounds great!

Or we can also use sonpy straight away and get the interface rolling, as you prefer!

[2021-06-24 10:00] smoia commented on #405
(as in: I completely trust your judgement, go for the option that is easier or looks more proper for you to implement)

[2021-06-24 10:04] htwangtw commented on #405
There's no online doc. The only way to access it is by installing sonpy through `pip`. Inside there's a PDF for docs and API.

[2021-07-06 10:09] #403 closed

[2021-07-06 10:09] smoia opened #408 "phys2bids July developer call (08.07.2021 @ 14.30 UTC)"
The call will take place over **Skype** [here](https://join.skype.com/Rm4B7R30TG6g).

Find the agenda [here](https://docs.google.com/document/d/1qtyWstxTSRX4qDvAPx8ZknCxk2FqisEtUbPdkgg-SdE/edit?usp=sharing) and don't be scared to add/suggest/press for topics!

Old minutes are [here](https://drive.google.com/open?id=1zfc-hgRcU1k2XdqKD8v6TGwQX_jeCUea)

[2021-07-08 19:53] htwangtw opened #409 "Automatic linting with CI with black"
## Detailed Description

At the July dev call, @smoia mentioned wanting to add linting with CI on PRs for #402

## Context / Motivation

We want a more consistent code style, not loading style issue on the project owner, and minimise barriers (ancillary issues such as complex dev environment setup) for new contributors. Everyone wins if there's a lazy linter built into CI.

## Possible Implementat

[2021-07-21 17:30] htwangtw opened #411 "CI cannot set up environment correctly"
Some tests are failing in #410 due to unable to install make and some basic packages such as curl tree.
Judging from #407, there might be some update on the Cirrus CI or Kubernetes in the past few weeks causing this issue. I cannot find the linux distro used to further debug this issue. It would be great to get some help from who knows this CI tool more.
## Expected Behavior

CI should at least se

[2021-07-27 12:48] TomW92 opened #412 "Integration of Siemens Product Sequence Filetypes such as ".puls""
Hi, the outputs of manual physiological recordings with Siemens are not compatible with phys2bids.

## Detailed Description

Manual physiological recording on Siemens Scanner may produce _.puls_, _.ecg_, etc. files.
These cannot be read by phy2bids.

## Context / Motivation

We collected respiratory and pulse data and would like to incorporate it into the fMRI analysis.
Example data is attached.

[2021-07-27 12:54] smoia commented on #412
Hello @TomW92 ! Thank you for opening an issue and for the data!
We will work on implementing it, and hopefully it will be done by the end of the summer - be patient, we're a handful of volunteers and we're busy bees already outside of phys2bids!

@physiopy/all, anyone interested in tackling this?

[2021-07-27 13:51] rmarkello commented on #412
I had previously written some [(very rough) code](https://github.com/physiopy/phys2bids/files/6885980/siemens_physio.txt) to extract and do some light formatting on time series from Siemens physio files. If it'd be helpful for whoever ends up working on this they can absolutely feel free to use that code as a starting point.

Good luck! :muscle:

[2021-07-27 13:59] TomW92 commented on #412
Hello @smoia, thanks a lot!

Yes, of course I didn't expect otherwise.

[2021-10-02 17:24] #408 closed

[2021-11-05 11:24] smoia opened #414 "phys2bids November developer call (11.11.2021 @ 15.00 UTC)"
The call will take place over **Skype** [here](https://join.skype.com/Rm4B7R30TG6g).

Find the agenda [here](https://docs.google.com/document/d/1r1In6iR3fyAvevYalsdZgvOJJmftHxKYJrRhUfHjKKw/edit?usp=sharing) and don't be scared to add/suggest/press for topics!

Old minutes are [here](https://drive.google.com/open?id=1zfc-hgRcU1k2XdqKD8v6TGwQX_jeCUea)

[2021-11-15 15:19] #411 closed

[2021-11-20 14:18] #400 closed

[2021-11-20 14:18] #401 closed

[2021-11-22 06:44] drombas commented on #404
I close this because there is already a specific [repository](https://github.com/drombas/BHD-physiological-classification/issues) and an [issue](https://github.com/brainhackorg/global2021/issues/111) related to this.

[2021-11-22 06:44] #404 closed

[2021-11-22 12:09] #414 closed

[2021-11-23 15:31] smoia opened #417 "Adopt a Minimum Viable Governance"
Things in physiopy are going slow these days, but in order to bring back some life to it, new form of governances might be of some help!
One possible governance structure is the [Minimum Viable Governance](https://github.com/github/MVG).
Have a look at it and let me know what you think about adopting it!

[2021-11-24 10:28] smoia commented on #412
Hello @TomW92 ! Would you have data to share so that we can test this new feature?

[2021-12-08 17:37] smoia opened #418 "phys2bids December developer call (09.12.2021 @ 15.30 UTC)"
The call will take place over **Skype** [here](https://join.skype.com/Rm4B7R30TG6g).

Find the agenda [here](https://docs.google.com/document/d/1lTuPxhp-xR8Q6oyGpgBzxokUraMgAOBVWP-ZL-4JmRw/edit?usp=sharing) and don't be scared to add/suggest/press for topics!

Old minutes are [here](https://drive.google.com/open?id=1zfc-hgRcU1k2XdqKD8v6TGwQX_jeCUea)

[2021-12-14 19:35] drombas opened #419 "OHBM 2022 abstract submission"
Hi @physiopy/all!, I have finished drafting a first version of the OHBM 2022 abstract.

You can find it [here](https://docs.google.com/document/d/1imklQjZFZ2RPg74oyhdGl5-9CBDGEoV3GSAsvAVExjk/edit?usp=sharing). Feel free to suggest/modify parts that may be improved.

Remember that the deadline is this Thursday 12pm EST (sorry for the tight timeframe).

[2021-12-14 20:50] smoia commented on #419
Also @rzlim08, @TomasLenc, and @yarikoptic!

[2021-12-15 01:51] yarikoptic commented on #419
thank you @smoia for your generous invitation, but my contribution was so insignificant (winning only over `dependabot-preview` for some reason for the same number of commits of 1) that I do not want to dilute the team of more significant contributors.

[2022-01-07 11:28] smoia opened #420 "python 3.6 EOL"
Relates to #410

Python 3.6, the oldest python version physiopy supports, reached its EOL just before Christmas.
On one side, dropping support would make our life easier - we could drop some tests and easily merge #410 that supports only > 3.7.
On the other, 3.6 is still the default version of some LTS distributions (e.g. Ubuntu 18.04), so removing support for 3.6 might be problematic for LTS user

[2022-01-14 17:24] TomW92 commented on #412
Hi @smoia, sorry for the delayed response, I wasn't notified for some reason.
Do you mean BOLD data or just additional data to the example I uploaded when opening this issue?

[2022-02-16 21:34] smoia opened #421 "phys2bids Febraury developer call (17.02.2022 @ 16.00 UTC)"
The call will take place over **Skype** [here](https://join.skype.com/Rm4B7R30TG6g).

Find the agenda [here](https://docs.google.com/document/d/1eoErhv3ayPSBxJkRDwuL06xQZvLrHs14CENJ9oIh3sY/edit?usp=sharing) and don't be scared to add/suggest/press for topics!

Old minutes are [here](https://drive.google.com/open?id=1zfc-hgRcU1k2XdqKD8v6TGwQX_jeCUea)

[2022-03-17 09:35] eurunuela opened #422 "@drombas is not on the contributors' list on the README file"
## Summary

I just realized that @drombas is not part of the contributors' list on the README file.

## Next Steps

    * Use the contributors bot to add @drombas to the list.

[2022-03-17 10:39] #422 closed

[2022-07-11 08:05] #421 closed

[2022-07-11 08:05] #418 closed

[2022-08-12 21:15] tsalo commented on #217
@smoia I'm happy to close this if you think #374 is good to close as well.