[2019-09-16 23:21] smoia opened #1 "Write docstrings"
Add numpy docstrings to functions

[2019-09-17 16:57] smoia opened #2 "Running heuristic on txt file outputs folders but not files"
[code]

[2019-10-02 15:28] smoia opened #5 "Add license info in files"
Add info about the license in all the main files, as per the end of the GNUv3 license

[2019-10-02 16:33] smoia opened #6 "Check the minimal version of Numpy and Pandas required by the code"
At the moment, the earliest version installed in my systems is specified.
Maybe earlier versions would work as well.

[2019-10-02 16:54] MinchinWeb commented on #5
Do you want the full license text, or just that the file is under GNUv3?

[2019-10-02 17:41] victox5 commented on #6
I'll check it out.

[2019-10-02 21:19] smoia commented on #6
Thank you!

[2019-10-02 21:19] #6 closed

[2019-10-02 21:19] smoia commented on #6
Solved by #7

[2019-10-02 21:24] smoia commented on #5
It should be following all the specifications [from line 623 to the last line of the licence](https://github.com/smoia/phys2bids/blob/c7976275787f6c6ad637dfb5dbc081de05ccefd9/LICENSE#L623)

[2019-10-02 21:30] smoia opened #8 "Add documentation on collaboration"

[2019-10-02 21:35] smoia opened #9 "Add testing files"
In order to be able to test the code (and have people test the code), we would need samples of data that work with the code. I have acquired a two minutes sample, with physiological recordings and the MRI trigger, and saved it in many different formats to be able to integrate them.

Could you guys in Chicago create, acquire or share a mock file with labchart and one with the respiract, that can be

[2019-10-02 21:37] smoia opened #10 "Split input in different outputs based on the sample frequency of the channels"
BIDS wants each *_physio.tsv.gz file to have the same frequency internally.
When a input with different frequencies is given, the program should be able to export it in different outputs.

[2019-10-02 21:42] smoia opened #11 "Reorganise the script folder & files"
The actual code is too long, and could be split in different files and better organised in folders.
One nice way to split the file could be:
- main
- utilities
- visualisations
- bids

Or also split processing of .txt files and .acq files

[2019-10-02 21:43] smoia opened #12 "Add user documentation"
The library needs a readthedocs with explanations on usage, bids format and physio files.

[2019-10-09 12:39] smoia opened #15 "Improving trigger pictures."
So far, the trigger picture created around [this line](https://github.com/smoia/phys2bids/blob/7dd17dded137fab2653b66812756ed967790dc30/physiobids.py#L409) have a simple title, and show the expected start and expected end of the sequence.
It would be nice to:
- [ ] add the name of the corresponding tsv output file in the title
- [ ] add a third subplot in the second row, that shows the last trigge

[2019-10-25 00:40] kristinazvolanek commented on #9
Hi Stefano,

Attached are two sample files that can be made publicly available and used to test the code. The first is the "EndTidals.txt" file exported from the RespirAct during a CO2 challenge. The second is the first 5000 samples of a physiological recording from LabChart (including CO2, O2, trigger, and pulse). Let me know the best place to put these, if I should change the formatting, and if

[2019-10-25 11:17] smoia commented on #9
@kristinazvolanek , thank you!
Can you create a PR with them in the `/Test` folder? Maybe @RayStick can help you in the process?
The issue might not be the type of file but either the way you tried to upload them or their size (max. 100MB for file in GitHub).
It would be great if you could upload different "flavours" of the same LabChart file as well, like:
- [] A txt with header
- [] A txt with n

[2019-11-11 15:03] RayStick commented on #9
Apologies for not replying to this …
This past month have been very chaotic and busy (for myself and Kristina!)
I assume we will discuss in the call tomorrow? If there is anything helpful I can do beforehand, let me know (I have some time today).
BW,
Rachael

From: Stefano Moia <notifications@github.com>
Reply-To: smoia/phys2bids <reply@reply.github.com>
Date: Friday, October 25, 2019 at 6:17 AM
T

[2019-11-11 15:26] smoia commented on #12
Our documentation could contain:
[ ] An obvious "how do I use this program" section
[ ] A less obvious "Why BIDS"
[ ] A quite interesting "Hey there's this thing called physiological activity you might want to consider when you do neuroimaging"

[2019-11-12 04:41] #11 closed

[2019-11-13 11:51] sento4000 opened #21 "phys2bids No module named 'phys2bids.physiobids'"
Hi guys,

So I basically installed all the modules required for phys2bids in python3 and executed with python3 the setup.py file and when I tried the command from the console this funny error came out:
phys2bids
Traceback (most recent call last):
  File "/usr/local/bin/phys2bids", line 11, in <module>
    load_entry_point('phys2bids==0.4.0', 'console_scripts', 'phys2bids')()
  File "/home/vicente/

[2019-11-13 13:49] sento4000 commented on #21
Okay I think is because for some reason my phys2bids module does not contain the function physiobids. Any idea why this is happening?

[2019-11-13 15:23] smoia commented on #21
Can you pull again and tell me if it works?

[2019-11-13 15:33] sento4000 commented on #21
I see what you did there,

It seems to be working properly now, this is the output:
phys2bids
usage: phys2bids [-h] -in FILENAME [-info] [-indir INDIR] [-outdir OUTDIR]
                 [-heur HEUR_FILE] [-sub SUB] [-ses SES] [-chtrig CHTRIG]
                 [-chsel [CHSEL [CHSEL ...]]] [-ntp NUM_TPS_EXPECTED] [-tr TR]
                 [-thr THR] [-tbhd [TABLE_HEADER [TABLE_HEADER ...]]] [-v]
phy

[2019-11-13 15:54] smoia commented on #21
Closed by commit 8ff5bf0f5fd2982417854932fded4a0f5e970e19

[2019-11-13 15:54] #21 closed

[2019-11-14 04:17] #5 closed

[2019-11-14 04:38] smoia opened #23 "Internal I/O object/schema"
So far, the code was set to adapt to whatever input was provided and process it to an output on a case to case base.
This is **not** a good approach, not only due to the flexibility we need to offer, but also from a coding perspective.

It's much better to create an object ("Output object"), that contains not only the data but a schema that can be used to:
a. output information about the file that

[2019-11-14 04:44] smoia opened #24 "Standard Acquisition(?)"
Goes together with #23 .

One thing that we can do to facilitate the process for the user is to think about "standard cases" that could act as a blueprint for the acquisition of physiological data.

E.g.:
- Save the trigger in channel 1
- Use x sampling frequency
- Use y unit of measure
- ...

Keeping in mind that we want to be as flexible as possible, we can offer heuristics for particular cases

[2019-11-14 04:45] smoia opened #25 "Add support for matlab files"
## Detailed Description

We have some labchart-exported [matlab files in our OSF](https://osf.io/2j43t/). We could implement an interface function that reads matlab files, in order to support yet another type of data!

## Possible Implementation

- Look at the functions in [`interfaces`](https://github.com/physiopy/phys2bids/tree/master/phys2bids/interfaces)
- Using [scipy](https://docs.scipy.org/

[2019-11-14 04:50] smoia opened #26 "Change floats print format"
Currently, any print of a float in a file has a format with many decimals.
It would be better to have a formatted print with max 4 decimals.

This doesn't affect the data, only the information in the json and in the log.

[2019-11-14 04:52] smoia opened #27 "Create testing heuristics"
We need heuristics that could be used for testing on the data.

[2019-11-14 04:55] smoia opened #28 "Add logger"

[2019-11-14 04:57] smoia opened #29 "Add channel plots"
It's easy to know which channel is which if its timeseries is plotted.
There's already a function to do so in viz.py (plot_channel).

We need to have the function going automatically on all the channels, if the user requires info about the file.

[2019-11-14 17:23] smoia opened #30 "Deal with "non-required" packages for interfaces."
One of the issues of having to deal with multiple type of files in input is that some of them (acqknowledge, matlab) requires libraries to load the content of the files.

However, such libraries are necessary only reading those files, and it's possible that a succesful run of the program doesn't require them.

It's easy to import them only if needed, but the question is:
**should they be required

[2019-11-14 17:44] smoia opened #31 "Add license information in all the scripts and in the data folder."
We should add the license information in all the scripts and in the readme(s).
I think that the best solution would be to:
- add a string in the initial docstring of each script, that contains:
` Copyright 2019, The Phys2BIDS community.
Please scroll to bottom to read full license.`
- add the full boilerplate ([line 189 in LICENSE](https://github.com/smoia/phys2bids/blob/80cac4b61f065840ca92520542

[2019-11-20 22:57] RayStick opened #36 "Chopping files semi-automatically"
A lot of researchers will have one physiological file for the whole scan session, which will need to be chopped into separate files corresponding to each scan to be analyzed. Offering a way of semi-automatically chopping these files, and allowing phys2bids to output multiple physiological files from the same input file, would be useful.

[2019-11-20 23:02] RayStick commented on #23
Issue #36 may be relevant for this discussion

[2019-11-20 23:05] smoia commented on #36
This is a topic we briefly discussed at DCCC 2019 with @yarikoptic .
It would be a great enhancement!
However, we need to think about this in a smart way.
The way @yarikoptic was thinking about approaching it is by using timestamps. However, we don't have them by default in our files - so if interested in this option, we should definitely remember this for "good practices".

[2019-11-20 23:07] smoia commented on #24
Issue #36 is of interest!

[2019-11-20 23:10] RayStick commented on #36
I have some MATLAB code that does this semi-automatically (it uses triggers for the time stamps alongside user input). At a later date, I could attempt to adapt this for phys2bids, if we wanted it.

[2019-11-20 23:16] RayStick commented on #36
An important related point to "chopping" files. I think there are two options:
1. The input file the user brings to phys2bids is already the part of the data that corresponds to one MRI scan (i.e. we don't offer a way of chopping files)
2. The input file the user brings to phys2bids can be a file that contains data from multiple scans, and phys2bids can chop it. _If_ it does chop it, we also have

[2019-11-21 15:33] RayStick commented on #31
I can do this. What is the full boilerplate? Is it lines 189 onwards in the LICENSE?

Copyright [yyyy] [name of copyright owner]
_?? Copyright [2019] [The Phys2BIDS community]_

   Licensed under the Apache License, Version 2.0 (the "License");
   you may not use this file except in compliance with the License.
   You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-

[2019-11-21 16:11] smoia commented on #31
`Copyright 2019, The Phys2BIDS community.

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT W

[2019-11-21 22:14] RayStick commented on #31
I added the full boilerplate to the README
I added a README file in tests/data containing the full boilerplate
I added the license information only to the phys2bids/phys2bids.py code  

Wasn’t sure where else it was necessary to add it.
Any thoughts from anyone?

[2019-11-21 22:21] #31 closed

[2019-11-22 11:17] smoia opened #39 "Tests failing due to errors while executing flake8"
I know that @vinferrer is looking at that,

The issue is that all the tests we have in travis fail due to a couple of errors in linter.
The first couple of tests (the linters themselves) are obvious to solve.
@rmarkello any idea on why the other tests fail with errors related to flake8?

[2019-11-22 15:08] rmarkello commented on #39
I'm happy to tackle this, but you have two open PRs right now. Do you want to go ahead and merge those first, or should I draft a quick flake8-fix PR to address the linter issues and you can just merge those changes into your PRs?

I've copy-pasted the primary issues from the TravisCI logs below just so everyone is aware what's up:

[code]

[2019-11-22 15:24] vinferrer commented on #39
Hi Ros, from which commit are you getting this erros, I see they are all related to linting. Did you get them from the last commit of smoia/phys2bids  or are you in your fork? because if i look at the las commit which is :27a4e126ed1df75c1870a1acc88af0417426ffa6 i don't see that many errors:

[code]

[2019-11-22 15:29] vinferrer commented on #39
And by the way why are the check_type=test failing if we haven't implemented any test?

[2019-11-22 15:34] rmarkello commented on #39
I just grabbed these from @smoia's most recent commit to his PR (#38). It's possible the master branch has fewer errors!

Re `check_type=test` failing: it's exactly *because* we haven't implemented any tests. If we add even a simple test then it should begin passing!

[2019-11-22 15:37] vinferrer commented on #39
Oh I see thank you very much for explaining I am new on travis so this is all a bit confusing

[2019-11-22 15:40] rmarkello commented on #39
No problems! If you're tackling the `flake8` errors I'd be happy to add a few simple tests so we can get things passing. Everyone likes seeing those :heavy_check_mark: marks!

Let me know if that sounds good and I'll assign this issue to you and open another issue for myself to add a few basic tests for the `utils.py` module.

[2019-11-22 15:53] vinferrer commented on #39
I think we have to wait for stefano to finish these push request. Don't think so?

[2019-11-22 15:59] rmarkello commented on #39
We can address the changes, make PRs, merge them into master, and @smoia can update his PRs accordingly (by merging master into his branch). The downside is that he may run into some merge conflicts, but they *should* be relatively manageable.

On the other hand, if @smoia thinks that his PRs are going to be finished quickly we can wait for them! They seemed like relatively large changes that migh

[2019-11-22 16:04] smoia commented on #39
PR #34  address setup but it's minimal - I don't foresee any integration issue.
PR #38  is massive, but I'm quite positive about the fact that the existing `utils.py` won't be touched by it. I may add a couple of functions in `utils.py` though.

[2019-11-25 19:37] smoia opened #40 "Refactor phys2bids.use_heuristic"
In `phys2bids.py`, [`use_heuristic`](https://github.com/smoia/phys2bids/blob/517442dec3cb453a67473d2878f80b119ad85e44/phys2bids/phys2bids.py#L87) needs a bunch of f-string rewritings, and the initialisation of [`fldr`](https://github.com/smoia/phys2bids/blob/517442dec3cb453a67473d2878f80b119ad85e44/phys2bids/phys2bids.py#L95) should use `os` instead.

[2019-11-26 00:30] smoia opened #41 "Add support for txt files"
~With the new code, txt is not supported at the moment.~

EDIT: txt is partially supported.
The possible txt formats are (tick what's covered):
- [x] LabChart, with header
- [x] AcqKnowledge, with header
- [ ] LabChart, without header
- [ ] AcqKnowledge, without header
- [x] LabChart, with header and comment
- [ ] ...

[2019-11-26 00:30] smoia commented on #30
@rmarkello what do you think on this matter?

[2019-11-26 00:34] smoia opened #42 "Create unit tests and negative tests for phys2bids.py"
@vinferrer , @eurunuela , you were interested in this one?

[2019-11-26 00:39] smoia opened #43 "Do User Testing on refactored code"
While #42 deals with unit testing and negative testing, this calls for user testing.

As soon as #38 is merged, we can start trying it out on the acqknowledge testing files that we have at disposal, to see how to improve the code!

The new code works **only** on acq

I guess team Chicago was interested in this?
@RayStick @AyyagariA @kristinazvolanek

[2019-11-26 02:40] rmarkello commented on #30
I *think* I'd lean towards the latter&mdash;throw an error if they're required but not installed&mdash;but this is going to depend on the code set up a bit... That is, it might be hard to determine which imports are needed without having them installed already.

Let me take a look at how you've structured things in #38 and maybe that will provide some insight!

[2019-11-26 11:41] smoia commented on #40
Does anyone in team USA wants to tackle this Issue? @RayStick @AyyagariA @kristinazvolanek @soichih ? Prefereably for Python beginners - check out [this tutorial on f-strings](https://realpython.com/python-f-strings/)

[2019-11-27 20:39] RayStick commented on #43
Just to check  - wait until Issue 38 is merged before trying out user testing?

I have followed the steps in the README.md, and everything seems to have worked, but haven't attempted to use the code yet.

[2019-11-28 13:53] #10 closed

[2019-11-28 14:28] smoia opened #44 "Making heuristic functions a simple set of if elif else statements"
## Detailed Description

At the moment, heuristic files contain a bunch of code that shouldn't be changed by the user (e.g. from [here](https://github.com/smoia/phys2bids/blob/f2d7d52e4e9d9d963f98aeb8809c81660e2f1794/phys2bids/heuristics/heur_test_acq.py#L30)).
It would be better to move that code outside of the heur file, so that the only content of those scripts is a simple definition that reads

[2019-11-28 14:30] smoia opened #45 "Improve heuristics rules"
At the moment, the only thing used during heuristics to get the new filename is the name of the input of phys2bids.
It would be great to improve the code so that the heuristic can handle different characteristics of the input (e.g. frequencies, number of channels, ...).

[2019-11-28 14:30] smoia opened #46 "Add all-contributors to this repo"

[2019-11-28 14:31] smoia commented on #2
Outdated by #38 .

[2019-11-28 14:31] #2 closed

[2019-11-28 14:56] smoia opened #47 "Adding documentation on how to use phys2bids"
Similar to #12 , but we need to explain at least how to:
- [x] Obtain the info of the file in order to set up a real "run" (`-info`)
- [x] Set up an heuristic file (`heur.py`)
- [x] Run the program itself

Before OHBM.

[2019-11-28 15:00] smoia opened #48 "Add txt support"
Similar to #41 , but at the very least we should be able to process **a txt file with a header coming from labchart**.
On OSF there's [this one](https://mfr.de-1.osf.io/render?url=https://osf.io/b3cq2/?action=download%26mode=render).
Bonus: be able to run the txt file in this repo (folder tests/data), that comes from acqknowledge.

This requires setting up a new script in `interfaces`, similar to

[2019-11-28 15:11] smoia commented on #1
Most of the scripts we have require docstrings, with the exception of those in `heur` folder.
Just to be clear, docstrings are a multiline comment at the beginning of each function that briefly explain what the function is doing, and reports Inputs, Outputs and (after @eurunuela 's comment in #38) outcomes (when the function doesn't have a `return`, but produces something like a file or a print on

[2019-11-28 18:11] eurunuela opened #50 "Is this the behaviour we want? is_valid function returns input variable"
As I'm working on the unit tests, I've just seen that the `is_valid` function returns the input variable. Doesn't it make more sense for it to be a void function? If the variable is not valid, it could raise an error, but do nothing otherwise.

https://github.com/smoia/phys2bids/blob/f2d7d52e4e9d9d963f98aeb8809c81660e2f1794/phys2bids/physio_obj.py#L37

[2019-11-28 18:27] eurunuela opened #51 "Object is not subscriptable in BlueprintInput.rename_channels"
https://github.com/smoia/phys2bids/blob/f2d7d52e4e9d9d963f98aeb8809c81660e2f1794/phys2bids/physio_obj.py#L167

See the error:

[code]

[2019-11-28 18:29] eurunuela commented on #43
Indeed, testing could not start until #38 was merged. It's been merged today, so you can start testing now!

[2019-11-28 18:31] eurunuela commented on #51
This is what generated the error:

[code]

[2019-11-28 18:35] smoia commented on #50
Now it's like that because it's used during the assignment of properties in the __init__ of our objects.
At the moment, there's fewer cases for it to assign to void than for assign to a variable.
This said, it's true that before either your or @rmarkello 's review in #38 it returned something depending on an input parameter (`return_val=True`).
For me it's a way to put it in a pipe, and it can be

[2019-11-29 11:01] #50 closed

[2019-11-29 11:26] #51 closed

[2019-12-02 13:24] vinferrer opened #56 "Add multifrequency support to labchart txt files"
Once #54 is finish we have to add support for files with different frequency sampling in the recordings, we have to infer the frequency from the channels since labchart doesn't specify in the header

[2019-12-02 13:47] #48 closed

[2019-12-02 18:55] RayStick commented on #43
Which branch - 'restructure'?

[2019-12-02 19:33] smoia commented on #43
@RayStick you can use the code from `master` already!
Also, open new issues as you find bugs/improvements to do!

[2019-12-02 19:35] eurunuela commented on #43
@RayStick you should always use `master` unless you're trying a new feature that has not been merged yet. I believe the `restructure` branch will be removed eventually given that @smoia already restructured the code.

[2019-12-02 19:42] eurunuela commented on #46
@smoia given that you requested the bot, will you continue work on this issue?

[2019-12-02 19:44] eurunuela commented on #41
I believe #54 closed this issue.

[2019-12-02 19:50] eurunuela commented on #9
How are we doing with this? I believe we are missing a MATLAB file to close this issue.

[2019-12-02 20:12] AyyagariA commented on #9
We forgot to create and send the matlab files. I can do that soon! Just to confirm, I'll read in the text file into matlab and save it as a ".mat" file. Is that what you guys are looking for? Thanks!

[2019-12-02 20:22] smoia commented on #41
No, this is a general `.txt` support - #54 addressed #48 .
This issue is still open untill we support different types of .txt

[2019-12-02 20:28] smoia commented on #9
@AyyagariA , I think LabChart can export a file in `.mat` format - correct me if I'm wrong though.

That's what we would be looking for.

Actually, would you be able to make a list of possible labchart outputs?

If that's not possible, we can add a new folder with "non-raw formats", where we can place a `.mat` file.

@eurunuela , don't close this issue just yet - we have so many possible file outp

[2019-12-02 20:30] eurunuela commented on #9
I was not looking to close the issue. I just wanted to make sure we’re still working on it.

[2019-12-02 20:30] smoia commented on #46
yep, I'm on it!

[2019-12-02 20:31] eurunuela commented on #41
Oh okay. Perfect!

[2019-12-02 20:33] AyyagariA commented on #9
@smoia I will make the list of possible outputs and double check whether I can export directly to .mat format today.

[2019-12-02 20:38] smoia commented on #9
@AyyagariA Splendid!
Would you mind editing (3) in this issue (where you see the list of outputs)?

[2019-12-02 22:16] vinferrer commented on #41
Do we have other txt files that are not in labchart format?

[2019-12-02 22:18] smoia commented on #41
We do!
Starting from [this one](phys2bids/tests/data/Test_belt_pulse_samefreq.txt).
It's acqknowledge!

[2019-12-02 22:44] AyyagariA commented on #9
@smoia Updated the list above! And you CAN export LabChart directly to matlab. Do you want a matlab file for each of the variations of the data we uploaded to OSF a few weeks ago? Or will 1 or 2 matlab files suffice?

[2019-12-02 23:15] RayStick commented on #43
usage: phys2bids [-h] -in FILENAME [-info] [-indir INDIR] [-outdir OUTDIR]
                 [-heur HEUR_FILE] [-sub SUB] [-ses SES] [-chtrig CHTRIG]
                 [-chsel [CHSEL [CHSEL ...]]] [-ntp NUM_TIMEPOINTS_EXPECTED]
                 [-tr TR] [-thr THR] [-chnames [CH_NAME [CH_NAME ...]]] [-v]

It is not clear to me which inputs are compulsory and which are optional?

[2019-12-02 23:19] RayStick commented on #43
These inputs make sense to me: FILENAME, INDIR, OUTDIR, SUB, SES, CHTRIG, TR
NUM_TIMEPOINTS_EXPECTED: how accurate does this need to be?
HEUR_FILE: ?
CHSEL: ?
THR: ?
CH_NAME: ?

[2019-12-02 23:36] smoia commented on #9
@AyyagariA , splendid! Sometimes I remember incredibly random facts.
As for what we need, we need as much as you think is enough for us to have all the different flavours we should be able to deal with!
So, feel free to add up to 42 different files if necessary - as long as they have different characteristics. Better if they are 42 different versions of the same recording!

[2019-12-02 23:40] smoia commented on #43
@RayStick , did you try running phys2bids -h and see the long help?
Quickly,
- NUM_TIMEPOINTS_EXPECTED: as accurate as you want. You can play with it too!
- HEUR_FILE: this is an heuristic file, similar to those inside the folder `heur`, like `heur_acq.py`. You need to create one specific to the files you want to convert.
- CHSEL: subselection of channel to output
- THR: threshold used in conjunct

[2019-12-02 23:40] smoia commented on #43
If you think the long help is not enough detailed, please open an issue about it and think how to change it!

[2019-12-02 23:42] RayStick commented on #43
Ooops, I did not see the [-h]
Sorry!

[2019-12-02 23:43] RayStick commented on #43
Is this the right place to put problems with _running_ the code? i.e. errors that I don't understand?
I understand that id I have suggestions of things to change, I can make an issue.

[2019-12-02 23:52] smoia commented on #43
@RayStick , It's prefereable if you open issues to better monitor the changes needed in the code, however You can use [this](https://docs.google.com/document/d/1XPKg7gBFocbiy58KFT6PWjdQjdxnxFSZL_TbnsQT8g4/edit?usp=sharing) for general notes, if you feel more like it.
You need to ask edit permission though.

[2019-12-03 00:21] smoia commented on #46
@all-contributors please add @smoia for code, ideas, infra, maintenance, projectManagement, review

[2019-12-03 00:34] smoia commented on #46
@all-contributors pretty please add @smoia for doc

[2019-12-03 00:40] smoia commented on #46
@all-contributors pretty pretty please add @rmarkello for bug, code, ideas, infra, review, test, then add @vinferrer for bug, code, doc, review.

[2019-12-03 00:42] smoia commented on #46
@all-contributors pretty pretty please add @rmarkello for bug, code, ideas, infra, review, test

[2019-12-03 00:42] smoia commented on #46
add @vinferrer for bug, code, doc, review.

[2019-12-03 00:46] smoia commented on #46
Closing due to bot malfunction

[2019-12-03 00:46] #46 closed

[2019-12-03 00:48] smoia opened #65 "Adding more all-contributors to phys2bids"
After #46 bot malfunciton, let's try again.

[2019-12-03 00:51] smoia commented on #65
@all-contributors please add (without going nuts) @vinferrer for bug, code, doc, review.

[2019-12-03 00:51] smoia commented on #65
@all-contributors please (without going nuts) add @vinferrer for bug, code, doc, review.

[2019-12-03 00:53] smoia commented on #65
@all-contributors please add @RayStick  for doc, userTesting.

[2019-12-03 00:56] smoia commented on #65
@all-contributors please add @eurunuela for bug, review, test.

[2019-12-03 01:00] smoia commented on #65
@all-contributors please add @AyyagariA for userTesting.

[2019-12-03 01:00] smoia commented on #65
@all-contributors please add @kristinazvolanek for userTesting.

[2019-12-03 01:00] smoia commented on #65
@all-contributors please add @CesarCaballeroGaudes  for ideas, userTesting.

[2019-12-03 01:01] smoia commented on #65
@all-contributors please add @BrightMG  for ideas, userTesting.

[2019-12-03 01:03] smoia commented on #65
@all-contributors please add @kristinazvolanek for userTesting.

[2019-12-03 18:13] smoia commented on #65
@all-contributors, please add @soichih for bug

[2019-12-03 18:14] smoia commented on #65
@all-contributors, please add @soichih for bug

[2019-12-03 18:20] smoia commented on #65
@all-contributors, please add @soichih for bug

[2019-12-03 22:08] RayStick opened #74 "README - instructions for package install"
It may be obvious to regular python users, but it may help to instruct the user to clone the repo into the location where their python packages are located. For me, I cloned it elsewhere first, and then when I later renamed a directory the path to the package was wrong. So just some extra text in the REAME suggesting the location of where this should go (i.e. for me on a macOS it was **/usr/local/

[2019-12-03 23:21] RayStick opened #75 "Error output for files with no header"
When testing the code, I inputted a file with no header information by accident. The error message I got was not very clear though, see the[ UserTesting doc ](https://docs.google.com/document/d/1XPKg7gBFocbiy58KFT6PWjdQjdxnxFSZL_TbnsQT8g4/edit#heading=h.bd3sq8fzcbg7)for info.

[2019-12-04 00:14] smoia commented on #1
I would still invite someone that would like to start approaching phys2bids code / python3 to complete this issue. Especially in improving `utils.py` docstrings - most of the functions there are quite trivial, and a valid PR doesn't have to cover everything.
Can I suggest @kristinazvolanek , @RayStick or @AyyagariA  for this?
I can help out remotely! Drop me a mesage somewhere if you're interested

[2019-12-04 00:33] RayStick commented on #1
I am happy to help with docstrings once I have used the code a bit more. Personally, I think it is hard to write docstrings if you haven't written or used the code. So at the very least, we need to use the code, if we are not writing it.  

[2019-12-04 09:25] eurunuela commented on #39
For what I see, the linting test is working correctly. It is correctly pointing out the problems.

[2019-12-04 10:31] eurunuela opened #77 "[BUG] Cannot delete array elements in Blueprint_Output.delete_at_index()"
Line raising the error: https://github.com/physiopy/phys2bids/blob/46f5239d7ef9f4722394f1a0c9c4a28929f4c0b2/phys2bids/physio_obj.py#L397

Error:

[code]

[2019-12-04 11:28] smoia commented on #29
![timeseries](https://user-images.githubusercontent.com/35300580/70138881-82474800-1691-11ea-9ec5-6ffe4d591b82.jpg)
I guess something like this could be ok for the moment?

[2019-12-05 20:03] vinferrer commented on #74
Hi, there is no reason to put it in the location where the site-packages are, actually this is not recommended at all, like last thing you should do. The dir is irrelevant since is the setup.py scritp the one that manages to put the libraries in the right place when installing, but the repo should be in the home dir, for example

[2019-12-05 20:05] vinferrer commented on #75
I will attent to this matter once #29  is done since is more urgen and i will correct also the linting of txt.py

[2019-12-05 20:16] RayStick commented on #74
I did wonder whether it was a good idea or not. Can you elaborate on why it is the last thing I should do? I understand I would want to clone the repo to my home dir, for example, if it is development code. However when I run the suggested line 'sudo pip3 install -e' in the README.md file that's fine as long as I do not change _any_ of the paths to this directory. If I do, the phys2bids package do

[2019-12-06 10:09] eurunuela opened #78 "[BUG] check_input_ext doesn't work with double extensions"
As the title says, the method does not work with double extensions when the extension given is not `.gz`. Have a look at the example below:

[code]

[2019-12-06 16:03] smoia opened #81 "OHBM abstract"
As discussed, we should produce an abstract for a software demonstration in OHBM.

Currently, Molly and I are taking the lead on this, but any input is well accepted!

[2019-12-07 08:57] vinferrer commented on #29
![image](https://user-images.githubusercontent.com/38909338/70371794-ed825b80-18d7-11ea-9da9-62d660a79a14.png)

Like that?

[2019-12-07 08:57] vinferrer commented on #29
@smoia

[2019-12-07 12:19] vinferrer commented on #29
Do we have expected ranges in the Y axes or should i leave them free to the channels ?

[2019-12-07 13:58] smoia commented on #29
@vinferrer that's a good start, especially because seeing it means being able to deal with the design!
Can you open a *draft* PR with the code you're producing so we can help?

As a general comment:
- We don't need to plot the time (we know it increases), but we can use that channel as a X axis for all the other figures!
- What size is the figure you put here? If it's already 1800x1000 px we need

[2019-12-07 14:01] smoia commented on #29
Also, what file are you using? Maybe it's a full session recording - that would explain the intermittent trigger. In that case, at the moment we don't support them - so we can concentrate on shorter recordings (at the level of runs).

[2019-12-07 14:39] vinferrer commented on #29
I was using the txt file you told me to create the txt.py script, i am gonna open a pull request

[2019-12-07 14:58] vinferrer opened #83 "default channel trigger doesn't work for txt files"
Hi, doing some testing , i have realized that the default of  -chtrig is not vaild for labchart txt files since the trigger channel happens to be index 1 no index 0, should we change default or only correct it when txt files are used?

[2019-12-07 15:35] smoia commented on #83
We don't know yet if all the txt files have the trigger in position 1. Actually, we might expect it to be all over the place.

A better approach would be to force the user to put it, *if* the option `-info` is not present.
For instance, we can set its default to `None`, and raise an exception if `info` is not True and `chtrig` is None.

Another approach would be to *not* consider the first channel

[2019-12-07 15:36] CesarCaballeroGaudes commented on #29
I would let the user specify the sampling rate for plotting, with default values depending on the signal. A sampling rate of 40 Hz might be sufficient for respiratory volume traces, PPG or end-tidal traces, but it might be insufficient for other faster physiological traces such as ECG.
Second, I would definitely mark the time in the x-axis, otherwise the plot would not be clear. Good plots always

[2019-12-07 15:37] smoia opened #84 "Contribution guidelines"
I started re-drafting a contribution guidelines.
Please have a look here:
https://docs.google.com/document/d/1FCk3BPp6UZePSf44NDL_4CQeMV4gvQUfr1wbLU9mlfw/edit?usp=sharing

You might need to ask permission to comment it.
Deadline for this is 14/12.

[2019-12-07 15:39] vinferrer commented on #29
time is used for the X axis, as for the units i didn't want to go that far for now but i think ``phys_in`` has units inside.

[2019-12-07 19:28] RayStick commented on #83
Yes, I noticed this as a problem too. In our labchart txt files the first column [0] is time, and the second column is the trigger [1]. In these txt files, the first column will always be time, but the second column won't always be trigger. It normally is, but if depends completely on how the user has set up their hardware.

[2019-12-07 19:30] RayStick commented on #83
As to the solution, I think either of the things you suggest would work @smoia. Forcing the user to input it may be best, at least for now.

[2019-12-07 19:46] RayStick commented on #29
Looks good!

Is this a Chicago file? I didn't upload the files so not 100% sure, but it looks like it is. And yes, it is multiple scans which is not supported by the code yet so that's something to consider. If you don't have data for a single scan I can work on getting that to you, or @AyyagariA or @kristinazvolanek can.

I agree that the time plot is not needed.

I don't think having units is to

[2019-12-07 20:56] RayStick commented on #83
I've noticed that we have some Chicago data labelled 'multiscan' and some labelled ' 2minrest' so best to test on the '2minrest' for now.

I have also put a bit more Chicago data up on OSF (labelled ‘Test2’) in case it helps with this testing. One scan exported from lab chart in 4 different ways: header with time column, header with no time column, no header with time column, no header with no tim

[2019-12-07 21:06] RayStick commented on #29
I've noticed that we have some Chicago data labelled 'multiscan' and some labelled ' 2minrest' so best to test on the '2minrest' for now. I also added some more data in the Chicago folder - 'Test2'.

[2019-12-08 15:07] #77 closed

[2019-12-08 15:07] #78 closed

[2019-12-08 21:04] smoia opened #87 "phys2bids and/or physiopy logos"
Maybe this is not the most important point ever, but having a nice figure that represents the work we're doing is incredibly nice.
Luckily, we have a fellow in Donostia that likes doing this sort of things - and does them well!
He sort of volunteered to give us a logo for pys2bids and/or physiopy.
@danalclop wanna take over this issue?

[2019-12-09 02:42] smoia commented on #81
Hi @all, here's a draft of the abstract for OHBM.
Sorry it arrived this late - I'm a bit swamped!
You might need to ask for permission to comment and edit it:
https://docs.google.com/document/d/1BjWifk_CIoouQ4Y24XQqVx7Lf4hAx79pOgT2rQTSo48/edit?usp=sharing

[2019-12-09 08:59] vinferrer commented on #83
Thank you @RayStick , from now on we can adress all things related to this issue in draft PR #85,  there you will see a photo with the newest output of the plot function.

[2019-12-10 14:43] eurunuela opened #88 "BlueprintOutput.delete_at_index() does not update the number of channels in object"
Possible solution:

[code]

[2019-12-10 14:58] rmarkello commented on #88
I might lean towards having `ch_amount` be a property of the class so that we don't actually need to manually update it in all the methods that modify the # of timeseries. Something like:

[code]

[2019-12-10 15:19] eurunuela commented on #88
Sounds great. We should also add it to `BlueprintInput` as well.

[2019-12-10 15:30] rmarkello commented on #88
For sure! But let's get #76 merged in first :+1:

[2019-12-10 15:58] smoia commented on #88
Totally agree! @rmarkello are you taking care of this? Can you assign it accordingly?

[2019-12-10 16:00] rmarkello opened #89 "0- vs 1-indexing the `run` keyword in `use_heuristic()`"
In https://github.com/physiopy/phys2bids/pull/76#discussion_r356095934 a brief discussion was started about whether the `run` keyword should be 0- or 1-indexed when users provide a `heuristic` to convert their data to BIDS format. We are currently using a 0-indexing approach; I personally think a 1-indexing approach makes more sense here, but am open to discussion on this point!

@smoia found a re

[2019-12-10 16:11] smoia commented on #89
I see that actually we were talking about two different things.
I thought you were referring to padding - that's the only thing the specs refer to.
I didn't find anything related to 0- or 1- indexing, although most of the examples are 1-indexed.

As we don't support multiple files or multiscan files yet, if we want to implement this we should also think about a way to check that then different cal

[2019-12-10 21:21] eurunuela commented on #39
I think we can close this issue. Feel free to open it again if you think flake8 is not being correctly tested.

[2019-12-10 21:21] #39 closed

[2019-12-10 21:28] #42 closed

[2019-12-10 21:30] eurunuela commented on #40
Any advances on this @kristinazvolanek @RayStick @AyyagariA? I can take care of it if you want.

[2019-12-10 21:33] eurunuela commented on #1
Given that this issue was labeled as urgent, how are we doing with this?

[2019-12-10 21:33] eurunuela commented on #47
Any progress on this?

[2019-12-10 21:34] RayStick commented on #40
I haven't had time to get to make a start on this (I think that's the same for the others as well) so if you are able to that'd be grand.

[2019-12-10 21:38] RayStick commented on #1
It seems that @smoia made good progress on this?

[2019-12-10 21:40] eurunuela commented on #74
I believe that `-e` is just the _key_ that makes pip understand that you're giving a path as an argument (see https://pip.pypa.io/en/stable/reference/pip_install/).

What do you mean by `pip3 install` works as long as you do not change _any_ of the paths to _this_ directory? I don't think I understand the issue here.

[2019-12-10 21:47] eurunuela commented on #87
This may not be the most adequate issue for this but I have just found out there's already a `physiopy`project on GitHub (not an organization though). The developer claims it is a toolbox to simulate physiological data.

Check it out here: https://github.com/jasohill/PhysioPy

[2019-12-10 21:52] smoia commented on #1
This should have been closed automatically by #80 . Closing it now.

[2019-12-10 21:57] RayStick commented on #74
Ah, I understand -e now.

In terms of location, let me see if I can rephrase (please bear in mind I am relatively new to using python):

I guess I am just trying to work out the 'best' way to interact with this package/have it set up on my computer. I am most familiar with installing packages with pip3 which appears to put them into my default location of **/usr/local/lib/python3.7/site-packages**

[2019-12-10 21:59] eurunuela opened #90 "[DOC] Adding Code of Conduct to project"
In order to follow the recommended community guidelines (see https://github.com/physiopy/phys2bids/community), we should add a _Code of conduct_ to our project.

How about we draft it in the following Google Docs?

https://docs.google.com/document/d/1qDdDnuADu87zjxsDEjJpFzGmjETWsK15XQcUlieKCTg/edit?usp=sharing

[2019-12-10 22:06] smoia opened #92 "Correcting linter errors"
We have a bunch of errors and warnings in the linter test that makes it fail.
While I don't see any problem for Warnings (but maybe I'm wrong), we can't have Errors.
looking at Travis CI details, I see most of them are in `interfaces/txt.py`. @vinferrer , can you check that your scripts pass lintering for Travis CI?

[2019-12-10 22:09] eurunuela commented on #74
So, pip will usually install a package from a url and into a specific Python packages folder on your computer.

In our case, we're telling pip to install the package located in the given folder (i.e. the phys2bids project) as a new "system command".

Note that if you want to use other Python packages you install (e.g. numpy or pandas), you must open a Python terminal or use and IDE. However, we wa

[2019-12-10 22:13] smoia commented on #90
What about slightly modifying the one proposed in the doc in #84 , the [contributor-coventant](https://www.contributor-covenant.org/version/1/4/code-of-conduct.html) ?

(Also, can you give the link to the doc?)

[2019-12-10 22:16] eurunuela commented on #90
I'm sorry, I thought the link was already there. I've just edited the first comment.

I like the contributor-covenant but would still like to have some input from everyone. I believe this is an important point in physiopy.

[2019-12-10 22:19] smoia commented on #40
This is not an urgent matter, and I think it's a very easy G1I to start approaching python and our code.
Can I suggest that if another person with less experience wants to tackle it (say, before _February_) we reserve this for them, while @eurunuela you play the hard game? There's no rush whatsoever on this.

[2019-12-10 22:27] smoia commented on #74
Attention @RayStick @eurunuela , `pip install -e path/to/package` is not to define a path per se. It's the _developer_ installation option, which let the user modify the code and run it without having to reinstall it.
One could install a local package as `pip install path/to/package` without any problem, but this would "freeze" the installed version of the code to the moment it gets installed, and

[2019-12-10 22:32] smoia commented on #74
Another approach is actually _not to use pip in the first place_, but just call `python setup.py` in the right folder.

[2019-12-10 22:44] RayStick commented on #74
Thank you @eurunuela and @smoia. This is becoming much clearer now. I will double check I understand by looking at my set up, but I think I do.

It may be good to consider a "user install" and a "developer install" , and what guidance we may want to give.

[2019-12-10 22:48] smoia commented on #74
Best way to go, actually! Thank you!
PS: in a not-so-distant-future, we're going to be distributed with pip. Spoiler alert.

[2019-12-11 07:23] vinferrer commented on #92
Yeah I was giving priority to PR #85 but as soon as we are done i will correct this

[2019-12-11 11:21] vinferrer commented on #92
linting errors refering to ``interfaces/txt.py`` corrected as part of PR #85, the errors left are from other files

[2019-12-11 11:24] eurunuela commented on #92
Could you take care of them @vinferrer and make a PR of all those corrections?

[2019-12-11 11:28] danalclop commented on #87
Hi everyone!

I built upon the BIDS logo and tried to visualise a simple input-to-output diagram where different sources of "noisy" physiological signal (that's why the left part of the logo is grained) become a clean (grain-free) file system. The color gradient also tries to help transmitting that flow impression.

It's a simple idea, but I think could fit the initial aim of the project. What do

[2019-12-11 14:47] eurunuela commented on #87
I really like the idea and the logo is cool! 🙌🏻

[2019-12-11 15:31] vinferrer commented on #87
This is perfect @danalclop

[2019-12-11 17:34] eurunuela commented on #90
Maybe we should have an email account (or someone) that can be contacted in case irregular conduct is to be reported.

[2019-12-11 17:36] smoia commented on #90
Normally, that's the project manager. Do we want a different figure just for that, or is the project manager ok?

[2019-12-11 17:37] eurunuela commented on #90
Project Manager sounds good to me, but maybe we should discuss this with the whole group. What do you think?

[2019-12-11 17:40] smoia commented on #90
If this whole issue is not for OHBM, we can talk about it in the first call. No rush on this.

[2019-12-11 17:41] eurunuela commented on #90
I think it should be for OHBM itself but not for the submission.

[2019-12-11 19:15] rmarkello commented on #74
Hey ! Sorry I missed this conversation yesterday. I agree with pretty much everything that was said, but have a minor addition:

1. We should **not** be recommending `sudo pip3 install -e .` as the primary method of install. It is best practice to *never* use `sudo` when installing Python packages (you can irrevocably screw up your machine if you mess with your system install of Python too much).

[2019-12-12 17:35] RayStick commented on #87
Looks brilliant!

[2019-12-13 16:47] smoia commented on #29
Closed by #85

[2019-12-13 16:47] #29 closed

[2019-12-13 17:37] AyyagariA opened #99 "Phys Data Best Practices Documentation"
Phys data best practices documentation outline for OHBM abstract [here](https://docs.google.com/document/d/1Lv7jeTk3XnZP9GbNUI7cHs8ZoOuT1NxWrlQIPg6n9Y0/edit?usp=sharing).

Feel free to edit as you see fit.

[2019-12-14 08:23] eurunuela commented on #88
Any updates on this @rmarkello ?

[2019-12-14 08:26] eurunuela commented on #92
I believe #85 will close this @vinferrer , right?

[2019-12-14 08:44] vinferrer commented on #92
As soon as PR #82 is merged yes, lintin errors are treated there

[2019-12-16 19:55] eurunuela opened #102 "setup.cfg should be updated to follow the name of the organization"
There are a couple of lines that reference should reference the physiopy organization instead of a personal GitHub project. See the lines [here](https://github.com/physiopy/phys2bids/blob/8f0bab893280101c8cf6e60fee961737dda62449/setup.cfg#L3).

## Context / Motivation

One would expect to find physiopy references everywhere in the project, which makes it somehow incoherent to find a reference to a

[2019-12-16 21:00] vinferrer commented on #102
We are actually probably changing the name  because there is a toolbox that has similar name and does similar thing so maybe we should wait

[2019-12-16 21:25] eurunuela commented on #102
Absolutely @vinferrer . Opened the issue just to point it out and not forget about it.

[2019-12-18 18:55] AyyagariA commented on #99
@Everyone Please feel free to look at this document and provide feedback if you want!

[2019-12-18 19:27] vinferrer commented on #99
We could add the fact that the data can be plotted with the toolbox for firts inspection, once PR #82 is finish

[2019-12-19 10:58] #88 closed

[2019-12-19 11:09] #92 closed

[2019-12-19 13:21] smoia commented on #65
@all-contributors, please add @danalclop for design

[2019-12-19 13:26] smoia commented on #65
Cloding issue and opening new one to use all-contributors

[2019-12-19 13:26] #65 closed

[2019-12-19 13:27] smoia opened #104 "New all-contributors issue"
## Summary

Just a matter of using the all-contributor bot.

## Additional detail

## Next Steps

    *
    *
    *

[2019-12-19 13:30] smoia commented on #104
@all-contributors add @danalclop for design

[2019-12-19 13:40] smoia commented on #104
@all-contributors add @AyyagariA for documentation and content

[2019-12-19 13:41] smoia commented on #104
@all-contributors add @BrightMG for ideas, content

[2019-12-19 13:42] smoia commented on #104
@all-contributors add @CesarCaballeroGaudes for ideas, content

[2019-12-19 13:43] smoia commented on #104
@all-contributors add @vinferrer for bugs, code, documentation, review

[2019-12-19 13:44] smoia commented on #104
@all-contributors add @soichih for bugs

[2019-12-19 13:45] smoia commented on #104
@all-contributors add @rmarkello for bug, code, ideas, infrastructure, review, testing

[2019-12-19 13:45] smoia commented on #104
@all-contributors add @smoia for code, ideas, infrastructure, projectManagement, review, documentation, content

[2019-12-19 13:47] smoia commented on #104
@all-contributors add @smoia for code, ideas, infrastructure, projectManagement, review, documentation, content

[2019-12-19 13:48] smoia commented on #104
@all-contributors add @raystick for bug, documentation, userTesting

[2019-12-19 13:48] smoia commented on #104
@all-contributors add @eurunuela for bug, infrastructure, review, testing

[2019-12-19 13:49] smoia commented on #104
@all-contributors add @kristinazvolanek for documentation, content

[2019-12-19 14:30] vinferrer opened #118 "Unify channel trigger numbering for txt and acq files"
Summary
------------
So basically if the file is ``acq`` the first channel is 1 and if the file is``txt`` the first channel is 0.

Additional detail
--------------------
As example, if we start counting from 1, in Test_belt_pulse_multifreq.acq channel 2 is the trigger and therefore the instruction should be written as:
``phys2bids -in phys2bids/phys2bids/tests/data/Test_belt_pulse_multifreq.acq -i

[2019-12-19 14:35] smoia commented on #83
Moved this converation to #118

[2019-12-19 14:35] #83 closed

[2019-12-19 15:19] vinferrer commented on #41
Hey guys so I am starting to work on others ``txt`` formats and refractoring ``txt.py`` so there is a reading function for each txt format, so I am assuming AcqKnowledge files in txt format have to be treated here. Any oposition to this?

[2019-12-19 15:43] eurunuela commented on #104
@all-contributors add @danalclop for design

[2019-12-19 23:15] AyyagariA commented on #99
I haven't gotten the file into .rst format yet.

[2019-12-19 23:18] smoia commented on #99
Don't worry too much about it. If @rmarkello has a bit of time today or tomorrow, maybe you two can do it together? In any case, abstract is more urgent. If you have time, can you help with the pictures? It's about taking the one @vinferrer showed in his PR #82 , adjust the allcontributors table, and add the logo. Otherwise, I'm going to work on it as soon as I finish with the others

[2019-12-20 00:43] smoia commented on #104
@all-contributors add @kristinazvolanek for documentation, content

[2019-12-20 00:44] smoia commented on #104
@all-contributors add @kristinazvolanek for documentation, content

[2019-12-20 01:01] smoia commented on #104
@all-contributors add @kristinazvolanek for documentation, content

[2019-12-20 10:09] #81 closed

[2019-12-20 17:31] smoia commented on #118
This is not a bug related to unifying trigger channels, rather than a refactoring of code and a decision on how to deal with particular inputs.

At the moment, the first part of the workflow (the one that is run no matter what) of `phys2bids.py` is:
  1. get the options from the parser
  2. check that the the input file exists and it's supported
  3. populate the blueprint:
     a. read input file

[2020-01-08 11:16] smoia commented on #8
At this point, this is a duplicate of #84 , which is more developed.

[2020-01-08 11:16] #8 closed

[2020-01-08 11:25] smoia commented on #45
Duplicate of #44

[2020-01-08 11:27] #104 closed

[2020-01-08 17:56] RayStick commented on #74
Can we close this issue now? As #94 was merged

[2020-01-08 19:12] RayStick commented on #43
With test data (tests/data) I think we need a bit more information provided along with these files, so the user knows the “ground truth” when using these test files. I didn’t know if the output was correct when I ran it with data that wasn’t mine.

 For example knowing these things may be useful: CHTRIG, NUM_TIMEPOINTS_EXPECTED, TR
What do people think? 
Shall we just make sure this info is in eac

[2020-01-08 19:25] RayStick commented on #47
No progress yet. I can work on this 29th - 31st Jan, if that's not too late.

[2020-01-08 20:14] RayStick commented on #118
Firstly, some information, in case it helps to clarify anything:

For LabChart,  if you acquire data channels 1-4, this will be the order they appear when exporting the data to a text file.  The user also has the option to change these things when exporting:
- The channels  they export
 - Header vs no Header
- Time vs no time column (if yes - becomes first column)
- Date (if yes - becomes second c

[2020-01-10 16:56] yarikoptic commented on #87
if you remove the folders on the right -- could make it a physiopy logo ;)

[2020-01-13 12:06] smoia opened #127 "Adhering to BIDS units standards"
## Detailed Description

[BIDS uses a standard format for units of measure too](https://bids-specification.readthedocs.io/en/stable/99-appendices/05-units.html).
Our files have different ways to report units, but we should treat them with phys2bids!

## Possible Implementation

A possible implementation is adding a dictionary and a function, either in the main script or in a separate file, that ge

[2020-01-17 10:52] vinferrer opened #128 "If an AcqKowledge file is both in .txt and .acq format and you input the txt, the program reads the acq file instead"
## Expected Behavior
Reading txt file:
phys2bids -in Test_belt_pulse_samefreq.txt  -info -chtrig 2
File extension is .txt
Reading the file
phys2bids detected that your file is in AcqKnowledge format
Interval is not in seconds. Converting its value.
RESP - RSP100C PULSE - Custom, DA100C MR TRIGGER - Custom, HLT100C - A 5 PPG100C CO2 O2
Reading infos
File Test_belt_pulse_samefreq.txt contains:

00.

[2020-01-17 10:57] vinferrer opened #129 "Need to know which sampling interval units uses AcqKnowlegde format"
## Summary
I couldn't find a reference of which units can AcqKnowlegde format use for sampling interval

## Additional detail
For the moment, in txt.py function I am assuming the possible units are ['hr', 'min', 'sec', 'µsec', 'msec']

## Next Steps

    *  Search if there is a reference for sampling interval  units in acq files
    *  Gather actual acq data to test it in different sampling interv

[2020-01-18 08:57] #74 closed

[2020-01-18 09:10] eurunuela opened #130 "Automatic testing on data with Travis"
I believe we should have some automatic testing on data with Travis before we release our first non-beta version. This issue is related to #9.

## Context / Motivation

We should always make sure the code works on data, as it is the main purpose of the project. It would definitely make testing the code easier. It could even be helpful for the tutorials in our documentation.

## Possible Implementa

[2020-01-18 09:20] eurunuela opened #131 "Generate a report with all the outputs"
As discussed in our last meeting, it would be very interesting to have some kind of report that contains all the outputs phys2bids currently provides. This feature would unify our current three outputs into one "good looking" report.

## Context / Motivation

This feature would provide an easy way of looking at the output of phys2bids. It would also be useful for the tutorials on readthedocs.

##

[2020-01-18 09:38] eurunuela commented on #129
I have found this:

See [page 194](https://www.biopac.com/wp-content/uploads/acqknowledge_software_guide.pdf).

[2020-01-18 10:28] smoia commented on #87
Actually, I agree with @yarikoptic! Who's in favour to have a slightly modified version of this for physiopy (the organisation)?

[2020-01-18 10:31] eurunuela commented on #87
Sounds good! It will not require much work so it's perfect.

[2020-01-21 17:36] AyyagariA commented on #99
Update:
1. The file is in .rst format and is up to date on Github and google docs.
2. I will work on building this document more fully. @kristinazvolanek if you have time to help over the next few weeks, that would be great!

[2020-01-23 12:24] eurunuela commented on #90
FYI: I've just created a draft PR to close this issue.

[2020-01-25 09:41] eurunuela commented on #90
PR #132 is ready for review.

[2020-01-25 10:22] eurunuela opened #133 "[BUG] Exception text not updated with support for txt files."
## Expected Behavior

The error message should read:
[code]

## Actual Behavior

The error message reads:
[code]

## Steps to Reproduce the Problem

    1. I gave one of the testing ACQ files as the input and ran the program.

## Specifications

    - Python version: 3.7.6
    - phys2bids version: v1.1.0-beta+222.g96026fc
    - Platform: MacOS

## Possible solution

We must update the exception te

[2020-01-27 11:49] #1 closed

[2020-01-27 11:57] smoia commented on #102
Closed in commit to master.

[2020-01-27 11:57] #102 closed

[2020-01-27 13:40] #40 closed

[2020-01-27 13:46] #90 closed

[2020-01-27 14:06] eurunuela commented on #130
Do you guys think the following tests would be enough for the moment? @smoia @RayStick

- A test for ACQ (accounting for single and multi-frequency)
- A test for TXT (accounting for single and multi-frequency)

[2020-01-29 13:27] eurunuela opened #136 "Add unit tests for txt.py"
## Detailed Description

Unit tests should be added to #123.

[2020-01-29 13:52] smoia commented on #136
@vinferrer, if you want help on the code you can open a draft PR and we can have a look

[2020-01-29 13:55] vinferrer commented on #136
actually i was already starting but i don't know if  is better to start a new PR. What do you prefer?

[2020-01-29 13:56] vinferrer commented on #136
or add it to the one i already have with txt.py

[2020-01-29 16:19] vinferrer commented on #136
One thing, every time I check an if do i need to assert something or if i know the code is running that part should be fine?

[2020-01-29 18:44] smoia commented on #136
@vinferrer, up to you. Let us know what you decide.

Explain better. Remember that to have better tests (and increase code coverage), you need to test each line of the function. So if you have an `if A else B` statement, you need a test that triggers `A`, and another one that triggers `B`. If you have "cases of" (or the pythonic equivalent) , you need to test each case. If you have a simple `if A`

[2020-01-30 11:18] vinferrer commented on #136
Well I just uploaded the test to the pull request I already had so you can review it, I also added the units for acqknowledge files so you can do the review all together

[2020-02-04 15:34] RayStick commented on #130
I think those tests would be enough for the moment, yes.

What does automatic testing on  data mean, specifically? Would we need to make sure that whatever input we give to Travis, we know what output we _should_ be getting, from a specific data file? At the moment, the data we have in 'test' might need more information about expected output, accessible alongside them, in that case.

[2020-02-04 16:27] RayStick commented on #47
I am working on it this week.

In terms of example data, I am using mine that I put on OSF:
Test2_time_trigger_CO2_O2_pulse_1000Hz_534TRs.adicht
Test2_time_trigger_CO2_O2_pulse_1000Hz_534TRs.txt
Test2_trigger_CO2_O2_pulse_1000Hz_534TRs.txt

Is this ok, or would people prefer I use the ones in phys2bids/tests/data?

The reason I am not using the ones in tests/data is because I don't know all the de

[2020-02-04 16:34] eurunuela commented on #130
Indeed, that's what we should be aiming for. We should test that, for a given input, the output is what we expect. Of course, how strict we want to be with the output we expect is another thing. I think we should at least cover some minimum (what that minimum is, that's something we have to decide).

[2020-02-04 16:38] eurunuela commented on #47
I think the OSF data is good. I'd keep the `phys2bids/tests/data` "internal" to run our tests. I believe this would give as a broader range of data to showcase the package, i.e. we'd have more examples.

One could also argue that using the same dataset in all points of the documentation would be easier for users to follow, despite not being the best data for some of the points we'd like to make (?

[2020-02-05 00:28] RayStick opened #137 "Channel plot has incorrect units"
The channel plot has incorrect y-axis units, when using labchart text files as an input (trigger channel is second column).

## Expected Behavior

When running:
`phys2bids -in Test_2minRest_trig_multifreq_header_no_comment.txt -info -chtrig 1`

I expect to get a channel plot with correct units associated with each channel (i.e. mmHg or volts)

## Actual Behavior

When running:
`phys2bids -in Test_

[2020-02-05 00:39] RayStick commented on #118
I have a (related) thought. If I run:

`phys2bids -in Test_2minRest_trig_multifreq_header_no_comment.txt -info -chtrig 1`

I get:

[code]

Do we want the numbers (e.g. **00**. CO2 and **01**. O2) to reflect the true column numbers? If so, it should be **02**. CO2 and **03**. 02. This is because time is column 1 and trigger is column 2. If time is in the data, it'll always be column 1. If trigger i

[2020-02-05 00:53] RayStick opened #138 "Error when there is no 'time' column (for labchart txt files)"
When using phys2bids with a labchart txt file that does _not_ have time as the first column, the file is not correctly processed.

## Expected Behavior

When I run:

`phys2bids -in Test2_trigger_CO2_O2_pulse_1000Hz_534TRs.txt -info -chtrig 0`

I expect:

[code]

I expect the plot to show: trigger, CO2, O2 and pulse.

## Actual Behavior

This is what I get:

[code]

![Test2_trigger_CO2_O2_pulse_100

[2020-02-05 00:54] RayStick commented on #118
New issues #138 and #137 may be relevant here.

[2020-02-05 09:27] vinferrer commented on #137
let me close the PR #123 and i can start solving this and #138

[2020-02-05 10:47] vinferrer commented on #137
![image](https://user-images.githubusercontent.com/38909338/73835089-1c9c4700-480d-11ea-9f4a-d7eb049cd4fc.png)

I am running the same command with the PR #123 and this is the plot I get, Is this what you were expecting @RayStick ?

[2020-02-05 10:49] vinferrer commented on #137
Maybe I actually corrected this error in the PR #123 but the changes had not taken place because it need the final approval from @eurunuela and @smoia, let's wait for the merge and see if you can reproduce this result

[2020-02-05 10:51] vinferrer commented on #138
Oh I see, i didn't expected that labchart wouldn't give the time as first column, this will need a new pull request to solve this bug and probably add a new test

[2020-02-05 10:54] eurunuela commented on #137
I have already accepted the PR. Up to @smoia now!

[2020-02-05 10:59] eurunuela commented on #138
I'd make a new PR once #123 is merged. Of course, more unit tests will be needed.

[2020-02-05 11:11] eurunuela commented on #136
@vinferrer could you please reference this issue on #123 ?

[2020-02-05 11:12] vinferrer commented on #136
I will actually close it then the PR is finished

[2020-02-05 11:29] eurunuela commented on #136
Yes, but reference it please so it can be tracked in the future.

[2020-02-05 11:39] smoia commented on #137
Closed by #123

[2020-02-05 11:40] smoia commented on #136
Closed by #123

[2020-02-05 11:40] #136 closed

[2020-02-05 11:40] vinferrer commented on #137
The PR is finished, could you @RayStick  pull master and check everething is fine now?

[2020-02-05 13:38] eurunuela commented on #129
Can we close this issue @vinferrer ?

[2020-02-05 13:39] smoia commented on #129
As it might have been addressed and closed by #123

[2020-02-05 13:39] eurunuela commented on #87
Any update on this @danalclop ?

[2020-02-05 13:39] vinferrer commented on #129
we can close it

[2020-02-05 13:39] #129 closed

[2020-02-05 14:55] RayStick commented on #138
Well, the way our lab exports files as txt from LabChart, we _do_ export a time column.  However, there is an option not to export a time column, in the export.  So, for now, in the phys2bids guidance, we can say that it expects a time column (which isn't a big deal), but if it is a simple enough thing to change in future it'd be good to have the flexibility to read in labchart txt files without t

[2020-02-05 15:09] eurunuela commented on #138
Is there a way you could send us (or upload) one of those files without the time column? It could come in handy to test the code.

[2020-02-05 15:14] vinferrer commented on #138
Is already in osf.io

[2020-02-05 15:16] smoia commented on #138
I would explain that for the moment files need to
1. have an header and
2. if in txt format, have a time column.

It might even be a good idea to add this in the help/ first messages of the program.

We can remove it once the feature is implemented.

[2020-02-05 15:17] RayStick commented on #137
Yes, works now!

[2020-02-05 15:17] vinferrer commented on #138
sure but don't close the issue, I think it has an easy fix

[2020-02-05 15:17] #137 closed

[2020-02-07 08:38] vinferrer commented on #138
Update on this, I have been playing with the file ``Test2_trigger_CO2_O2_pulse_1000Hz_534TRs.txt`` is this what you expect the plot to look like?
![image](https://user-images.githubusercontent.com/38909338/74013783-89d6e600-498d-11ea-8368-8936e4b35764.png)

Here is the command that generated the image:
``phys2bids -in Test2_trigger_CO2_O2_pulse_1000Hz_534TRs.txt -info``

[2020-02-07 08:40] vinferrer commented on #138
If so I will submit a PR to solve the problem

[2020-02-07 14:51] RayStick commented on #138
Yes, that's the plot I expected! Great.

[2020-02-10 17:30] smoia commented on #36
@tsalo might have an idea on how to do this!

[2020-02-11 14:57] tsalo commented on #36
I haven't had a chance to finalize it, but my approach with BioPac involves the following:

0. Set up your BioPac profile so that segments are labeled with a timestamp and a high maximum segment duration (3 hours)
1. When recording, have one long segment instead of stopping between scans.
2. Load data and identify trigger periods (onset and duration).
3. Infer absolute trigger period onsets from r

[2020-02-11 16:12] eurunuela opened #141 "[BUG] Cannot delete at index with multi-frequency file."
## Expected Behavior

The`.delete_at_index(idx)` function should delete at the specified index even with multi-frequency files.

## Actual Behavior

The function gives the following error:

[code]

## Steps to Reproduce the Problem

    1. Run the following command `phys2bids -in Test_belt_pulse_multifreq -chtrig 0 -debug` using the test file provided by the package.

## Specifications

    - Pyth

[2020-02-11 18:11] RayStick opened #142 "Typos (+ small code suggestion)"
## Typos
The command line output when calling phys2bids says:
`"saving channels plot at plot at my_phys_outputs/tutorial_file.png"`
This seems to be a typo, and should be something like:
`"saving channel plot to my_phys_outputs/tutorial_file.png"`

The command line output when calling phy2bids with the incorrect threshold says:
`Correcting time offset, assuming missing timepoints are at the beginn

[2020-02-11 18:11] RayStick commented on #142
@vinferrer I assigned you as I think you were made these channel plots, but let me know if not!

[2020-02-11 19:16] vinferrer commented on #142
Ups, Thank you @RayStick  sometimes I forgot the little, thought important, details, I think i am gonna solve these on #140 so we don't have to open a PR only for these.

[2020-02-11 20:33] RayStick commented on #142
No problem! Yep, that makes sense, to solve them alongside 140.

[2020-02-12 16:13] vinferrer commented on #142
I think this should be addressed in the logger #134 PR since that PR is changing all the prints in phys2bids to log commands. @eurunuela is responsible for that PR. To ease his work the first mistake is in line 119 of viz.py:
``"saving channels plot at plot at my_phys_outputs/tutorial_file.png"``
This seems to be a typo, and should be something like:
``"saving channel plot to my_phys_outputs/tutor

[2020-02-12 16:26] eurunuela commented on #142
I've taken care of both typos. They should be solved with #134

[2020-02-13 08:38] vinferrer commented on #142
Thanks @eurunuela, we should close this when your PR is approved

[2020-02-13 09:04] eurunuela commented on #142
I'll merge #134 when #140 is merged.

[2020-02-13 10:51] #138 closed

[2020-02-13 17:49] RayStick commented on #47
Summary from recent call:

@smoia will finish writing the how-to-docs, based on where I got to in my draft PR
Then I will review and edit these how-to-docs, to make sure they make sense to me.
Then @AyyagariA will use phys2bids, using these docs as a guide, and give us feedback on anything that did not make sense.

[2020-02-13 22:19] smoia commented on #41
As we said we'll not cover txt files without header before our first full release, I'm going to open an issue specifically for that and close this one.

[2020-02-13 22:19] #41 closed

[2020-02-13 22:23] smoia opened #143 "Add support for files without header"
## Detailed Description

#41 was closed trough a couple of PRs, but we don't support txt files without header *yet*.
We decided that it's not important before our main release, so this issue is to remind us that we'll have to do it, but it's definitely not fundamental.

## Possible Implementation

Either we add a lot of optional arguments for the command line, or we read a file that contains such

[2020-02-14 16:59] eurunuela opened #144 "Add unit tests for the logger"
## Detailed Description

We should add testing for the changes introduced in #134 .

## Possible Implementation

I'd like to know what your opinion is on this matter as I'm still thinking of the best way to write tests fo the logger.

[2020-02-15 09:30] #28 closed

[2020-02-15 09:30] #142 closed

[2020-02-15 13:42] eurunuela commented on #130
Now that #145 is merged, I believe this tests will considerably increase our coverage. Also, I think #144 should be covered by this issue as I can't think of any better way to test the logger.

[2020-02-15 13:43] eurunuela commented on #84
As discussed during our last Skype call, we should close this issue and merge the contribution guidelines proposal.

[2020-02-15 13:50] smoia commented on #130
#144 Might be the only test that is not covered with the integration test, actually - as well as all the `raise/Exception`. I think, however, that with a couple of calls (to test most of the `cli/run.py`) we'll be able to get to our mark (90%) or close enough to feel good about codecov.

As for the tests, we should runa  simple acq and txt singlefreq and multifreq, but also multiple acq (or txt, w

[2020-02-15 13:51] smoia commented on #144
We should probably check that the messages are reported - a bit like @vinferrer did in the `test_txt.py` test.

[2020-02-16 18:28] eurunuela commented on #144
Sorry, I didn't mean to close the issue. We could check the messages with an independent function in the integration tests.

[2020-02-20 14:30] vinferrer commented on #56
Hey @smoia , I think is the moment we start addressing this issue I wanted to ask you a few questions

[2020-02-20 14:30] vinferrer commented on #56
First of all? You already support multifrequency for acq files don't you?

[2020-02-20 14:37] vinferrer commented on #56
How do you do it ?

[2020-02-20 14:37] vinferrer commented on #56
how do you detect the frequency I mean

[2020-02-22 08:57] eurunuela opened #151 "Add unit test for multi-frequency support of txt files"
## Detailed Description

We should add unit tests for the multi-frequency support in #150.

[2020-02-24 13:46] vinferrer commented on #151
Multifreq testing added at #150

[2020-02-24 13:46] #151 closed

[2020-02-24 13:48] vinferrer commented on #143
I would close the issue, either adding optional arguments or the second option of reading a different file is to costly for the reward

[2020-02-24 13:53] vinferrer commented on #15
I think this is a good first issue but since no one aproach it maybe we should restart it stefano

[2020-02-24 13:53] vinferrer commented on #15
@smoia

[2020-02-26 13:04] smoia commented on #15
No rush on this, but yes, we can restart it. Wanna take care of it?

[2020-02-26 13:07] smoia commented on #133
Let's solve this one - anyone interested?

[2020-02-27 14:25] smoia commented on #143
Let's _not_ close the issue, and kep it to remind us that there is this enhancement we can work on at a later date - that's the meaning of the label "Paused".
If we can add a way to automatically recognise the channels, it will become a bit easier to deal with this.

[2020-02-28 09:39] vinferrer commented on #15
one question. What's the difference between the two plots in the second row?

![image](https://user-images.githubusercontent.com/38909338/75537077-a5765f00-5a16-11ea-97a5-ddc38e9f86d6.png)

[2020-02-28 09:48] smoia commented on #15
They should be different - showing the first and the last TR trigger. It's made so that if the sequence is long but you are asking the program to detect beginning and length of the sequence, you can see how the program performed and eventually correct issues.
How did you obtain this output?

[2020-02-28 09:58] vinferrer commented on #15
``phys2bids -in Test_belt_pulse_multifreq.txt -chtrig 3``
I change the title only everything else comes from the master branch

[2020-02-28 10:02] smoia commented on #15
I see. In this case, the fact that the two subplots are the same might arise from the fact that there is no start and length check. We could add a flag, to not draw the second line when this option is not required - or to expand the plot on the left to the whole line.

another thing would be to substitute the time line (orange) with something else - maybe a semi-transparent rectangle on the backgr

[2020-02-28 10:15] vinferrer commented on #15
Well I am checking the code and the repetition of the plot it's due to the fact that you are plotting the same exact line in both plots:
``subplot = fig.add_subplot(223)
    subplot.set_xlim([-options.tr * 4, options.tr * 4])
    subplot.set_ylim([-0.2, options.thr * 3])
    subplot.secondary_xaxis('top', functions=(time2ntr, ntr2time))
    subplot.plot(time, trigger, '-', time, time, '-')
    sub

[2020-02-28 10:19] vinferrer commented on #15
I see no difference between the 5 and the last line

[2020-02-28 10:26] vinferrer commented on #15
Oh, sry i see the xlim now

[2020-02-28 10:31] vinferrer commented on #15
Yeah so basically ``options.num_timepoints_expected`` is zero in this case

[2020-02-28 11:34] vinferrer commented on #15
So I have changed the function a bit and now this is the output with the file:
![image](https://user-images.githubusercontent.com/38909338/75545468-a7e0b500-5a26-11ea-8d9b-75463431d8d8.png)

[2020-02-28 11:36] vinferrer commented on #15
I can share the new code by PR but maybe we should discuss the third plot. Why do you wanna plot the last trigger only? this can be seen in the second figure

[2020-02-28 13:52] vinferrer commented on #15
![image](https://user-images.githubusercontent.com/38909338/75554054-e2078200-5a39-11ea-8753-03703ac99ce7.png)

[2020-02-28 13:52] vinferrer commented on #15
state of the plot at this moment

[2020-02-29 17:00] #84 closed

[2020-03-01 18:43] smoia commented on #47
Update:
I started working on the tutorial, and realised that #156 was more important than I thought, even for the tutorial itself. For this reason, I strongly feel like closing that PR before writing the tutorial (that is being composed anyhow).

[2020-03-05 17:51] #56 closed

[2020-03-05 18:10] vinferrer opened #162 "Improve check multifreq function"
## Summary
the ````check_multifreq`` function inside ``interfaces.txt```has  a for loop with a while loop inside that at the same time has another for loop inside. It would be better if we had a different implementation:

## Next Steps

    *  propose alternatives
    *  Create PR to solve this
    *

[2020-03-06 09:10] vinferrer opened #163 "phys2bids not working for multifrequency files"
## Expected Behavior
`` phys2bids -in Test_belt_pulse_multifreq.txt -chtrig 3 ``
expecting the program to run to the end and generate the png files and the tgv file

## Actual Behavior
[code]
## Steps to Reproduce the Problem

    1. Download `Test_belt_pulse_multifreq.txt`
    2. `phys2bids -in Test_belt_pulse_multifreq.txt -chtrig 3 `

## Specifications

    - Python version:
    - phys2bids ver

[2020-03-06 09:27] vinferrer commented on #163
I am on it

[2020-03-06 10:19] #163 closed

[2020-03-06 11:43] smoia commented on #99
@AyyagariA, @kristinazvolanek, any update?

[2020-03-06 14:14] smoia commented on #141
Was this solved by #164 ?

[2020-03-06 14:16] vinferrer commented on #141
Yep I did

[2020-03-06 14:16] #141 closed

[2020-03-06 14:16] smoia commented on #141
This was solved by #164

[2020-03-06 14:17] smoia commented on #144
We can check it with a functional test, yes - let's do it like that!

[2020-03-06 14:19] smoia commented on #27
This will be closed by #139

[2020-03-06 14:20] smoia commented on #75
Where are we with this issue?

[2020-03-06 14:25] smoia commented on #87
@danalclop, please give us some news?

[2020-03-06 15:52] eurunuela commented on #144
Already working on it!

[2020-03-06 17:13] RayStick commented on #75
I think this can be closed now?
It was just about making sure the error was sensible when the input had no header, which seems to have been implemented now, so that's good. If I input a file without a header:

[code]

[2020-03-06 18:37] AyyagariA commented on #99
We will have a full document by the end of next week!

[2020-03-06 22:25] #27 closed

[2020-03-06 22:25] #47 closed

[2020-03-08 01:09] #75 closed

[2020-03-09 09:34] eurunuela opened #167 "Multi-frequency saves files in the cwd instead of the outdir"
## Expected Behavior

Files should be saved in the `outdir` directory given by the user.

## Actual Behavior

Files are saved outside of the `outdir` directory, i.e. the tests/data directory.

<img width="729" alt="image" src="https://user-images.githubusercontent.com/13706448/76200091-4de3aa80-61f1-11ea-9c85-51bd777e95e0.png">

## Steps to Reproduce the Problem

[code]

## Specifications

    - P

[2020-03-09 09:37] eurunuela opened #168 "Multi-frequency saves output files with incorrect (default) name"
## Expected Behavior

Output files should be named based on the input filename.

## Actual Behavior

<img width="729" alt="image" src="https://user-images.githubusercontent.com/13706448/76200380-d1050080-61f1-11ea-8c8b-4fbfa0817d57.png">

## Steps to Reproduce the Problem

See #167 .

## Specifications

    - Python version: 3.7.6
    - phys2bids version: v1.3.0-beta+186.gfd98565.dirty
    - Platf

[2020-03-09 13:35] #167 closed

[2020-03-09 13:35] #168 closed

[2020-03-10 12:16] #118 closed

[2020-03-11 14:15] smoia commented on #87
Closed by #170

[2020-03-11 14:15] #87 closed

[2020-03-11 19:29] sangfrois opened #171 "OSError on windows 10"
**When trying to run the [test illustrated in the docs](https://phys2bids.readthedocs.io/en/latest/howto.html) from a windows environment, I get an OS error. Even though the package is at an early stage, I wanted to mention it because the problem seems simple to solve.**

## Expected Behavior
When in directory `phys2bids/tests/data`, and running the command `phys2bids -in Test_multiscan100Hz_trig_

[2020-03-12 09:43] eurunuela opened #172 "Make txt test faster"
## Detailed Description

Test of txt files are very slow due to the amount of downloading and reading of files that happen in each of the testing functions.

## Context / Motivation

Making tests faster would definitely be beneficial for the project.

## Possible Implementation

We could write a helper function that takes care of the downloading of the data and assigns it to variables that are the

[2020-03-12 09:59] smoia commented on #171
Thanks for pointing this out @sangfrois!
Unluckily we can't cover Windows support for the moment, as none of the current contributors uses it.
We are going to look into this soon though!

[2020-03-12 10:02] eurunuela commented on #171
That's right, right now we're covering Linux and MacOS. However, if you feel comfortable with the whole GitHub and Python thing, and would like to contribute, feel free to fork the project, open a branch and write a fix! We're more than happy to have [contributors](https://phys2bids.readthedocs.io/en/latest/contributorfile.html)!

[2020-03-12 10:41] eurunuela opened #173 "New way of automatically selecting a threshold for the estimation of the number of time points"
## Detailed Description

The current part of the code that automatically selects and suggest a threshold for estimating the number of time points does not work properly. It calculates the first derivative of the trigger channel and sets a threshold on the positive values.

## Context / Motivation

Suggesting and automatically selecting a threshold would be a very nice and useful feature for the pr

[2020-03-12 11:17] eurunuela commented on #133
I believe this issue was solved. I can no longer replicate it.

[2020-03-12 11:17] #133 closed

[2020-03-12 11:25] smoia commented on #173
The current ``master`` doesn't contain any code that automatically selects/suggests a threshold to detect the number of timepoitns. That code is contained in PR #153 .
However, we could add automatic detection of the number of timepoints or at least suggest a threshold to be used by the user. That would be a very nice feature to add to our code. In this case, we need to change the detection of the

[2020-03-12 14:22] #130 closed

[2020-03-12 14:22] #144 closed

[2020-03-12 14:26] rmarkello commented on #171
Hi @sangfrois ! Thanks so much for this thorough issue 🙌

I think the root of this problem is that **Windows systems don't support colons in filenames**. Because the logger file has colons in the timestamp at the end of the filename Windows systems won't ever be able to generate them (colons are one of the few "protected" characters on Windows), so we'll always receive that error. The solution sho

[2020-03-12 14:37] rmarkello commented on #173
This is a great idea! 🙌

I would be interested in seeing how effective an "easy" solution is before going forward with something that's a bit more computationally intense. For example, does using 2x SD or MAD outliers or e.g., the 95th percentile of the distribution work as a threshold for >~80% of the cases? If so, I don't think it makes sense to dedicate that much time to option two (despite agr

[2020-03-12 14:42] eurunuela commented on #173
Indeed, we agreed on testing the easy solutions first. We will work on it once #153 is merged.

[2020-03-12 16:56] rmarkello opened #174 "Add Windows CI testing"
We are currently not testing (nor developing) `phys2bids` on Windows systems, leading to issues like e.g., #171. I think we should look into adding Windows CI testing using a service like [AppVeyor](https://www.appveyor.com/) or [Azure Pipelines](https://azure.microsoft.com/en-us/services/devops/pipelines/) (since TravisCI currently only has [minimal](https://docs.travis-ci.com/user/reference/wind

[2020-03-12 18:03] rmarkello commented on #44
I think it's _super_ important that we do this—having just run through the documentation before our call, this was one of my first thoughts so I was happy to see it's an issue already! That said, even I'm not totally sure of _how_ this should be implemented, currently. As such, I removed the "good first issue" label from this issue. Let me know if you strongly disagree (I just wanted to provide a

[2020-03-12 18:06] rmarkello commented on #127
@smoia: I'm not totally sure I understand what you're asking for here. Could you elaborate a little bit on what you're hoping for? Do you want the code to e.g., convert `mV` to `V` before saving to the JSON file, or are you actually hoping to do more complex unit conversions?

[2020-03-12 18:22] RayStick commented on #9
A quick note that we are now also uploading .json files alongside the test files:
https://phys2bids.readthedocs.io/en/latest/contributorfile.html#testfile

I am going to take my assignment off this issue for now, as I think that @AyyagariA and @kristinazvolanek can manage to upload extra Chicago data files, as and when is needed. However, please do tag me by name if you need my input on that.

[2020-03-12 19:45] smoia commented on #174
I think it's a great idea, let's do it! Azure Pipelines is already installed in all the physiopy repos, lee me know if there is any problem in setting it up!
Thank you for taking care of it!

[2020-03-12 19:57] smoia commented on #44
I see what you mean!
The reason for which I labelled it as a G1I was because what this issue addresses (in my mind) is just moving some lines of code from within the heuristic files to the function that calls them and gets their output. For instance, moving everything after [line 38 of this file](https://github.com/physiopy/phys2bids/blob/27a92bf6595e073b8a462676d2c515b7790b04da/phys2bids/heuristi

[2020-03-12 19:59] smoia commented on #44
Now that I see it, we should reopen issue #45 , that is not a duplicate of this one.

[2020-03-12 20:13] smoia commented on #127
I guess it could start with a bit of string substitutions. Let's see if I can clarify this.
BIDS accepts particular unit of measures for each property (e.g. frequencies are measured and expressed in `Hz`, rather than a label saying `1/s`, written in a certain way (e.g. seconds are `s` and not `sec`), with the respective prefixes (e.g. millivolts are a valid unit if written as `mV` and not `milliV`

[2020-03-12 20:30] smoia commented on #172
@eurunuela, I don't know much about helper functions - but I don't understand how this issue might be solved by them. Could you elaborate your idea a bit more?

The reason for which we are downloading the testing file for every test is that:
  1. If we want to run a single test function instead of a whole test file we should be able to do so, and that means we need to be sure the file is there to

[2020-03-13 07:52] vinferrer commented on #172
Yeah I think this is the best approach, I have done the helper thing and it's reducing the testing only 30 seconds, I thing the bottleneck of test_txt.py is the check_multifreq function that is tested every time process_acq or process_lab functions are run. Therefore if we reduce the testing channels file everything could go smothly. What do you think?

[2020-03-13 08:00] eurunuela commented on #172
I would reduce the channels file. In the end, this is just a unit test and should make sure the code isn’t broken. Other issues can be found with the integration test.

[2020-03-13 08:06] vinferrer commented on #172
Then we should have an OSF folder with the reduced files that we use on the tests

[2020-03-13 11:03] smoia commented on #172
@vinferrer  what do youthink about having a file that is quite short (5 minutes), has three channels (so you can test multifreq and onefreq), of which one is the trigger, and has a bit of padding before and after 3-4 TRs?
You can try to craft one with AcqKnowledge (or record it again when we get back to the office), I can help you with that, and maybe @RayStick can provide us a similar file with l

[2020-03-13 14:08] rmarkello commented on #172
So out of curiosity I did some quick tests to check how long it takes to run the tests in `test_txt.py`:

[code]

It looks like `test_process_acq()` is taking, by a wide margin, the longest to run; though, this might just be because that test function has the most calls to `txt.process_acq()` as @vinferrer suggested!

One suggestion I have, in line with @eurunuela's original thought, is to use [`p

[2020-03-13 14:35] eurunuela commented on #171
@sangfrois could you test with #176?

[2020-03-13 15:02] #171 closed

[2020-03-16 09:09] eurunuela commented on #26
@sangfrois would you like to try this one?

[2020-03-16 22:14] RayStick commented on #172
@smoia

In terms of providing a similar file - I am not sure if I definitely have that exact description of data so would have to record it (which I could not do soon, unfortunately).

However, on OSF this is close to what you ask: **Test_2minRest_trig_multifreq**
2 minutes, 4 channels, multi frequency, padding before and after

[2020-03-17 11:19] smoia commented on #43
@RayStick, now that we added the json files to our testing files, can we close this issue?

[2020-03-17 11:23] smoia commented on #172
@vinferrer what do you think about it?

[2020-03-17 11:26] smoia commented on #30
@rmarkello @vinferrer @eurunuela @RayStick @sangfrois, what do you think about this issue? If we lean toward not installing them by default, we can close this issue.

[2020-03-17 11:56] eurunuela commented on #43
I think we can close this now that we have integration tests.

[2020-03-17 12:00] eurunuela commented on #30
I'd stick to what @rmarkello was suggesting; i.e. throw an error if a required package is not installed.

[2020-03-17 13:24] rmarkello commented on #30
What are we considering "non-required" packages now? For the time being, just `bioread`?

[2020-03-17 14:00] eurunuela commented on #30
I think that's the only one right now, yes.

[2020-03-17 14:07] rmarkello commented on #30
Gotcha!

I think in _general_ I'd be pro-"throw an error if it's not installed" as I said before, but `bioread` is actually pretty light-weight. It only depends on `numpy` and the [tarball](https://pypi.org/project/bioread/#files) on PyPi is ~40kB, so including it as a required dependency doesn't seem to be too unreasonable 🤷‍♂

That said, if you think the number of optional dependencies is going

[2020-03-17 14:35] RayStick commented on #43
@smoia - yes I think we can close this now. Not all the OSF files have json files, but the main testing files do, so I'd say that is sufficient.

[2020-03-17 15:23] vinferrer commented on #172
I think i am already using Test_2minRest_trig_multifreq for the labchart part. As we talked this morning i can use this file with 3 channels (trigger, channel_with_trigger_freq, channel_diff_freq) so all the test are done properly. My PR will come soon. It will also include changes on the downloading, downloading of files will be done first and then the functions will use the @addparameter functio

[2020-03-17 15:25] vinferrer commented on #172
I did things a bit differently from what @rmarkello suggested but we can discuss it on the PR

[2020-03-17 15:26] #15 closed

[2020-03-17 15:39] vinferrer commented on #173
PR #153  merged, we can start working on this issue.

[2020-03-17 16:16] #43 closed

[2020-03-18 14:18] RayStick commented on #36
I have some working MATLAB code which I use to chop up a file which contains multiple scans. I will explain what it does here, in case any part of it is appealing to adapt for phys2bids. I haven't thought about how this would interact with BIDS as @tsalo has done, though! So incorporating in some of his good ideas would make sense too.

I have a function that reads in the input text file, alongsid

[2020-03-19 13:41] smoia commented on #30
I see your point, but as you say the number of optional dependencies might increase later on.
For instance, if/when we start supporting matlab files, we would have other libraries to add to the list.
Another thing I'm puzzled about is the fact that the more libraries we depend on, the more we are at risk of deprecation errors (we already receive warnings from `bioread`).
It seems to me that the ge

[2020-03-19 15:26] rmarkello commented on #30
Totally fair! I'm not well-positioned to know how many "new" libraries `phys2bids` may end up needing, so simplifying dependencies now sounds good to me.

(Regarding `DeprecationWarnings`: We could also consider making an upstream PR to `bioread` to fix those! I'm sure they'd appreciate it 😎)

[2020-03-19 15:33] #172 closed

[2020-03-19 16:04] rmarkello opened #179 "Consolidate testing suite"
## Summary
With @vinferrer's updates to the test suite (via #178) merged (🙌), I thought it might be worth re-visiting the test suite in a more general sense. It's evolved pretty rapidly as development has happened on `phys2bids` and I think it might be worth doing a bit of consolidation. I wanted to make this issue to discuss ways that we might do that, and offer a few initial suggestions. (I will

[2020-03-19 23:52] smoia commented on #179
Don't be sorry, for most of us this is something totally new, and this explanation is incredibly useful!
I totally agree with all of your point, I'm glad you're already opening a PR!

About the files in `test/data`, they do have to be cleaned up a bit. Until now, we left a bit of everything there as a sort of backward compatibility for tests, but it's much better to have everything fetched from OS

[2020-03-20 09:16] eurunuela commented on #179
Thanks a lot @rmarkello for taking the lead on this!

All your points sound very reasonable to me and will surely improve the testing suite. I also agree with @smoia that the tutorial files should stay. They are great for a first hands-on with phys2bids. Regarding the fetching function, it sounds very useful!

Let me know if there's anything I can help with!

[2020-03-20 16:23] eurunuela opened #182 "Discussion on the ordering of library imports"
## Summary

Each one of us has got a different way of ordering the library imports and I believe we should have some guidelines to follow. The idea is that we are all on the same page. Also, this should make reading and reviewing the code easier on the eye.

The following is a possible guideline:
1. Standard library imports
2. Third-party library imports
3. Internal library imports

where each set

[2020-03-21 09:44] #179 closed

[2020-03-23 10:28] vinferrer commented on #173
I am gonna implement the STD solution and see how it works

[2020-03-23 13:59] smoia commented on #36
@RayStick Sorry i didn't see this earlier.

It's a bit of user interaction more than the optimal, and we have to be sure it's not LabChart specific.
We could still implement this as a side function, something that specific users can adopt to chop their files (provided that x, y, and z).

I was thinking about this issue as well, and I would like to see where #173 goes first, but an easy option woul

[2020-03-23 17:39] smoia commented on #45
This is not a duplicate of #44 - my bad.
This is about how to improve our heuristic files in order to have prettier and more complex heuristics (_à la_ `heudiconv`).

It's quite a challenge, if anyone feels inspired/bored enough to tackle this!

[2020-03-23 17:58] vinferrer commented on #173
Guys do you think we should preserve check_trigger_amount function? the way i am doing the trigger count now if it works, renders this function usseless

[2020-03-23 18:08] rmarkello commented on #173
It's a bit tough to say without seeing how you've implemented the alternative, but if you're no longer using the function at all then I see no reason to keep it, personally!

[2020-03-23 18:13] rmarkello commented on #127
Gotcha! So steps include:

1. Defining the set of BIDS-compatible units of measurements in some Pythonic format (e.g., a dictionary),
2. Coming up with popular / common aliases for these units that might be used in various physiological data files, and
3. Writing a method for converting data and metadata from arbitrary into the pre-defined BIDS-compatible units before the output files are generate

[2020-03-23 18:17] vinferrer commented on #173
so basically the function I am designing does the same as ``check_trigger_amount`` but without needing a threshold, maybe we can have both of them for the moment and activate mine with an optional argument in ``phys2bids``

[2020-03-23 18:20] vinferrer commented on #173
May I open a PR and we discuss it over the code?

[2020-03-23 18:26] rmarkello commented on #173
That'd be great!

[2020-03-24 10:22] smoia commented on #182
Totally agree! This would follow better [PEP8 conventions](https://www.python.org/dev/peps/pep-0008/#imports).
What would you (all) prefer as order:
[code]
or
[code]
?

PEP8 doesn't specify this case.

[2020-03-24 10:26] eurunuela commented on #182
I like the first proposal better.

May I ask you to only upvote the guideline you would like to be implemented? This means you should remove the upvote from the first proposal if you'd like to vote for another one.

[2020-03-24 10:31] smoia commented on #182
Ok, let's try again,

It seems that we agree to follow  [PEP8 conventions](https://www.python.org/dev/peps/pep-0008/#imports).

Is the difference you see between just following alphabetical order (case 2) vs import/from distinctions (case 1)?

[2020-03-24 10:33] eurunuela commented on #182
Oh, I follow you.

I'd rather have _import_ first, then _from_.

[2020-03-24 10:43] smoia commented on #182
Then, final vote:
@eurunuela @rmarkello @RayStick @vinferrer and *all the others that want to express a preference*, **knowing that we will follow PEP8 standards as proposed by @eurunuela**, vote with a:
:tada: for **case 1** (*import* first and *from* second, but alphabetical within them):
[code]
or :rocket: for **case 2** (strict alphabetical order):
[code]

[2020-03-24 11:03] smoia opened #184 "Output files are not BIDS compliant"
## Expected Behavior

Following [BIDS 1.2.2](https://bids-specification.readthedocs.io/en/v1.2.2/), the `.tsv.gz` files should have a column for each channel.

## Actual Behavior

Our output has a row for each channel

## Possible solution

We can solve this in two ways:
1. a very easy very quick `BlueprintOutput.timeseries` transpose before (during) the final export to `tsv`, or
2. a less easy, l

[2020-03-24 11:05] smoia opened #185 "Check that phys2bids is BIDS 1.3.0 compliant."
## Detailed Description

At the moment, the latest stable BIDS is `v.1.3.0`.
BIDS has detailed specifications on many things, starting with how the files should be named, how they should be organised internally (see #184), how  information should be reported (see #127).
I'm not totally sure that `phys2bids` complies to that specification - although we definitely have to!

## Possible Implementatio

[2020-03-24 11:30] vinferrer commented on #182
after voting, should we make a bit PR to change the order in all the files?

[2020-03-24 11:35] eurunuela commented on #182
Don't worry @vinferrer, I'll take care of it. Just make sure that whatever you're working in right now follows the new guidelines before merging!

[2020-03-24 11:40] vinferrer commented on #182
sure

[2020-03-25 17:37] smoia opened #186 "Expanding the physiopy suite"
Up until now (and presumably for the near future), `phys2bids` has been the primary focus of our attention, work, and development; however, when we began working on it we knew we might want to expand `physiopy` beyond just `phys2bids`. I think now, in this period of remote working and home-quarantine, might be a good opportunity to discuss what that might look like! Since data collection is curren

[2020-03-25 19:32] rmarkello commented on #184
Totally agree that the output should be made BIDS-compliant&mdash;that's literally the whole point of `phys2bids`!

I think I agree in-principle that the second solution is the ideal approach, but for the moment (while we figure out the logistics of that), can we quickly implement the first solutiuon just so people using the tool are getting BIDS-compliant files?

[2020-03-25 20:15] eurunuela commented on #184
Totally agree with @rmarkello . Making the package “usable” (BIDS-compliant) should be the priority right now.

[2020-03-26 08:51] eurunuela commented on #186
First of all, thanks for taking the time to bring up this discussion and creating the new repos!

I believe `physutils` is definitely the way to go. Once we're sure what parts of the code go into this repo, it should make development much easier.

Regarding what should go into `physutils`, I think it should be both utilities that are used in at least two repos and other utilities that could potent

[2020-03-26 17:26] #184 closed

[2020-03-26 18:30] smoia opened #188 "Update docstrings in viz.py"
## Detailed Description

At the moment, the docstring of the functions in `viz.py` are either outdated (after #153) or missing (for `plot_all`).

## Context / Motivation

We should update the docstrings for both users and developers.

## Possible Implementation

@vinferrer, as you are the main author of the `viz.py` function, could you tackle this issue?

[2020-03-27 10:36] vinferrer commented on #173
#183 merged, should we pause this?

[2020-03-27 10:38] smoia commented on #173
I think we can close this. If we'll have bug reports or we want to implement a new strategy, we can reopen it.

[2020-03-27 10:38] vinferrer commented on #173
good

[2020-03-27 10:38] #173 closed

[2020-03-27 10:42] vinferrer opened #190 "Tutorial documentation on trigger picture and ntp outdated"
## Summary
The howto.srt tutorial is now outdated after #183, we should rewrite it and improve it

## Next Steps

    * Add detailed description about the automatic ntp method
    * explain how to use -thr now
    * Maybe we need a file where the new method does not work, we can modify the tutorial file, make one of the triggers smaller

[2020-03-27 10:43] smoia commented on #190
@vinferrer , why don't you open a Draft PR with the commit you made to #183 containing modifications to the `howto.rst`?
Then @RayStick and I can help you with the tutorial rewriting!

[2020-03-27 10:44] vinferrer commented on #190
We should address quickly #188 before this, don't you think?

[2020-03-27 10:45] smoia commented on #190
It's two different PRs so they can both be open, but yes, working on #188 is also important! Start wherever you prefer!

[2020-03-27 17:44] smoia opened #192 "Respecting semantic release versioning conventions"
This discussion is related to the adoption of `auto` for automatic releases (PR #181 )

While @hipstersmoothie was explaining in the issue intuit/auto#1080 how to use auto for beta releases, I realised that we're not respecting semantic versioning conventions (as explained [here](https://semver.org/#spec-item-9) ).

In practice, thinking that our project is still in beta stage, our latest version

[2020-03-27 18:00] hipstersmoothie commented on #192
When in 0.x in semver it communicates that the package is still in the beta stage. https://semver.org/#spec-item-4

I use a special label to communicate this so consumers can still know that there was a breaking change.

https://mobile.twitter.com/HipsterSmoothie/status/1223054336625795074

[2020-03-27 18:43] sangfrois commented on #36
hey @smoia, glad to see there could be an elegant way of *cutting physio files into chunks corresponding to fMRI acquisition*.

**Two things**, I'm having difficulty figuring out how you'd want the users to give the amount of time points per acquisition (`list_ntp`) and at what level such a function should be implemented.

- Would you derive `ntp` from an argument ?
    - if so, would that argumen

[2020-03-27 19:03] smoia commented on #36
Yes, sorry, I didn't mean we have `tntp` now, I meant that now we are counting the total amount of trigger points in the file (it's the `num_timepoints_found` attribute of the `BlueprintInput` object - but it's meant for single run files.
In the solution I'm proposing above, I was thinking that:
- We could change the parser so that it accepts lists for `-ntp` and `-TR`. In that case, maintaining t

[2020-03-27 20:01] sangfrois commented on #36
Yeah, for sure. I mean : I was peeking at this issue since it is relevant to my project. I wasn't that invested into the idea of implementing solutions, but more into looking at how things were evolving here.

Sorry, @RayStick, my intention was not to intrude in your development or pressure in any way. But, please, feel free to pin me if you need anything. I'd be delighted to give my input if you

[2020-03-27 22:17] RayStick commented on #36
@sangfrois thanks for your questions, as I was confused about a few of the same things.

@smoia - I like the idea you put forward on March 23rd. I think it could definitely work, and it doesn't requires a clunky user interaction, which is good. After steps 1-5 we could plot the data to show the user what scans  have been found and how they have been 'chopped' in the file. As we have for the trigge

[2020-03-27 23:02] smoia commented on #36
@RayStick would you like to work on this in combo, maybe with @sangfrois ?
I can help too - let's just assign it so that we know who's going to take care of it.

I'm adding it to the first non-beta milestone.

[2020-03-27 23:19] sangfrois commented on #36
@RayStick happy to hear that my questions have been helpful! Hope you feel you're gaining terrain on python with these tutorials!!

@smoia sounds good to me!

[2020-03-30 21:59] RayStick commented on #36
@smoia - I am happy to be assigned to it, and will do my best to complete this by the first non-beta milestone By June seems feasible! I am just not certain when I'll start working on it yet, as I want to do complete more python tutorials first. So I'm happy for any assistance/ideas, or if people want to get started on it sooner I'm okay with that too (Don't want to hold things up!).

[2020-04-01 16:31] RayStick commented on #186
I like the idea of separating out more ‘stand-alone’ code that phys2bids currently uses, and making it more generally accessible/usable. I don’t have too many strong opinions on how,  but would lean towards utilities that have common scope instead of just basing it on the fact they are used in >2 repos. However I can see that having duplication of utilities may not be the most efficient way to kee

[2020-04-01 16:36] RayStick commented on #186
Thanks for your thoughts.

I like the idea of separating out more ‘stand-alone’ code that phys2bids currently uses, and making it more generalizable in `physutils`. I don’t have too many strong opinions on how to go about that so going with the option that is easiest to manage and to debug makes sense.

 Possible drawback  to consider - how would this change the (new) user experience of using phys

[2020-04-01 22:45] smoia commented on #9
At what point are we with this issue?
Remember: this is not about supporting things, just about having a file in every output format.
It would be lovely to close it soon!

[2020-04-01 22:47] smoia commented on #12
It would be great if someone could write a short "Why BIDS" section for our documentation: explaining what is BIDS and why should we be using it. Nothing big, half a page would be enough.

[2020-04-01 22:48] smoia commented on #26
Anyone willing to take this?

[2020-04-01 22:59] smoia commented on #36
The questions are two:
1. do we need it earlier? @sangfrois , do you think that you're gong to use this and do you want it done?
2. @RayStick, do you take the responsibility of doing it in time for OHBM?
The reason I'm asking is that it's an important feature to feature (pun intended), and while I think people could work on it in this moment, I'm not sure we'll be able to do it later in time (espe

[2020-04-01 23:02] smoia commented on #127
General question relevant to this issue:
Does anyone know how to “multiply” keys between two dictionaries? I mean something like:
[code]
The reason I'm asking is that BIDS supports units of measure and its derivates (like seconds and milliseconds), and being able to operate independently on prefixes and main parts would be better than having to write aliases for each case.

[2020-04-01 23:06] smoia opened #194 "phys2bids April developer call (09.04.2020 @ 9AM CDT/10AM EST/16.00 CEST)"
Next developer call: 9th of April 2020.
It will take place over Skype, and the call can be joined [here](https://join.skype.com/Rm4B7R30TG6g)

Find the agenda [here](https://docs.google.com/document/d/1lezQneuwPlvGxKo4qC1IgaVg5KEnHKdj1iEQ7qDoFjI/edit?usp=sharing)

And the doodle to set the time [here](https://doodle.com/poll/xisvee6h5rye2c7e)

Old minutes [here](https://drive.google.com/open?id=1z

[2020-04-02 15:16] RayStick opened #196 "Making terminal output easier to read"
## Summary

- This is a very minor issue.  There is quite a lot of text outputted to the terminal, making it hard to focus in on the relevant output (or is it just my tired eyes?!) For example, this is what it is now:

<img width="855" alt="BEFORE" src="https://user-images.githubusercontent.com/50215726/78265791-8a41b800-74ca-11ea-934c-b90ff0b9d98c.png">

Could be something like:

<img width="898"

[2020-04-02 15:17] RayStick commented on #196
@smoia are you happy with this issue?
@rmarkello do you think this is a good first issue? I have labeled it as such.
I will see if someone else wants to take it but if not I can do it.

[2020-04-02 15:19] smoia commented on #196
I really don't know - @eurunuela is the one that implemented the logger!

[2020-04-02 15:40] eurunuela commented on #196
I think it could be a good first issue. Wanna give it a try @RayStick ? I’ll be happy to help you 😉

[2020-04-02 16:29] rmarkello commented on #196
@RayStick I think this counts! It might be helpful to explain exactly what would need to be changed:

Rather than going through the code and adding a tab (`'\t'`) character to all the calls to `LGR.info` or `LGR.warn`, it might be useful to use [`logger.basicConfig`](https://docs.python.org/3.7/library/logging.html#logging.basicConfig) to ensure the message is always printed with a preprended tab

[2020-04-02 16:35] smoia commented on #196
@RayStick this might not be basic Python, but why don't you share our G1I with the rest of the lab?

[2020-04-02 16:40] RayStick commented on #196
@smoia: is G1I = GFI = Good First Issue?

@rmarkello - Great, that seems like a better and more elegant solution. This may be moving away from Good First Issue territory, but that's fine

[2020-04-02 16:42] RayStick commented on #26
I can do this!

[2020-04-02 16:45] RayStick commented on #36
@smoia On reflection, I have actually decided to assign myself to some other easier issues before tackling something like this, as I think I just need to get used to interacting with phys2bids code more first (and python in general). Therefore, I have taken myself off this issue for now. I will still keep track with of the progress and happy to be a PR reviewer for it.

[2020-04-02 16:48] smoia commented on #36
Ok, thank you @RayStick !
@sangfrois , wanna jump in? I can help you with its development if you want!

[2020-04-02 16:50] RayStick commented on #36
And depending on how quickly I make progress with other issues, I may be able to help more with this. But no promises for now. :)

[2020-04-02 16:51] #188 closed

[2020-04-02 16:55] RayStick commented on #196
I've assigned myself to it anyway - I'll give it a go! I want to finish a few python tutorials first, but as this issue does not have a clear deadline, hopefully that'll work out fine.

If I was just putting `'\t'` I could have have definitely managed that ;) but I will try the method suggested by @rmarkello . Therefore, may need some assistance @eurunuela or @rmarkello  - I will let you know.

[2020-04-02 17:38] rmarkello commented on #196
More than happy to help, for sure! If you want to take a stab at it and open up a PR we can discuss with references to actual codebits 😄

[2020-04-02 17:44] rmarkello commented on #127
Hey @smoia: I'm not sure I follow. How do you see that being used in practice?

Implementation-wise, a dict comprehension could work (though it's not the _prettiest_):

[code]

[2020-04-02 17:55] sangfrois commented on #26
Sorry, I never saw this! Hehehe

[2020-04-02 18:05] sangfrois commented on #36
Alright with if Rachael focuses on other things, and yes, I am going to use this for sure.

Though I am still trying to get around the plan you've put together in the past few comments, I am willing to put some effort into that and make sure we can deliver it in time.

Of course, I'll need your help and patience as well ( my git workflow is not totally on point yet 😅). I think we'll manage!!

[2020-04-02 18:18] smoia commented on #127
Right, sorry - for instance, let's say that a channel was measured in milliseconds.
That's a proper unit standard, that would respect BIDS formatting. However, in the input data that information is stored as `Millisec`, where it should actually be `ms`.
The less verbose path, in my mind, would be to be able to remap that `Milli` into `m` and that `sec` into `s` using a dictionary of aliases. e.g.

[2020-04-02 19:51] #99 closed

[2020-04-02 22:42] marcelzwiers opened #199 "Integration with BIDScoin"
I am the author of BIDScoin, a DICOM to BIDS converter:
https://github.com/Donders-Institute/bidscoin

# Goal
BIDScoin doesn't convert physiological data but supports plugins and I was wondering how feasible it would be to write a plugin-wrapper around `phys2bids` tool(s) so that it integrates directly with BIDScoin.

#How would that work and what would be the benefit?
BIDScoin would pass the heur

[2020-04-02 23:09] smoia commented on #199
Hello @marcelzwiers , thank you for opening this issue!
I think it could be feasible to write a plugin-wrapper around `phys2bids` to integrate the two programs together. Remember, however, that for the moment `phys2bids` does not support physiological file recorded with the MRI, but only with external instruments such as Biopac and ADInstruments. This doesn't mean we won't support them in the futu

[2020-04-03 11:54] #190 closed

[2020-04-03 17:37] rmarkello commented on #127
Much clearer, yes, thank you!

I have to imagine we cannot be the first people with this need! From a quick search, the [`pint`](https://github.com/hgrecco/pint) library seems to be focused on similar issues of arbitrary units + conversions, so it might be worth thinking about using some pre-built solutions rather than trying to roll our own (which, with all the possible units, could get out-of-ha

[2020-04-03 18:49] marcelzwiers commented on #194
Hi There, I would be very interested in joining your developer call and discuss possible integration. Can you recommend some docs or so as a quick-start for me to get an overview on the working/design of phys2bids? For you you can have a look at my doc-page (https://bidscoin.readthedocs.io) or, perhaps better, watch the demo:
https://youtu.be/aRDK4Gj5qzE?t=819

[2020-04-03 20:32] kristinazvolanek commented on #9
I haven't been following the progress on this issue very closely, but there are several different testing files with an associated .json on OSF. If anything specific is missing, I'm happy to try to address that as best as I can remotely. Otherwise, it seems that we could close this issue and re-open in future as more files are needed.

[2020-04-03 22:12] smoia commented on #9
Well, if we could get one version for each of the types in this list for at least two files (one with the same frequency and one multifrequency)

[2020-04-03 22:29] smoia commented on #194
@marcelzwiers , I would say that reading our documentation would be the best way to approach `phys2bids`, starting from the [tutorial](https://phys2bids.readthedocs.io/en/latest/howto.html) and following with the [heuristic file](https://phys2bids.readthedocs.io/en/latest/heuristic.html) and the [contributors guide](https://phys2bids.readthedocs.io/en/latest/contributorfile.html). I'm afraid our A

[2020-04-04 10:45] vinferrer commented on #128
@smoia, should we left this as it is? or if the user inputs the ``.txt`` format that should prevail?

[2020-04-04 13:08] smoia commented on #128
@vinferrer, I think we have many options here:
1. we can tweak the "automatic extension finder" so that it gives priority to whatever extension the user provides
2. we can remove the "automatic extension finder" and always ask for an extension
3. we can decide that an extension is more important.

In the latter case, I would privilege native file formats, as theoretically they should contain more

[2020-04-04 13:39] smoia opened #201 "Join the Brain Web with a phys2bids dedicated project"
I'm sorry for the late decision and short time to discuss about it (and especially the fact that this time is a weekend).
I know it's a last minute decision, but from April 6th to April 9th a [Brain Web hackathon](https://brain-web.github.io/#events) will take place.
It could be a great moment to work a bit on some developments for `phys2bids`, and to reach new collaborators! There is some things

[2020-04-04 14:09] eurunuela commented on #201
I think it's a great opportunity for `physiopy` to get new collaborators.

I was thinking of taking part in the event anyway, so developing for `phys2bids` would be a win-win scenario.

It could be a great opportunity to work on #199. However, we should probably address #186 first, before we integrate `phys2bids` with `BIDScoin`.

[2020-04-04 15:30] smoia commented on #194
Next call will take place on the 9th of April, at 9AM CDT/10AM EST/16.00 CEST

[2020-04-04 16:23] sangfrois commented on #201
What a great last minute idea! Really, I think the delay is just fine. I don't feel like there's any weekends anymore.

Of course, i'd like to see #36 concretized more and more. I've been taking notes and figuring out how to put the pieces together for a couple of days now. I think it would be the perfect moment to dive into it and implement something. Would you have a little time to spare for me

[2020-04-04 16:24] smoia commented on #201
@sangfrois , I was thinking the same! We can work on it together and see where it gets us!
Should we label it for BrainWeb?

[2020-04-04 16:26] smoia commented on #192
@hipstersmoothie, that's a very good point, and I'm so ashamed I totally missed it!
The question then becomes:
What should we do? Move out of beta stage already (we're not that far), or change our semantic versioning and correct it?

[2020-04-04 17:36] sangfrois commented on #201
Yes cool, let's do this :)

[2020-04-05 14:42] vinferrer commented on #201
seems an interesting conference. I have registered and I will try to follow it and colaborate

[2020-04-05 22:20] smoia commented on #174
@rmarkello, any update on this?
I'm asking because if it didn't get to development yet and you don't mind, we could add this to the list of BrainWeb issues!

[2020-04-05 23:30] smoia opened #202 "Add documentation page on "What's BIDS and why adopting it""
## Detailed Description

Our documentation lacks a short, BIDS-oriented section in which we give the principles of BIDS and we explain what's the advantage in adopting it.
Writing it would be very useful - and finally close #12!
It doesn't have to be extended, something around half an A4 page could be more than enough.

## Possible Implementation

There are many resources we can use to write a cou

[2020-04-05 23:39] smoia opened #203 "Add workflow and API documentation"
## Detailed Description

Our documentation lacks API and workflow documentation, i.e. that parts that documents how `phys2bids` works. Adding it would make the life of new collaborators easier - helping them navigating through the code - and improve our transparency and support!

##Possible Implementation
This is not an easy task for beginners. The people most familiar with the code should write t

[2020-04-05 23:55] smoia opened #204 "Automatic recognition of channel contents"
## Detailed Description

The content of a BIDS physiological file contains is described in its companion `.json` file - where an important entry contains the column header.
At the moment, `phys2bids` fills that entry either using the name of the channels from the original file or using the list that the user provides with the option `-chnames`.
Look at the channels from our [tutorial](https://phys

[2020-04-06 00:06] smoia opened #205 "Add eyetracking support"
## Detailed Description

Eyetracking is not supported in BIDS 1.2.2 yet, but it's a [proposed extension](https://docs.google.com/document/d/1eggzTCzSHG3AEKhtnEDbcdk-2avXN6I94X8aUPEBVsw/edit#heading=h.9tphvz6ot0j1) that [seems to be nearly completion](https://bids.neuroimaging.io/get_involved.html#extending-the-bids-specification).
It might or might not be considered physiological data, but for sur

[2020-04-06 06:28] eurunuela commented on #204
I think this should be pretty easy to do with a supervised machine learning algorithm (a SVM maybe?). I don't think much training data would be necessary to make it work.

I do have a concern though. How do you differentiate between CO2 and O2? Is this differentiation critical or is it okay if the algorithm incorrectly names these two?

[2020-04-06 07:24] vinferrer commented on #204
That's one issue. The other is where do we find a big dataset to train that SVM?

[2020-04-06 07:39] eurunuela commented on #204
We could try with the data we have.

[2020-04-06 08:19] vinferrer commented on #204
I don't think we have enough samples, but it could be a starting point

[2020-04-06 09:03] smoia commented on #204
Training an SVM could be an option. We have a lot of data in house that could serve as training dataset for some types of physiological data - but we'll have to wait to make it public first, probably.

At the beginning, we could make a simple suggestion dividing triggers from pulses from general respiration based channels. In fact, the latest BIDS stable release suggests only [three column headers

[2020-04-06 09:06] vinferrer commented on #203
So, You wants us to explain how each of the functions works?

[2020-04-06 09:59] eurunuela commented on #204
That's what I was thinking, to use the in house data to train the SVM.

Regarding the CO2 and O2, that's why I was pointing out that we should find a way of correctly differentiating them. To me the signals look pretty much complimentary, meaning that an SVM algorithm may fail to correctly assign headers for this data.

Checking with people at the BrainWeb hackathon sounds good to me 😉

[2020-04-06 14:56] RayStick commented on #204
**A few quick thoughts:**

1. I have longer recordings that could be provided at a later date, to train the SVM, if needed.

2. Would this training only be implemented if the there is _not_ channel name information in the header files? Most of the software people use to record these physiological data does allow you to name files, so in this case the training would not be needed? It would be good

[2020-04-06 15:14] smoia commented on #204
I think that the training (if any) will take place offline - the projection on new data could take place on request. It's true that most software lets you name the channels, but sometimes such channels are set for the software in a multi-user lab and they don't have the right name.

[2020-04-06 15:39] rmarkello commented on #174
Sorry! This has been on my list but I have not yet had a chance to get around to it. I did set this up on one of my own repos a few weeks ago and it was a bit more of a pain than I expected it would be. That said, if someone else wants to address it ASAP then I'm happy to advise. Otherwise I'll try and get around to it in the next ~week or two.

[2020-04-06 15:39] smoia commented on #174
No rush - take your time! I'll leave this issue out of the BrainWeb

[2020-04-08 15:22] #182 closed

[2020-04-08 15:51] eurunuela commented on #192
I'm all for changing our semantic versioning and correcting. I've always thought that betas should stay below v1.

[2020-04-09 10:47] smoia commented on #185
@RayStick @rmarkello , do you think this could be a good first issue?

[2020-04-09 10:48] smoia commented on #202
@RayStick @rmarkello , do you think this could be a good first issue?

[2020-04-09 10:50] #201 closed

[2020-04-09 10:58] smoia commented on #203
Yep, more or less.
We could add (at least one) diagram to explain the workflow and write a couple of lines to explain better what each function does.
Generally, it means having another look at the docstrings and check that they are complete and make sense in order to prepare the API page (that, I guess, means just printing the numpydocs, like [here](https://tedana.readthedocs.io/en/latest/api.html

[2020-04-09 13:56] RayStick commented on #202
Yes, I think if the person is familiar with BIDS and/or looks into those resources, I think it could work as a good first issue. But see what @rmarkello thinks, as well. :)

[2020-04-09 14:02] smoia commented on #194
Taking place in this moment!
https://join.skype.com/Rm4B7R30TG6g

[2020-04-09 16:25] smoia commented on #89
@rmarkello let's get back to this issue. Shall we agree on suggesting the user to adopt a 1-indexed run keyword, and remain agnostic about it?

[2020-04-09 16:28] smoia commented on #194
Minutes at the same link of the agenda.

[2020-04-09 16:28] #194 closed

[2020-04-09 17:00] rmarkello commented on #89
I am for starting at `run-01` and indexing up from there (i.e., `run-00` should not be allowed), yes!

[2020-04-09 17:01] smoia commented on #89
Do you think we need to add something to the code as it is now to accommodate for this decision?

[2020-04-09 17:08] rmarkello commented on #89
It looks like there are a few instances in the heuristic files provided with `phys2bids` where `run-00` is used:

https://github.com/physiopy/phys2bids/blob/3dc8c8aee1fe5f41836e1c4b0f76575ad4b88285/phys2bids/heuristics/heur_test_acq.py#L19-L22

https://github.com/physiopy/phys2bids/blob/3dc8c8aee1fe5f41836e1c4b0f76575ad4b88285/phys2bids/heuristics/heur_tutorial.py#L19-L22

These heuristics and all

[2020-04-09 17:12] smoia commented on #89
That's right - actually, those values are just an example. We can definitely change them without any big impact!

[2020-04-14 02:29] kristinazvolanek commented on #9
I don't have access to LabChart on my personal laptop and I believe the easiest way to do this is to export each file type directly from there. @RayStick do you still have LabChart on your computer? If so, would you be able to create these files? I'm happy to help in any way (could add them to the /Test folder and create the PR, etc.) Otherwise, we might have to hold off on this issue until we are

[2020-04-14 03:15] kristinazvolanek opened #210 "Suggestion for installation instructions and phys2bids tutorial"
##  Summary
After working through the phys2bids tutorial:
A suggestion for the installation instructions in installation.srt document.
A suggestion for the howto.srt document.

## Next Steps

    * In installation instructions: clarify what the difference is between installing as a package and cloning from the git repo. Make a clearer distinction in the installation steps for these two options. (e

[2020-04-14 20:53] smoia opened #211 "Improve trigger threshold computation"
## Detailed Description

While working on #206 @sangfrois and I realised that the current approach to compute the threshold fails for multi-runs recordings. Digging into the matter a bit deeper, I realised that this happens if, in absence of noise:
- The average is different from zero and there are too many peak points, compared to the baseline points.
- The average is different from zero and is c

[2020-04-15 10:55] smoia commented on #210
@kristinazvolanek, do you want to give it a shot and make the PR yourself?

Spoiler alert: there is already the list of all the arguments [here](https://phys2bids.readthedocs.io/en/latest/cli.html) - it's the help print. Do you think it's worthy to add it to the tutorial too? We could definitely add a link to that page though.

If you think the help page should be more detailed, we can definitely

[2020-04-15 11:00] smoia commented on #210
For the Good First Issue, I thin that the steps necessary to submit a PR would be:
1. Read the two pages
2. Read how to clone a repository and how to use pip(3)
3. Read how to install a local package or a remote package, and how to install a package as a developer.
4. Change the `installation.rst` page adding as much text as needed to explain the different suggested in the "Next Steps"
5. Add a `p

[2020-04-16 20:36] RayStick commented on #9
Ah yes, LabChart software is needed for this. No worries - I can finish this Issue up soon.

[2020-04-16 20:46] RayStick commented on #9
I'll put them in OSF, and @kristinazvolanek maybe you can sort putting them in the /Test folder on GitHub via a PR?

[2020-04-16 21:04] smoia commented on #9
No need to have them in the GitHub folder!

[2020-04-16 21:06] RayStick commented on #9
Ah, but you said earlier - _"Can you create a PR putting the files in the /Test folder?"_

[2020-04-16 21:32] smoia commented on #9
Ah, no, sorry for not being clear, I know what happened: a couple of weeks ago I cited a message from October where I was asking to put everything in the test folder. I was actually citing it for the list of files we need. between November and now we decided to put all the files in OSF, I don't remember if that was in a PR discussion or during a dev call.
I think it's alright this way, but if you

[2020-04-16 21:33] RayStick commented on #9
Ah no worries - I see what happened now. Thanks for clearing it up.
I can just put them in OSF

[2020-04-16 23:49] RayStick commented on #9
On OSF, in **lab_chart/chicago/all_exports** I have put _many_ iterations of the same LabChart file. See the 'README' file (in the same folder as the data) for details of each exports. I am only familiar with the txt export of LabChart so can't comment on the appropriate settings for other export formats, and didn't check the data after exporting. I think some of them won't be useful (eg. wav, adi

[2020-04-17 09:58] smoia commented on #9
Yes, we can! Thank you!

[2020-04-17 09:58] #9 closed

[2020-04-22 15:28] #89 closed

[2020-04-22 15:28] #44 closed

[2020-04-22 20:14] #174 closed

[2020-04-29 14:59] eurunuela opened #215 "Azure tests pass while the actual test code raises an error"
## Expected Behavior

Azure tests should fail when pytest raises an error.

## Actual Behavior

As discussed in #206, the Azure tests pass even if the pytest code raises an error.

## Possible solution

As @rmarkello said in #206 :

[2020-05-04 14:35] tsalo opened #217 "Method to split multi-run physio files using BIDS dataset or dicom directory"
In order to minimize user input and to work around missing physio triggers, it would be nice to have a function that splits and labels physio files using scan information from either the converted BIDS dataset or the raw dicoms.

## Detailed Description

The method I'm proposing would compare complete information from the actual scan data to potentially incomplete information from a multi-run phys

[2020-05-07 16:32] smoia opened #218 "phys2bids May developer call (14.05.2020 @ 12PM CDT/ 1PM EDT/ 19.00 CEST)"
Next developer call: 14th of May 2020.
Contrarily to what we've been used to until now, the next call will take place over **jitsi, not over Skype**, and the call can be joined [here](https://meet.jit.si/phys2bids).
Jitsi doesn't require to install any additional software but a web browser, if you want to connect by desktop (it will require to install the app to be used on handheld devices).

Find

[2020-05-10 09:53] smoia commented on #218
Next phys2bids meeting on Thursday 14th of May, at 12PM CDT/ 1PM EDT/ 19.00 CEST, on [jitsi:](https://meet.jit.si/phys2bids)

[2020-05-13 08:57] smoia opened #221 "CI tests failing due to bad data download"
## Summary

It seems that since a couple of days, both Azure and Travis are failing some or all the jobs due to a "bad" retrieval of the testing data.

The typical error is either:
[code]
or
[code]

All those issues started more or less after OSF latest [system maintenance](https://status.cos.io/), but I can't figure out why they happen.

The only reason I can think about could be that we're openi

[2020-05-13 14:58] #30 closed

[2020-05-13 22:14] RayStick commented on #218
Apologies that I can’t join this call tomorrow, my to-do-list is too big. I will try to finish the issues I am assigned to very soon (particularly if they relate to the milestone). I am happy to be assigned to review PRs, leading up to this milestone.

[2020-05-14 17:04] eurunuela commented on #221
I can help with this @smoia!

[2020-05-14 17:42] vinferrer commented on #221
If you want an example of a acq shortened file to reduce test time, this one should do:
https://osf.io/4yudk/

[2020-05-14 18:23] smoia commented on #131
Following our call, we can drop this issue from the upcoming milestone, and tackle it once we have time.

[2020-05-14 18:35] smoia commented on #221
Following our call, we can "craft" a short version of files that we have now and put them in the "test_data" folder in OSF.
I would just like to be sure what would change when we manually cut txt files coming from Labchart. @RayStick, would you be able to create a shorter version of a file that we have in OSF (45-60s, two "real" channels), so that we can see the differences and then operate on the

[2020-05-15 10:17] vinferrer commented on #218
Closing this

[2020-05-15 10:17] #218 closed

[2020-05-15 10:18] smoia commented on #218
Updated minutes [here](https://docs.google.com/document/d/1anqlS6cOnjsIHWZc81bDi4HARNaT98nPxFqvnj1elRI/edit?usp=sharing)

[2020-05-15 10:33] vinferrer commented on #127
Hey guys I am gonna try to solve this. However reading the last comments. If you check the code this is already solved for some of the measures in the txt reading functions. Maybe this is not adressed in the acq. @smoia Could you confirm? In any case I see this dictionary thing could be a more proper way to solve it. However do we wanna do this unit changes in the reading or afterwards?

[2020-05-15 10:45] vinferrer commented on #127
So at least in the functions of txt.py for the interval and the frequency all units are changed to 's' and to 'Hz' which i think is BIDS compilant

[2020-05-15 10:52] smoia commented on #127
Hi @vinferrer. As per assignment, I'm working on this, specifically in [this branch](https://github.com/smoia/phys2bids/tree/enh/bids-units). If you want to jump in, we can work on it together (please PR my branch though), but let's discuss about it first so that I can take you up to speed on it.
The solution I'm going for consists in two dictionaries, one for prefixes and one for units. The idea

[2020-05-15 10:54] smoia commented on #127
More specifically, it's [this line](https://github.com/smoia/phys2bids/blob/2e9a6e11ad11001546e84b23f723ece43f40a270/phys2bids/phys2bids.py#L191)

[2020-05-15 11:01] smoia commented on #127
What is carried out in `interfaces.txt` is different.
This is not about taking everything to seconds or base units of measure, but about being sure that the unit itself is expressed with the right format.
It's also not about doing transformations from unit to unit (not at the moment at least).
It's just to be sure that the right alias is in the right place, _for all the channels_.

[2020-05-15 14:26] RayStick commented on #221
I can do make that data file today. I can base it off "Test3_BHscan" that is currently in OSF, which has 534 vols and 4 real channels.

**I could make it:**
- Two channels (trigger and CO2?)
- Header information
- Less than 60 seconds of data exported

Preferences on whether you want time column included or not? I could export it both ways - with and without the time column if that helps.

[2020-05-15 21:40] RayStick commented on #221
I've added some files to "test_data" in OSF. Let me know if you need more.

[2020-05-20 08:26] eurunuela commented on #221
I believe the biggest issue is `test_txt.py` and we should focus on it mainly. The txt test is the one with the largest amount of functions and data downloads (I've counted 4). What's more, txt files are bigger than acq files.

@RayStick , @vinferrer  would it be possible to trim the following files?

- `Test_2minRest_trig_multifreq_header_comment.txt`
- `Test_belt_pulse_samefreq_no_header.txt`
-

[2020-05-28 18:05] rmarkello commented on #215
I'm taking a look at this (finally) and from what I can tell in the docs the `failOnStderr: true` is supposed to be the default for Azure Pipelines, and I'm genuinely not sure why things started working again! I can add it just in case, but I'm not sure if that's really the solution... Will open a PR and see what happens 🤷‍♂️

[2020-05-28 23:58] RayStick commented on #221
I don't think I can see _Test2_trigger_CO2_O2_pulse_1000Hz_534TRs_no_time.txt_ - where is that?

I don't think I uploaded _Test_2minRest_trig_multifreq_header_comment.txt_- I think was someone else in the lab, so it's not immediately obvious to me where that is from. If it's important, I can try to check with the others in the lab.

[2020-05-31 15:22] eurunuela commented on #221
Maybe @vinferrer uploaded those files?

[2020-06-01 09:48] #215 closed

[2020-06-02 15:01] #127 closed

[2020-06-03 22:22] #26 closed

[2020-06-04 09:57] smoia opened #225 "phys2bids June developer call (11.06.2020 @ 9.30 AM CDT/ 10.30 AM EDT / 16.30 CEST)"
Next developer call: 11th of June 2020.
The call will take place over **jitsi** [here](https://meet.jit.si/phys2bids).
Jitsi doesn't require to install any additional software but a web browser, if you want to connect by desktop (it will require to install the app to be used on handheld devices). Trying beforehand that the platform works as expected is suggested.

Find the agenda [here](https://do

[2020-06-04 10:10] smoia commented on #221
I'm positive that @vinferrer added the one with the comment.
In any case, how far are we from closing this issue?

[2020-06-04 14:10] eurunuela commented on #221
I was hoping someone who has already worked with the files would trim them as I've never worked with these. I'll do them anyway. Hopefully before next weeks meeting.

[2020-06-04 14:18] RayStick commented on #221
If you like, let me see what I can work out by the end of today @eurunuela. Even if they were not my files I can probably still trim them easily.

[2020-06-04 14:21] eurunuela commented on #221
Thank you @RayStick I'd really appreciate that. I can update the tests to retrieve the new trimmed datasets. The list of files we're currently using is a couple of comments above. Please let me know.

[2020-06-04 14:30] smoia commented on #221
In fact, I was wrong. the almighty OSF reveals that the files were uploaded by @AyyagariA .

@RayStick , if you're already tweaking with the files, may I ask you to also reduce the frequency of the files, and in particular of [this four scans file](https://osf.io/k98b5/)?

[2020-06-04 17:33] RayStick commented on #225
I may struggle to be there at 9am, so I have only put 10-11am at the moment.
I could do 9:30 - 10:30 though. @smoia would it be ok to add that as an option?

[2020-06-04 17:50] smoia commented on #225
If everyone prefers 9.30/10.30/16.30 it's good to me!

[2020-06-04 20:58] RayStick commented on #221
What frequency would be best @smoia?

[2020-06-04 21:11] RayStick commented on #221
Ok just to be clear -

Shall I cut these files to 1 min in length and 100Hz sampling frequency? (At the moment they are 1000Hz)

[2020-06-04 21:27] smoia commented on #221
The idea is this: We're using the files to test some particular features. Depending on the feature and on the test, files can be as short as we like and as low frequency as it lets us have a trigger channel that makes sense.

I would say 100Hz should be more than enough to have a decent trigger channel that has trigger pulses composed by more than one sampling.
Ideally the files should have some p

[2020-06-04 21:33] RayStick commented on #221
Ok, thanks for the information. But I will also wait to check what @eurunuela says. Therefore, these files may only get made tomorrow. (Also, I can't do this really quickly).

Do we know how many triggers (-ntp) are left in these cut files?

[2020-06-04 21:37] smoia commented on #221
Yes, I guess we'll have to rewrite the .json that comes with the files to know triggers and other things.

[2020-06-04 21:58] RayStick commented on #221
As this is urgent, I will do this tomorrow morning (central time, 9-10.30am) once hearing back from @eurunuela (who is probably asleep right now). It will be good to double check what is needed before starting.

[2020-06-04 22:22] RayStick opened #227 "Check all-contributors is up to date"
## Summary
@smoia and I noticed that the all-contributors is not up to date. Everyone should check if their symbols represent what they have contributed.
## Next Steps
- Use the command line interface to update things or wait to merge auto
- Even after merging auto, does it update everything?

[2020-06-04 22:24] RayStick commented on #227
For example, I should have the _reviewed-pull-requests_ and _code_ symbols and possibly others ones.

[2020-06-04 22:24] RayStick commented on #227
I wasn't sure what to label this.

[2020-06-05 07:13] eurunuela commented on #227
It looks fine in my case. Regarding your question about `auto`, maybe @smoia knows about it?

[2020-06-05 07:29] eurunuela commented on #221
Indeed, I was asleep. I think what @smoia suggests makes sense. Below 60 seconds would be great too.

Just to make it clear, right now we're using the following files:

- Same frequency regular file (already trimmed).
- Same frequency with no header (needs to be trimmed).
- Same frequency with no time (needs to be trimmed).
- Multi frequency (needs to be trimmed).

[2020-06-05 14:13] RayStick commented on #221
Okay, I have uploaded the adapted files for one of the recordings:
_Test2_trigger_CO2_O2_pulse_1000Hz_534TRs_no_time.txt_
The prefix is now _Test2_samefreq_onescan_ because the orig filename does not make sense anymore  - all the details about the new files can be found in the json files.

I will look at the others files that need adapting now.

[2020-06-05 14:40] eurunuela commented on #221
Thank you so so much @RayStick !! 🥇

[2020-06-05 14:41] RayStick commented on #221
No problem!

Uploaded _**test_data/Test_belt_pulse_samefreq_short no_header.txt**_
However, I was not able to open the original acq file (as I did not upload it), so all I did was open up Test_belt_pulse_samefreq_short.txt and delete the lines with header information. If we need json files for this (or any other exports) one of the donostia team will have to do that :)

[2020-06-05 14:48] smoia commented on #227
I'm curious to see which categories `auto` will handle on its own!
For sure some will have to be manually updated.

However, this is a very important step, so I would invite everyone to report here if there's a mismatch between their real contributions and those listed.

As a general rule of thumb:
  - bug-related PR shouldn't give "code" contribution but "bug" contribution (not 100% sure though)

[2020-06-05 15:25] RayStick commented on #221
Okay, for a **multi-run recording** I have exported files into test_data with this prefix **Test2_samefreq_TWOscans**. I did not have a multi-run recording with different frequencies so I just exported 2 channels, at the frequency of 100Hz, to keep the file size to a minimum. Also, I only exported 2 scans (not _four_scans_, as we previously had).
This is because:
(1) this should be enough to test

[2020-06-05 15:31] RayStick commented on #221
So I think that just leaves **_Test_2minRest_trig_multifreq_header_comment.txt_** from the ones requested. This file is confusing me a bit (even though each channel may be recorded at a different freq, I am not sure if that manifests in the _exported_  frequency) so I will have to return to it later.

[2020-06-05 15:37] eurunuela commented on #221
Wow, thanks @RayStick ! I think this is more than enough to start updating the tests. I expect the tests to be faster even if not every file is trimmed.

I'll start pushing commits to #226 and I'll add you as co-author. Thanks again!! 😊

[2020-06-05 16:04] RayStick commented on #221
Okay, great.

I've stopped working on the multi_freq file for today but if it seems that we still need/want that file changed as well, I could take another look next week.

[2020-06-05 16:06] eurunuela commented on #221
It would be great if you could take a look at it yes. I'm doing some local checks and the multi_freq tests take the longest. Probably because `phys2bids` makes many checks on multi_freq files.

[2020-06-05 16:09] RayStick commented on #221
Great!  🙌🏻

I will see if I can another look a look at the multifreq file later today (but that'll be more like 4pm central time).

[2020-06-05 16:17] eurunuela commented on #221
Sure, no problem! I think it would be really cool to have it for our next meeting, so no rush 😉

[2020-06-06 08:17] eurunuela commented on #221
So, without updating the multi-freq files, which I believe will have the biggest impact, Travis already takes 40 seconds less to do the whole testing. You can check in #226 .

However, I can see no impact on the azure tests. It seems like azure tests take longer by default (8 minutes vs 4 minutes on Travis). I'd wait until we have the multi-freq file trimmed down to make conclusions.

[2020-06-06 20:33] smoia commented on #227
@physiopy/phys2bids please all have a look!

[2020-06-06 20:35] smoia commented on #225
@physiopy/all  Time of the call 9.30 AM CDT/ 10.30 AM EDT / 16.30 CEST

[2020-06-08 15:29] RayStick commented on #221
I'll upload a few new versions of the multi-freq files in a couple of hours time, and we can see how much of an impact that makes.

[2020-06-08 15:53] eurunuela commented on #221
Thanks @RayStick!

[2020-06-08 16:51] RayStick commented on #221
Okay, so in test_data you will now see some files for the multi frequency testing which should be much smaller than before:

Test1_multifreq_onescan.txt
Test1_multifreq_onescan_noheader.txt
Test1_multifreq_onescan_notime.txt

These match the files we were using before (Test_2minRest_trig_multifreq_header_comment.txt) but it's about 45 seconds of data instead of 2 minutes, and it is exported at 100

[2020-06-08 17:03] RayStick opened #228 "Multi-frequency files"
In Issue #221 - this was the first time I have interacted with exporting multi-frequency files from our LabChart software. Even though I can see that the channels were _sampled_  at different frequencies (1000Hz for trig, 100Hz for CO2, 40Hz for O2, 400Hz for Belt) when I _export_ this file to a txt file I have to choose a frequency to export (e.g. 100Hz) so I assume that some channels get upsampl

[2020-06-08 17:05] RayStick commented on #228
And I'll also tag @smoia because he uploaded 'Test_belt_pulse_multifreq.acq' to OSF so may have thoughts.

[2020-06-08 17:06] eurunuela commented on #221
Thanks @RayStick ! I’ll give these files a try once I get home in like an hour or two. I’ll keep you posted!

[2020-06-08 17:11] RayStick commented on #221
Sure, thanks!

By the way, I just realized the file that people mentioned we needed to trim had "_comment" in the file name. In my new exports I have not included "_comment" in the filename because I actually saw no comments in the data recording!

[2020-06-08 17:16] eurunuela commented on #221
Don’t worry about it ;) I’ll make sure I select the correct file.

[2020-06-08 17:17] smoia commented on #228
@RayStick BIDS specifications ask for a file for each frequency. While wfor acq files this step is made easy by just importing the file with `bioread`, for LabChart derived txt files it's a bit trickier. In fact, if you export the file at the highest frequency recorded, the channel with lower frequencies have repeated entries to cover for the missing ones (e.g. in a file exported at 1000Hz, a 100H

[2020-06-08 17:22] RayStick commented on #228
Ah I see. Yeah, if you already have to run the tests for AcqKnowledge files, the work has already been done, so we might as well run them on txt files (just with the knowledge that, at the moment, some channels will be saved in a frequency that was not necessarily their sampled frequency).

I could export separate txt files for each channel, at each of their individual sampling frequencies, if tha

[2020-06-08 17:24] eurunuela commented on #228
AFAIK the multi-freq test is only done on a txt file.

[2020-06-08 17:26] RayStick commented on #228
So would it make more sense to do it on an AcqKnowledge file? (If only testing one of them)

[2020-06-08 17:28] vinferrer commented on #228
Yeah so right now the multi-freq test works on txt files. What the function does is enter into each channel and taking the base frequency, which is the highest, it looks if there is repeated values. If there are and this is common in the hole file, it means that specific channel has a lower frequency. AcqKnowledge format files reading was developed by @smoia. So I stuck to my side of the format re

[2020-06-08 17:29] vinferrer commented on #228
If I recall correctly, acqKnowledge format files do not require multifreq testing since the frequency is in the header. However in txt this is not the case, that's why we developed this feature. I hope this was clarifying

[2020-06-08 17:31] vinferrer commented on #228
We could easily add a test for the acqKowledge files

[2020-06-08 17:33] vinferrer commented on #228
But as you can see in: https://github.com/physiopy/phys2bids/blob/79403c9ac5240e8f1d1cfe95820fc804b829574f/phys2bids/interfaces/txt.py#L252
The check is included in the process_acq function

[2020-06-08 17:39] eurunuela commented on #228
My bad. We do use an ACQ multi-freq file in the integration test! Had completely forgotten about it.

[2020-06-08 17:39] smoia commented on #228
Ok, sorry, I was probably not clear:
`acq` files do not need a multifreq test. Those files are imported as an object that contains the frequencies already.
`txt` files _coming from AcqKnoweldge_ do need such a feature (although I don't remember how they are organised internally atm).
I would like to change the question that started this issue into this one:
### What benefit would we get by skippin

[2020-06-08 17:46] RayStick commented on #228
Sorry, I was not clear with some of my wording. When I said "txt" I always meant LabChart txt files.

@vinferrer thanks for explaining, that makes more sense now - that you are specifically testing for different lower frequencies by looking for repeated values, as I did not know that. I guess I am talking about multifrequency checks in the code then, not these tests. But I do have a related questi

[2020-06-08 17:48] eurunuela commented on #228
@RayStick I've just run the test and it fails. I believe step 2 is incorrect. See the error:

[code]

The file seems to have two channels at 100.0 Hz and not the 100 Hz and 40 Hz channels.

[2020-06-08 17:54] RayStick commented on #228
Ah, I see. Now I understand a bit more, I think the fact that I have downsampled in my export may be causing a problem. I could try to upload the files again - still short in length (45s) but exported at 1000Hz which means that we only have upsampling (repeated values) and not downsampling.

[2020-06-08 18:00] RayStick commented on #221
I am going to upload some new multi-freq files.

[2020-06-08 18:01] eurunuela commented on #228
Let’s see if that works but @smoia and @vinferrer probably know better.

[2020-06-08 18:46] RayStick commented on #221
Sorry for the delay. You can try again now!

[2020-06-08 18:55] #202 closed

[2020-06-08 18:55] RayStick commented on #221
So the _exported_ frequency is 1000Hz again, for all channels.

The sampling frequency for the channels was (from what I can from the orig. file):

(Time)
Channel 1 - TR - 1000Hz
Channel 2 - CO2 - 100Hz
Channel 3 - O2 - 40Hz
Channel 4 - 400Hz

[2020-06-08 18:57] smoia commented on #12
This issue was closed by #229

[2020-06-08 18:57] #12 closed

[2020-06-08 18:58] smoia commented on #185
@vinferrer at what point is this issue? Do you need any help?

[2020-06-08 19:38] eurunuela commented on #221
Thank you so much for your help @RayStick! I've just pushed the changes to #226. It looks like we managed to reduce the testing time in another 20 seconds or so for Travis. As before, I can see no impact on testing time for Azure.

Let's see what everyone else has to say about this on Thursday.

[2020-06-08 20:37] vinferrer commented on #228
That's weird, Do you guys think is worth checking?

[2020-06-08 20:39] vinferrer commented on #228
Maybe if the file is downsampled the multifreq function does not work properly anymore, I didn't take into account that posibilty

[2020-06-08 20:41] vinferrer commented on #185
I didn't had time to go through it. Help is always welcome, specially since i am no expert in BIDS and I am bad at details. Which is important for standards

[2020-06-08 21:11] RayStick commented on #221
Great 👍

[2020-06-08 21:12] RayStick commented on #228
Yeah I think the check you explained is probably dependent on it not being downsampled.

[2020-06-08 21:26] eurunuela commented on #228
It makes sense that the multi-freq doesn’t work with the downsampled data. You’re reducing your sampling rate so you won’t be able to read anything above that frequency.

[2020-06-09 08:27] vinferrer commented on #228
However, in the error you have in that assert the contrary happens. We are failing to detect a lower frequency, which in this case is 40 Hz. I think this could be a problem

[2020-06-09 08:28] vinferrer commented on #228
I think we can discuss it on #225

[2020-06-10 09:59] vinferrer commented on #185
In theory #222 should close the units of measure part. Although ``mmHg`` is a cranky issue since is not bids standard but is necessary in some channels.

[2020-06-10 10:01] vinferrer commented on #185
I don't understand in which way specifically functional MRI files standard affects us. I suppose it is in an indirect manner

[2020-06-10 10:04] vinferrer commented on #185
I tried the tutorial file with the heuristic and the names and structure seem to check with bids standard

[2020-06-10 10:05] vinferrer commented on #185
However in this case there is not stimuli file, don't think we have those

[2020-06-10 10:08] vinferrer commented on #185
Lastly, regarding the JSON file, all seems good to me. However, I was wondering what happens with the sampling frequency when you have multifrequency files. Does that generate different ``tsv and JSON`` files for each frequency?

[2020-06-10 11:02] smoia commented on #185
Indeed, as it's the expected output to have  BIDS compliant physiological files (from what I understood from the BIDS specs).

We don't for the moment. I don't know if we want to support Respiract files, in which case we might have stimuli files? @RayStick @BrightMG what do you think about this?

They affect the physiological files since the name of the files should be deriving from the fMRI (/EEG

[2020-06-11 12:54] smoia opened #230 "Testing new multi-run pipeline and related changes"
## Summary
In #206 many code changes were made. Unluckily, mainly due to lack of time, we didn't make enough tests, and the code coverage dropped.

We need some more testing to make the code coverage raise again above the 90% threshold.

## Next Steps

- [ ] Test the new function in `viz.py`
- [ ] Add tests for the native objects (`physio_obj.py`)
- [ ] Add breaking tests (they're fun)

[2020-06-11 14:32] smoia commented on #225
@rmarkello are you connecting? https://meet.jit.si/phys2bids

[2020-06-11 17:31] smoia opened #232 "Improving split of multiple runs"
## Detailed Description

Reporting from #206 on @sangfrois behalf:

@sangfrois, could you please explain a bit more what you meant? You can edit this message and complete it as you think is more appropriate.

## Context / Motivation

## Possible Implementation

[2020-06-11 17:54] sangfrois opened #233 "Availabilities for OHBM's standby poster and software demo session?"
# Any volunteers ?
As we discussed during the dev call (June 11th), we need volunteers to attend and represent phys2bids during OHBM. Because the organizers had to consider that people are living in different time zones, it makes it a harder for us to confirm a presence.

# How to confirm your presence
We decided to create a [spreasheet](https://docs.google.com/spreadsheets/d/1oDGfriovi_w7rxz6VXm-

[2020-06-11 17:56] sangfrois commented on #233
(looks like I can't figure out how to add a label to the issue, sorry @smoia)

[2020-06-11 19:32] eurunuela commented on #233
Are we assigned the odd or even hours for the poster?

[2020-06-11 19:53] rmarkello commented on #233
Even numbers present during the first hour, odds during the second hour. `phys2bids` poster number is 1956.

[2020-06-11 22:22] RayStick commented on #233
Thanks @sangfrois.
I will take a look at what I can sign up for tomorrow morning.

[2020-06-12 08:20] vinferrer commented on #185
Should we update this issue?https://bids-specification.readthedocs.io/en/stable/

[2020-06-12 08:20] vinferrer commented on #185
Or we go for BIDS 1.3 compilant and then open one for 1.4?

[2020-06-12 08:46] smoia commented on #185
Let's see if we can get the _help from the public_:
@effigies, we prepared this software to be BIDS 1.3.0 compliant. We saw today that BIDS is now at version 1.4.0.
Since we don't have derivatives as outputs (`phys2bids` prepares only the raw data), do you think we're also 1.4.0 compatible, or are there more differences between the two BIDS versions?

[2020-06-12 08:50] smoia commented on #185
Looking at the [changelog](https://github.com/bids-standard/bids-specification/releases/tag/v1.4.0), we should be fine, but I think there is a BIDS validator [somewhere](https://bids-standard.github.io/bids-validator/). @vinferrer, could you check if our outputs pass the validator? If so, we should be good to go.

[2020-06-12 13:12] effigies commented on #185
We aim for backwards compatibility with the spec, so anything that was valid should still be. (If you had something unspecified, then it could now be specified otherwise, though.) I think you're probably safe, but I would check the changelog to be sure.

[2020-06-12 13:41] smoia commented on #185
@effigies cool, thank you!
Is there a nice badge the BIDS team has to specify the compatibility?

[2020-06-12 15:54] RayStick commented on #228
Shall we close this issue now? I _think_ we decided it was resolved in the phys2bids call? But I may have missed some details as my internet connection was bad.  (The multi-freq _tests_ won't work if someone has downsampled data beforehand, but that makes sense. Maybe just a note in the documentation making that clear for the user?)

[2020-06-12 16:02] RayStick commented on #227
If we want to make sure this up to date before the BrainHack/OHBM conference (<I assume that would be good?), I suggest that @physiopy/phys2bids contributors either:

1. Just react with a 👍 on this post if everything looks fine for you.
2. Comment explaining what emojis are missing for you.

[2020-06-12 16:08] RayStick commented on #227
If I understand all the labels correctly, I think I should have: bug reports, **code**, data, documentation, **ideas planning & feedback**, **reviewed pull requests**, user testing. So the ones in bold are missing.

[2020-06-12 16:10] sangfrois commented on #227
Hey @RayStick
thanks for checking this out with everyone. I'm not sure where I stand as #206 is going through some changes. I don't know if I'm considered as a contributor as of now. If I can get someone's input on that, it would be much appreciated.

[2020-06-12 16:12] sangfrois commented on #232
(I can't edit your description)

[2020-06-12 16:52] eurunuela commented on #228
I’ll close it. Feel free to re-open if necessary.

[2020-06-12 16:52] #228 closed

[2020-06-12 17:19] RayStick commented on #196
I can try to rewrite this issue for BrainHack, if that would be welcome?

[2020-06-12 18:03] RayStick commented on #227
@sangfrois - this is a good point. I am probably not the best person to make a call on this but I would suggest that your involvement of organizing the [OHBM schedule](https://github.com/physiopy/phys2bids/issues/233) should be recognized with an emoji (maybe **ideas, planning & feedback**? but I am not sure) which would get you on the contributor list before your code has been merged. But let us

[2020-06-12 18:42] rmarkello commented on #233
@physiopy/phys2bids: [here](https://drive.google.com/drive/folders/12SP7b05Hn5NvMEkNyKMYoRAe4Pmx7FIX?usp=sharing) is the first pass at the OHBM poster. I tried to fill up the space as best I could, but suggestions + edits are _definitely_ welcome. Almost all the text is directly copy-pasted from the abstract submission + the documentation because 🤷‍♂️.

@smoia if you want to edit and then distribu

[2020-06-12 18:49] smoia commented on #233
Thank you @rmarkello! It looks great!
Would you be able to add a bunch of links to the pdf, so that if people clicks around they redirect to our GItHub page or to the documentation?

[2020-06-12 18:58] rmarkello commented on #233
Unfortunately embedding links in SVGs is a pain-in-the-butt / not really viable.

Currently the allcontributors.org and github.com/physiopy/phys2bids _are_ links, but if you want plain text to actually be a clickable link you'll have to edit the PDF directly and just draw link boxes over the relevant portions of text (in which case you'll only want to do it on the final PDF before upload).

[2020-06-13 05:39] eurunuela commented on #227
I think that’s fair. We cannot give you the coding badge yet as the code isn’t part of phys2bids right now.

[2020-06-13 05:45] eurunuela commented on #233
It looks great! Thanks @rmarkello!

[2020-06-13 15:23] RayStick commented on #233
I greyed out the second hour of the poster slot on the spreadsheet, if we are only in the first. (@vicente it looks like you find yourself in a grey box now). The central and eastern times were also mixed up, so I corrected that :)

[2020-06-13 15:40] smoia commented on #233
Thinking that the first software demo could see the participation of both EMEA and the Americas, don't be afraid to take that slot even if there is other people!

[2020-06-13 15:45] RayStick commented on #233
The poster looks really great @rmarkello

  Here are some TINY things I noticed (sorry it’s difficult for me to edit it directly right now)  .

1. If we could subscript the number 2 for CO2 and O2 that’d be great - but not a big deal.
2. (INTRO)Third bullet point should read “but currently no software tools exist **to** convert physiological data into BIDS format”
3. (THE phys2bids SOFTWARE) Third

[2020-06-13 16:24] #225 closed

[2020-06-13 16:36] smoia commented on #227
@sangfrois @RayStick @eurunuela , @rmarkello proposed to add François in the list of authors of the OHBM poster. I didn't know it was possible, but if it is, I think it's a fair acknowledgement of his contribution until now.
For the contributors table, I'm sorry to say that "ideas & planning" seems to be more related to coming up with new ideas and organise their development, so I don't think #233

[2020-06-13 17:05] sangfrois commented on #227
Totally agree with you for #233.

Thanks for taking the time to disambiguate the situation.

As I can't edit the PR message for multirun workflow improvement, I will comment to detail what I meant.

[2020-06-14 17:36] rmarkello commented on #233
@RayStick: third bullet points killing me, apparently! All edits have been incorporated and the newest pdf is uploaded to the previously-linked Google Drive. Thanks for the careful read!

@smoia: do you want to send this out via e-mail to all the PIs and whatnot on the poster to get their (very last minute) approval? Apparently the deadline for poster uploads according to [this OHBM page](https://

[2020-06-14 17:44] smoia commented on #233
Thank you @rmarkello! Before I send it to all the authors, can you add somewhere (maybe next to our logo?) an invite to look for our software demo?

[2020-06-14 17:48] smoia commented on #233
@all-contributors add @rmarkello for content

[2020-06-14 17:48] smoia commented on #233
Ok, this doesn't work. Please remind me to manually add it.

[2020-06-14 17:48] AyyagariA commented on #233
I have been MIA with regards to phys2bids but I just looked over the poster and it looks really great! Thank you all for your hard work!

[2020-06-14 17:51] rmarkello commented on #233
@smoia just like "look for our software demo!" ?? Is there any info we can give about it (e.g., a number or something)?

[2020-06-14 17:54] Berkmann18 commented on #233
@all-contributors Please add @rmarkello for content

[2020-06-14 17:54] smoia commented on #233
@rmarkello Not that I know of unluckily. I guess the name will be the same as the poster, but for the rest I don't know.

[2020-06-14 17:55] smoia commented on #233
@Berkmann18 I'm going to uninstall the bot - really sorry about it but it's quite bothering.

[2020-06-14 17:58] Berkmann18 commented on #233
@smoia I understand, you can use the CLI tho (at least that one is pretty much up-to-date).

[2020-06-14 17:59] smoia commented on #233
@Berkmann18 yes, don't worry! I'm going to try with the CLI!
We can try again the bot at a later date if you want, but as you can see we're very close to some deadlines and we need to focus a bit more.
Thank you for checking out though!

[2020-06-14 18:02] Berkmann18 commented on #233
@smoia The main problem with the bot (so far) is that it's using an outdated version of the CLI and the latest PR hasn't been merged and I don't have write access for that repo (and seemed to have lost the other rights too) and the 3 others who do don't seem to be spending time getting things moving.

It's fine, I know it can be frustrating to use tools that broke near a deadline so good luck with

[2020-06-14 18:07] rmarkello commented on #233
@smoia: done! See the updated poster in the Google Drive.

[2020-06-15 13:19] smoia opened #239 "auto doesn't find the Github token when running in Travis"
@hipstersmoothie we may need your help here.

@eurunuela and I merged in the PR to run auto, but at the moment [Travis says it's missing a token](https://travis-ci.org/github/physiopy/phys2bids/jobs/698514747).
I created the token a while ago, so I don't understand why it's not working. Should I create a token for the organisation?

Could you have a look at our configuration?
[This is Travis confi

[2020-06-15 16:23] hipstersmoothie commented on #239
Is the token available on the necessary branches

[2020-06-16 07:13] #221 closed

[2020-06-16 10:15] robertoostenveld commented on #185
some files that I see are missing

[code]

[2020-06-16 10:15] vinferrer commented on #185
Tutorial output folder: https://drive.google.com/drive/folders/1ZtpONACc443iqasCzmqwDmx3eilcFI8j?usp=sharing

[2020-06-16 10:16] robertoostenveld commented on #185
I am not sure whether `.tsv.gz` is allowed.
the `.log` file is not part of BIDS (afaik)

[2020-06-16 12:51] vinferrer commented on #185
Thanks Robert, I was able to review the bids struct to see if we can tackle the basic stuff so we are bids compatible ( in a minimum way) and then build from there. If I am correct the compulsory files that we lack are:

[code]
[code]
[code]
So I am gonna create an issue for this where we tackle these basic errors

[2020-06-16 12:56] vinferrer commented on #185
Actually, in physiolical recording files `tsv.gz` is the standard, but for sure we will move away the .log file

[2020-06-16 13:17] vinferrer opened #242 "Automatically generate BIDS compulsory agnostic files and update them if they already exist"
comes from #185. When a heuristic file is provided and data is bidsdifyed agnostic files (README, participants.tsv and dataset_description.json) should be generated
## Detailed Description
When a heuristic file is provided and data is bidsdifyed agnostic files should be generated:

- [ ] dataset_description.json
       Fields
       - Name (Required)
       - BIDSVersion (Required)
       - Datase

[2020-06-16 13:34] smoia commented on #242
Thank you @vinferrer !

Indeed, until now we weren't creating metadata, relying on other tools (DICOM based) to do so. But if physiological files should be shared on their own, we need to create them.

[2020-06-16 15:18] tsalo commented on #232
@sangfrois this sounds similar to #219, which detects missing trigger periods (and missing scans) by comparing the time differences for both physio triggers and scan onsets from the BIDS dataset.

[2020-06-16 15:38] sangfrois commented on #232
@tsalo Yes, exactly.

let's have touch base in jitsi room during the breakout session of the hackathon to discuss everything!

I'm having difficulty grasping every aspect of your PR, and am sure we can join forces!

[2020-06-16 15:59] tsalo opened #246 "Automatic detection of scan periods"
## Detailed Description

In cases where triggers are not used or are accidentally dropped, it could be useful to try predicting when scans are happening based on patterns in the signal. Some signals, like EDA and ECG, are dramatically affected by the pulse sequence, so we should be able to infer onsets and offsets with fairly high accuracy if those modalities are recorded.

## Context / Motivation

[2020-06-16 17:31] tsalo opened #247 "Support multiple associated datatypes"
## Detailed Description

`phys2bids` currently only convert physio data associated with fMRI (i.e., data under the BIDS `func` datatype). It would be good to be able to output files in any of the BIDS datatypes that support associated physio data. Currently, I think that's just `beh`, but I believe that's more of an oversight in the specification than an explicit rule.

## Context / Motivation

Th

[2020-06-16 18:10] tsalo opened #248 "Add duecredit with citations"
## Detailed Description

Add duecredit to cite `phys2bids` internally _and_ BIDS, per @smoia.

## Context / Motivation

Requested by @smoia and will help users cite relevant publications and tools.

## Possible Implementation

[2020-06-16 18:12] tsalo commented on #248
I'm happy to tackle this if a dev could assign me.

[2020-06-17 09:54] eurunuela opened #250 "Add unit tests for split4phys"
#206 has caused a big hit on code coverage. `split4phys.py` really needs unit tests. I'd also try to increase the coverage of `phys2bids.py`.

[2020-06-17 12:29] smoia commented on #250
Is this different from #230?

[2020-06-17 12:43] eurunuela commented on #250
You're right. They're the same. Didn't see #230. I'll close this one then.

[2020-06-17 12:43] #250 closed

[2020-06-17 13:02] eurunuela commented on #227
I'm thinking we should probably specify how and when we're going to recognize contributions to phys2bids. After the discussions we had in this issue, and me personally not knowing when one should be recognized with the "ideas" emoji for example, I feel like this is something that's not very clear at the moment.

Should we specify it in our documentation? For example in the contributing guidelines?

[2020-06-17 13:09] sangfrois commented on #227
@eurunuela I think you're bringing up a great suggestion. Adding this into the docs would certainly help, or at least, it would give new contributors something to start with if they have questions or doubts about their contribution.

From my standpoint, I wasn't sure at what point I would be considered as a contributor even though I would spend hours working on the project. Nothing stressing, but

[2020-06-17 13:43] eurunuela commented on #227
I'd keep the discussion in this issue as not every contributor is taking part in the OHBM BrainHack. We could continue the discussion in our next meeting too.

[2020-06-17 14:53] tsalo opened #251 "Document similar software"
## Detailed Description

There is currently a link to [tarrlab/physio2bids](https://github.com/tarrlab/physio2bids) in the README, but there are a few other tools that I think should be documented and compared to `phys2bids` explicitly.

## Context / Motivation

In https://github.com/nipy/heudiconv/pull/446, they are integrating one such tools ([cbinyu/bidsphysio](https://github.com/cbinyu/bidsphy

[2020-06-17 15:40] eurunuela opened #252 "Empty fields in participants.tsv"
This discussion is related to #244.

I'm opening this discussion because we should decide whether we want to have a "n/a" (not answered) field or if phys2bids should only write the subject id in participants.tsv. The "n/a" would "advice" the users they should be adding that info following BIDS guidelines.

So, there are two possible options here (feel free to add more):

1. Only write subject ID a

[2020-06-17 16:25] tsalo commented on #252
I say we take our cue from heudiconv, which adds those columns (along with "group") and puts a `n/a` if the information is unavailable.

[2020-06-17 16:25] smoia commented on #227
@tsalo you have a bit more experience across the board... what's the general approach to this?

(PS: we can also open the discussion to other people that are not in `phys2bids`)

[2020-06-17 16:29] tsalo opened #253 "Should duecredit be a required or optional dependency?"
## Summary

#249 sets duecredit up as an optional dependency, but the devs should decide whether they want it as an optional or required dependency.

[duecredit](https://github.com/duecredit/duecredit) is a package for associating citations with code. The developer add decorators to functions with the appropriate citations for those functions. Then, when the users runs the code, they can use a due

[2020-06-17 16:53] tsalo commented on #253
I vote optional, FWIW. That's how we do it in `tedana` and `NiMARE`. The drawback is that making it an optional dependency means we need to include the `due.py` stub file in the repository to prevent import errors.

[2020-06-17 17:11] tsalo commented on #227
TBH I think that @emdupre and @jbteves have been the ones who have handled the `all-contributors` updates in `tedana`. I haven't really touched it. I don't remember seeing either of them discuss updating the contributor badges much, and I think everyone's been happy with their choices generally. The difference between `tedana` and `phys2bids`, though, is that the all-contributors list is separate

[2020-06-17 17:19] jbteves commented on #227
`tedana` definitely has a separate contributor and author list. I think @emdupre has been more on top of it than I have. As a general rule for any PR with a contribution type not already noted in our contributor list, I'll comment to have the new contribution type added just before approval. This seems to work alright but memory is fallible and so sometimes things go missing. Full automation for t

[2020-06-17 23:36] smoia commented on #227
The process of defining authors in scientific works is a topic during our next meeting. For the moment, there's a complete overlap with the all-contributors (that overlap with the dev team).
The main question here is "how do we interpret the all-contributors specification?"
Up until now, I tried to match other libraries use of it (then, today I had a look at tedana's all-contributors and some of m

[2020-06-17 23:42] smoia commented on #253
@tsalo , could you explain a bit more what is duecredit and why we should be using it? I'm not sure all of the physiopy developers know what it is!

[2020-06-17 23:44] smoia commented on #252
@marcelzwiers, what is the behaviour of BIDScoin?

[2020-06-17 23:45] smoia commented on #251
Cool @tsalo, thank you for looking around!
Do you want to create a documentation page or section?

[2020-06-18 07:36] eurunuela commented on #242
Thanks @vinferrer ! I guess it automatically closed when the #244 merged.

[2020-06-18 07:37] vinferrer commented on #242
Yeah don't worry it happens, I was looking for the issue and didn't find it so i supposed it was close

[2020-06-18 09:21] eurunuela commented on #253
Optional sounds good to me!

[2020-06-18 12:48] #248 closed

[2020-06-18 13:46] marcelzwiers commented on #252
In Bidscoin I use the `n/a` value, like this (participants_table is a pandas dataframe):
[code]

[2020-06-18 15:00] tsalo commented on #253
@smoia I updated the issue summary. Thanks for catching that.

[2020-06-18 15:04] tsalo commented on #251
It doesn't look like there's a good page in the docs for it, and I don't think it's big enough for a page of its own, so I think a section relatively low on the main docs page is the best option.

[2020-06-18 15:13] vinferrer commented on #242
We should close this issue

[2020-06-18 15:14] eurunuela commented on #242
I'd wait for #256.

[2020-06-18 15:18] tsalo opened #257 "Add 'auto' option for populate_phys_input chtrig parameter"
Users may not know which channel is the trigger channel, so it would help them to be able to auto-detect the trigger channel and, in the absence of useable information, raise an error with the names of the available channels.
## Context / Motivation

For any user who doesn't know/remember what their trigger channel is, they have to load the data to a `BlueprintInput` with some random number set as

[2020-06-18 15:21] eurunuela commented on #257
Is this related to #204 ?

[2020-06-18 15:22] smoia commented on #251
@tsalo you can also expand [this page](https://phys2bids.readthedocs.io/en/latest/bestpractice.html) to contain more sections - not only measurement but also analysis.

[2020-06-18 15:30] smoia commented on #257
This seems to be half way between #204 and the reason we have `-info` as an argument (to check files before running batches of phys2bids). What does it adds on top of the behaviour of `phys2bids -info` option?

[2020-06-18 15:52] tsalo commented on #257
I wasn't aware of `-info` when I opened the issue (my bad!), but there are still going to be users who don't use the workflow. Regarding #204, this is a much simpler solution to a much smaller problem. Instead of looking at the signal, this just looks at the channel names.

[2020-06-18 17:05] smoia commented on #257
What do you think if instead:

a. we create an alias list with "trig", "trigger", "TRIGGER", [...]
b. we raise a warning if the trigger channel's name does not contain any element in the alias list
c. if the user didn't give a trigger channel, we look into the names and check if there is a match to any element of the alias list. If there is not, we raise an error.

Reasoning: During data acquisiti

[2020-06-18 18:00] tsalo commented on #257
Absolutely. This would be perfect! So there's still an 'auto' option, but it's far more robust than what I originally planned, right? Plus a new check even when the trigger channel is provided.

[2020-06-18 21:16] RayStick commented on #233
@smoia - are you able to share a link to the software demo? Sorry if you have shared this somewhere but I cannot find it. If I am going to man some of the slots for the conference I want to make sure I am familiar with the content :)

[2020-06-19 07:20] eurunuela opened #258 "Reduce the amount of integration tests to make tests faster"
I'm opening this discussion because I think that we could probably get rid of a couple of the integration tests for the sake of speed in our testing. Integration tests are the ones that take the longer because they run the entire pipeline and there's a lot of file reading and checking, which is always slow.

So, I suggest we remove the [ACQ](https://github.com/physiopy/phys2bids/blob/8d42c28107574

[2020-06-19 11:52] eurunuela commented on #227
@sangfrois the new GitHub UI makes it easier to see who has contributed with commits. See the picture. SO you're somehow recognized by GitHub while we decide how we're using the allcontributors bot from now on.
![image](https://user-images.githubusercontent.com/13706448/85129836-18108200-b234-11ea-95ab-e434e7aa8289.png)

[2020-06-19 12:01] #258 closed

[2020-06-22 16:10] smoia commented on #233
@RayStick sorry for the superlate reply.

Some (many) things changed since I recorded the SD, so I'm going to record a new one today or tomorrow. I will then send you all the link to the new one so that you can familiarize with the content.
In the meantime, you can find the current SD version [here](https://drive.google.com/file/d/1b6D_ioeA-RGgNlR3WPF2_PoLA-h6p530/view?usp=sharing)

[2020-06-22 16:11] #36 closed

[2020-06-23 07:30] dependabot-preview[bot] opened #263 "Dependabot can't evaluate your Python dependency files"
Dependabot can't evaluate your Python dependency files.

As a result, Dependabot couldn't check whether any of your dependencies are out-of-date.

The error Dependabot encountered was:

[code]

[View the update logs](https://app.dependabot.com/accounts/physiopy/update-logs/37701188).

[2020-06-23 09:43] smoia commented on #233
@RayStick long story short I might *not* be able to record another Software Demo. If anyone else wants to do it (you or @eurunuela @vinferrer @sangfrois or anyone else) with the 2.1.0 release, please feel free to. If no one takes care of it and I manage to slide it in I'll try.

[2020-06-23 13:31] RayStick commented on #233
No worries! I won't be able to, as I have a bit of catching up to do, to use the latest version of phys2bids (as it seems everyone has been quite busy! 😄)

[2020-06-23 13:38] vinferrer opened #264 "Update documentation"
## Summary
In the last hackathon there has been many enhacements that render part of the documentation outdated.

We need to
## Next Steps

- [ ] add documentation about split multi-run physiological recordings
- [ ] Update Bidsdify data documentation now that we have the participants.tsv, description_file.json
- [ ] Update documentation now that most of the files go to ``code/coverage`` folder
-

[2020-06-23 14:06] sangfrois commented on #264
Thanks for the initiative @vinferrer !

Should we add testing for multirun as well in that PR or should it be another one?

[2020-06-23 18:24] eurunuela opened #265 "Multi run generates trigger plot without 0 before run number"
## Expected Behavior

Following the file naming style generally used by the multi-run pipeline, I guess one would expect the trigger plots to have the following file name `Test2_samefreq_TWOscans_01_trigger_time.png`.

## Actual Behavior

However, the multi-run pipeline saves trigger plots as `Test2_samefreq_TWOscans_1_trigger_time.png`.

## Steps to Reproduce the Problem

    1. Update phys2bids

[2020-06-24 10:08] vinferrer commented on #264
Actually each of those points could be a PR. The testing is independing from all this

[2020-06-24 12:29] smoia commented on #233
It turns out OHBM platform is... (how can I say it gently) *not the friendliest platform ever made*.

The software demo has a chat. If you're logged into the platform and don't mind being there (even outside of recommended moment), please drop a message in that chat saying you're there. You can also open the jitsi room we use for our meetings and leave the link in the chat.
Please check out the [c

[2020-06-24 15:20] RayStick commented on #233
Hi Stefano, a few comments/suggestions:

1. Nice demo! It was really clear.

2. I have watched the demo, read the changelog for version 2.1.0, and also ran the code locally (quite quickly) so should be okay to field general questions about the latest release (but if I am unsure, I will direct people elsewhere).

3. Does a chat function "open up" when it is actually the poster **time slot** I wonde

[2020-06-24 15:44] eurunuela commented on #233
Hey @RayStick

Feel free to direct them to me for latest release-related questions.

I guess we'll figure out soon. I'd start with the Gitter chat and move to a GitHub issue if we see it's becoming too difficult to follow. I'd definitely use Jitsi for demoing the software.

I already opened #265 and think there's no other multirun-related issue open. Open a new one if your comments are not related

[2020-06-24 15:47] eurunuela commented on #233
RE chat opening during poster-time: https://twitter.com/OHBM/status/1275817500018704384?s=20

[2020-06-24 15:48] RayStick commented on #233
@eurunuela thanks for your replies! I will direct questions your way, if and when they come up. Using Gitter chat then moving to a GitHub issue (if needed) makes sense to me!

My points are not covered by #265 so I will open a new issue soon!

[2020-06-24 15:54] vinferrer commented on #233
@RayStick  Actually we have to update the documentation after the recent changes #264 has a few points we have to update already. You are welcome to suggest moree

[2020-06-24 17:53] RayStick opened #267 "User Testing of 2.1.0"
I have done a bit of user testing on 2.1.0 today. Apologies if these issues are covered in another Issue or PR somewhere - I don't think they are, but there has been a lot of activity recently so I may have missed it!

Firstly, it's great to see the code support multi-run files - well done all involved!

I called phys2bids with two different multi-run input files. One works, and one doesn't.

## E

[2020-06-24 17:53] RayStick commented on #267
@sangfrois @smoia @rmarkello @vinferrer

[2020-06-24 17:59] RayStick commented on #267
@eurunuela is the 'testing' label just for unit tests?

[2020-06-24 18:00] eurunuela commented on #267
I'd say the multi-run option is not perfect atm. Maybe @smoia and @sangfrois can give us a more detailed insight.

The testing label is for PRs that add tests or issues that request tests . I don't think this is the case, but add it back if you think it is.

[2020-06-24 18:03] RayStick commented on #267
Sorry, I should actually read the label descriptions ... !

[2020-06-24 18:07] eurunuela commented on #267
No problem! It’s not very clear and the guidelines are not up to date so I’m not so sure either.

[2020-06-24 18:57] sangfrois commented on #267
Hi @RayStick
Glad to read you are getting familiar with the new ``multirun`` option we pushed for in #36

No, we do not at the moment. thanks for addressing it.

Same thing here, we do not have a way to deal with unwanted triggers as ``slice4phys`` uses ``check_trigger_amount`` method of ``Blueprintinput`` class, and that means trigger detection and manipulation is done at the same time. In practi

[2020-06-24 19:28] tsalo commented on #267
My approach doesn't look at TR (except to calculate duration of each scan), so it's possible that it could help.

[2020-06-25 06:11] oesteban commented on #192
Sorry to join late to the party. Besides the use of <0.x for betas, this is what we have ended up doing in fMRIPrep - https://www.nipreps.org/devs/releases/

[2020-06-25 08:11] smoia commented on #192
Hi @oesteban ! No worries, better late than never! Glad you joined the party.

Calendar versioning is actually an interesting approach that we could take into account for our development! If I'm not wrong, AFNI follows the same scheme, right?
@physiopy/all what do you think about it?

[2020-06-25 08:40] eurunuela commented on #192
I'm not a fan of calendar versioning myself. People usually associate the version number to how advanced the development is. So, it can give the impression of phys2bids being super developed and that's not the case.

As I previously said, and as Óscar mentioned, I'd use anything below 1.0.0 for betas.

[2020-06-25 15:57] RayStick commented on #267
Hi Stefano, no problem. I agree that this is not a bug if we are not meant to be supporting files that (1) have uneven TRs and (2) have TRs that we want to ignore, at the moment. And I completed forget about the UserTesting file - sorry! Will use that in future for notes like this.

**I plan to:**
1. Make a few issues related to enhancements that could be good for future (support uneven TRs, ignor

[2020-06-25 18:28] RayStick commented on #267
And just to point out (which I may not have been clear about before): the errors I got where to do with using the the _four_scans_ file, and not to do with the multi-run implementation itself i.e. if the problematic scan3 was in a file on its own (one run) the code will still fail to process it.

[2020-06-25 18:45] RayStick opened #268 "Deal with unwanted TRs or TRs with uneven spacing"
At the moment, phys2bids assumes that TRs _within_ each scan have even spacing. It also assumes that all the TRs in your file are correct and complete, and sometimes this may not be the case.

## Detailed Description
For some MRI scans with functional contrast (e.g. Arterial Spin Labelling) there will often be some "prep scans" before the main acquisition, that have corresponding triggers, but the

[2020-06-25 18:47] RayStick commented on #267
I am closing this issue now because:

(1) I have updated the user testing documentation [here](https://docs.google.com/document/d/1XPKg7gBFocbiy58KFT6PWjdQjdxnxFSZL_TbnsQT8g4/edit#)
(2) I have made a new issue [here](https://github.com/physiopy/phys2bids/issues/268)

[2020-06-25 18:47] #267 closed

[2020-06-25 18:48] tsalo commented on #268
To clarify- #219 still needs an estimate of total scan duration, and currently uses `RepetitionTime` * number of volumes. However, it would be easy enough to try extracting the `AcquisitionDuration` metadata field for each scan, if it's available. For more information about this field and when it should be available, please see [here](https://bids-specification.readthedocs.io/en/stable/04-modality

[2020-06-25 18:51] RayStick commented on #268
Thanks @tsalo!

[2020-06-25 19:02] RayStick commented on #264
Mention somewhere in the documentation that:
-  TRs within a scan are assumed to have even spacing.
-  All TRs are considered at the moment (none can be ignored)

[2020-06-26 00:16] oesteban commented on #192
We found that semantic versioning had too much granularity for us. In the end, with the software progressing fast, it was easier to define clear rules of when the patch version would change and push a new minor for everything else.

Finally the year at the front gives us a very clear idea of how old is the version of the user.

[2020-06-26 06:59] eurunuela commented on #192
I totally get it and understand the reasons behind that decision. My concern is I am not sure we're developing fast enough for such a versioning approach.

[2020-06-26 18:01] yarikoptic opened #269 "FYI: BEP021 Common Electrophysiological Derivatives"
https://docs.google.com/document/d/1PmcVs7vg7Th-cGC-UrX8rAhKUHIzOI-uIOh69_mvdlw/edit#heading=h.gq2h70xj8umu  I think of relevance/needed alignment/collaboration

[2020-06-29 21:15] RayStick commented on #233
Hi all, I was down to cover the software demo today but unfortunately I don’t think I will be able to, sorry. I can still do tomorrow though.

[2020-06-29 21:54] eurunuela commented on #233
No problem @RayStick ! Unfortunately, it doesn’t look like many people are checking in lately...

[2020-06-29 21:57] RayStick commented on #233
Yeah, that's the impression I got too.

[2020-06-29 22:07] smoia commented on #233
Don't despair!
Not a big deal if we don't cover tonight's SD, but @RayStick could you please leave a message in the chat inviting people to engage here, in Gitter, or writing to s.moia@bcbl.eu?

If you can (everyone), please engage on social media and invite people to visit the poster, the SD, and our tools in general!

[2020-06-29 22:22] RayStick commented on #233
Yes, I can do that!

[2020-07-02 19:51] pvelasco commented on #251
Clarification: [cbinyu/bidsphysio](https://github.com/cbinyu/bidsphysio) started with CMRR physio data stored in the DICOM files, but now it also handles AcqKnowledge and PMU files. We are working on EyeLink files too, and on automating the BIDS file-naming by using @tsalo's `conversion.py` module.

[2020-07-02 19:53] tsalo commented on #251
Ah yes sorry about that @pvelasco. When I found out that bidsphysio had a larger scope than I originally thought, I updated the list under "Possible Implementation" but forgot to update the paragraph in "Context / Motivation".

[2020-07-02 22:54] smoia commented on #185
I believe this is closed now?

[2020-07-02 23:07] smoia commented on #252
Given that the two DICOM bidsifiers we're adopting as reference have a "n/a" value for missing field, I would do the same.
I think this is the current behaviour, right @eurunuela? If so, and there is no strong opinion against it, we can close this issue.

[2020-07-02 23:18] smoia opened #270 "When running the multi-run pipeline, should we use "run" or another word to refer to the scans?"
Instead of using "run" to indicate a scan, we could use a different token - "take" or "scan" for instance.

## Detailed Description

At the moment, the multi-run pipeline divides recordings into chunks and indexes them using the "run" label.
The thing is that "run" is a label with a precise meaning in BIDS, and despite the definition might be slightly _loose_, it might be better to use a different

[2020-07-03 07:59] eurunuela commented on #252
That's the current behavior. Closing the issue then.

[2020-07-03 07:59] #252 closed

[2020-07-03 08:00] #185 closed

[2020-07-03 16:48] smoia opened #271 "phys2bids July Community call (09.07.2020 @ 14.30 UTC / 9.30 AM CDT/ 10.30 AM EDT / 16.30 CEST)"
The call will take place over **jitsi** [here](https://meet.jit.si/phys2bids).
Jitsi doesn't require to install any additional software but a web browser, if you want to connect by desktop (it will require to install the app to be used on handheld devices). Trying beforehand that the platform works as expected is suggested.
This is the last chance we give to jitsi, if we see that it doesn't work,

[2020-07-04 14:08] tsalo commented on #270
In the specification, a "run" is referred to as a synonym of a "data acquisition", which is "a continuous uninterrupted block of time during which a brain scanning instrument was acquiring data according to particular scanning sequence/protocol." However, I'm hoping to differentiate the two at some point, for reasons related to BEP001 and reflected here. My point being that "data acquisition" (or

[2020-07-04 14:12] tsalo commented on #268
@RayStick, I'm not very familiar with [BEP005](https://docs.google.com/document/d/15tnn5F10KpgHypaQJNNGiNKsni9035GtDqJzWqkkP6c/edit), but does it require that the calibration scan(s) be split into a separate file? Are those the same as the `m0scan` suffix in the BEP?

[2020-07-06 14:19] tsalo opened #272 "Trigger channel index is not incremented in acq populate_phys_input"
# Updated Issue

The acq-generated `BlueprintInput` objects' `trigger_index` attribute does not correspond to the actual trigger channel index.
The trigger index needs to be incremented down in the acq version of `populate_phys_input()`.

# Original Issue

When time is added as a channel to the time series data, the trigger channel index needs to be incremented, or else it will not reference the t

[2020-07-06 14:30] smoia commented on #272
Uh, this is indeed a bug. However, I'm not totally sure the proposed solution is the one we should be following.

In fact, at a certain point we decided to switch to channel numbering *starting from 1 to be human friendly*, rather than from 0 (see [here](https://github.com/physiopy/phys2bids/blob/a2493bf383d3a7668c549099215bd3ddd60f8831/phys2bids/interfaces/txt.py#L322). We need to change the help

[2020-07-07 14:15] tsalo commented on #272
To clarify, would that mean that acq-generated objects have channels starting at 1 and txt-generated ones have channels starting at 0?

[2020-07-07 16:29] eurunuela commented on #272
They should all start at 1.

[2020-07-07 16:35] smoia commented on #272
@eurunuela do the tests (integration) work with that in mind?

[2020-07-07 16:36] eurunuela commented on #272
They should. That change was added some months ago already and I'm pretty sure @vinferrer updated the tests.

[2020-07-07 16:42] smoia commented on #272
So in theory the only thing we need to correct (or see it is correct) are the docstrings and the CLI, right?

[2020-07-07 16:58] smoia opened #273 "Refactor interfaces/txt.py use of chtrig channel"
After the discussion in #272 , I understand how the current use of `chtrig` in `interfaces/txt.py` can lead to confusion.
I'd propose a very quick, very neat refactoring to lower the chances of confusion while reading the code

## Detailed Description

In [this line](https://github.com/physiopy/phys2bids/blob/a2493bf383d3a7668c549099215bd3ddd60f8831/phys2bids/interfaces/txt.py#L152) and [this line

[2020-07-07 17:04] eurunuela commented on #272
Sounds like that's right.

[2020-07-07 17:15] tsalo commented on #272
The trigger index needs to be incremented _down_ in the acq version of `populate_phys_input()` too, though, right?

[2020-07-07 17:19] smoia commented on #272
@tsalo I very honestly don't remember :see_no_evil: . Let me try it out.

[2020-07-07 17:21] tsalo commented on #272
@smoia Thanks! I am guessing it's the case because, when I opened the issue it was because the trigger index in the Physio object didn't match the trigger channel in the time series attribute. I ended up adjusting for this in my multi-run workflow [here](https://github.com/physiopy/phys2bids/pull/219/files#diff-5ec2497b564a8bc52b3473b2d5d56064R348).

[2020-07-07 17:32] smoia opened #274 "Add (resampled) trigger channel in every multifreq output"
This comes from #219. It would be a good idea (not mandatory, but good) to add a refactored trigger channel in each output in case of multiple outputs due to multifrequency files.
At the moment we're not doing it!

## Context / Motivation

It would help improving (visual) comparison between traces and fMRI trigger!

## Possible Implementation

- [ ] Create a resampled trigger channel for each (uni

[2020-07-07 18:11] smoia commented on #272
@tsalo I hope that the bugfix I opened fixes it.

[2020-07-07 18:16] tsalo commented on #272
Thank you @smoia. I've updated the post at the beginning of the thread to reflect the actual bug. The issue title is still mostly accurate, so I'm going to leave it for now.

[2020-07-09 10:36] eurunuela commented on #239
Any update on this @smoia ?

[2020-07-09 10:43] smoia commented on #239
I had zero time to look at this, probably won't do it before the end of next week unluckily.

[2020-07-09 14:24] smoia opened #276 "Testing error raises"
We should add testing of those cases that we know should break the code - basically, to check that we raise exceptions when we should.

## Context / Motivation

Why? Because it's fun! And also because it reduces even more the possibility of mistakes.

## Possible Implementation

- [ ] (necessary) Cover all the `raise Exception` statements with [pytest](https://docs.pytest.org/en/stable/assert.html

[2020-07-09 16:21] sangfrois commented on #233
I'm closing this, since we're done with OHBM2020. See you during the next annual meeting 🥇

[2020-07-09 16:21] #233 closed

[2020-07-09 16:53] tsalo commented on #24
Is this a good place to ask about how people typically set up their triggers and recordings? I'm curious to know what the distribution of setups looks like. Perhaps a poll on Twitter would also help?